@import "../MsfsAvionicsCommon/definitions.scss";
@import "animations";

@font-face {
  font-family: "Ecam";
  //noinspection CssUnknownTarget
  src: url("/Fonts/fbw-a32nx/ECAMFontRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NDChrono";
  //noinspection CssUnknownTarget
  src: url("/Fonts/fbw-a32nx/NDChrono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.nd-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 768px;
  height: 768px;
  background: transparent;
  //background: $display-background;
  font-family: "Ecam", monospace !important;
}

.nd-canvas-map {
  transform: rotateX(0deg);
}

.nd-top-layer {
  transform: rotateX(0deg);
  background: none;
}

.PulseCyanFill {
  @include GenericPulsingFill($display-cyan, pulse-cyan-fill);
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.PulseAmber9Seconds {
  @include GenericPulsingFill($display-amber, pulse-amber-fill);
  animation-duration: 1s;
  animation-iteration-count: 9;
}

.BarAmber {
  fill: $display-amber;
  stroke: $display-amber;
  stroke-width: 0.13px;
}
.BarRed {
  fill: $display-red;
  stroke: $display-red;
  stroke-width: 0.11px;
}

.SmallStroke {
  stroke-width: 0.10mm;
  stroke-linecap: round;
}

.NormalStroke {
  stroke-width: 0.16mm;
  stroke-linecap: round;
}

.ThickStroke {
  stroke-width: 0.22mm;
  stroke-linecap: round;
}

.HugeStroke {
  stroke-width: 0.32mm;
  stroke-linecap: round;
}

.SmallOutline {
  stroke-width: 0.09mm;
  stroke: $display-background !important;
  paint-order: markers stroke fill;
}
.NormalOutline {
  stroke-width: 0.21mm;
  stroke: $display-background;
  fill: none;
  stroke-linecap: round;
}
.ThickOutline {
  stroke-width: 0.29mm;
  stroke: $display-background;
  fill: none;
  stroke-linecap: round;
}
.HugeOutline {
  stroke-width: 0.39mm;
  stroke: $display-background;
  fill: none;
  stroke-linecap: round;
}

.CornerRound {
  stroke-linejoin: round;
}

.TextOutline {
  paint-order: stroke fill markers;

  stroke-width: 0.05mm;
  stroke: $display-background !important;
}

$font-factor: 5;

.FontLargest {
  font-size: #{7px * $font-factor};
}

.FontLarge {
  font-size: #{6.5px * $font-factor};
}

.FontMedium {
  font-size: #{6px * $font-factor};
}

.FontIntermediate {
  font-size: #{5.5px * $font-factor};
}

.FontSmall {
  font-size: #{5px * $font-factor};
}

.FontSmallest {
  font-size: #{4.5px * $font-factor};
}

.FontTiny {
  font-size: #{4px * $font-factor};
}

.StartAlign {
  text-align: start;
  text-anchor: start;
}
.MiddleAlign {
  text-align: center;
  text-anchor: middle;
}
.EndAlign {
  text-align: end;
  text-anchor: end;
}

.Magenta {
  fill: none;
  stroke: $display-magenta;
}
text.Magenta,
tspan.Magenta,
.Magenta text,
.Magenta tspan {
  fill: $display-magenta;
  stroke: none;
}

.Cyan {
  fill: none;
  stroke: $display-cyan;
}
text.Cyan,
tspan.Cyan,
.Cyan text,
.Cyan tspan {
  fill: $display-cyan;
  stroke: none;
}

.None {
  fill: none;
  stroke: none;
}

.White {
  fill: none;
  stroke: $display-white;
}
.White.Fill {
  fill: $display-white;
  stroke: none;
}
text.White,
tspan.White,
.White text,
.White tspan {
  fill: $display-white;
  stroke: none;
}

.Green {
  stroke: $display-green;
  fill: none;
}

.Green.Fill {
  fill: $display-green;
  stroke: none;
}

text.Green,
tspan.Green,
.Green text,
.Green tspan {
  fill: $display-green;
  stroke: none;
}

.Amber {
  stroke: $display-amber;
  fill: none;
}
text.Amber,
tspan.Amber,
.Amber text,
.Amber tspan {
  fill: $display-amber;
  stroke: none;
}

.Yellow {
  stroke: $display-yellow;
  fill: none;
}
.Yellow.Fill {
  fill: $display-yellow;
  stroke: none;
}
text.Yellow,
tspan.Yellow,
.Yellow text,
.Yellow tspan {
  fill: $display-yellow;
  stroke: none;
}

.Red {
  stroke: $display-red;
  fill: none;
}
.Red.Fill {
  fill: $display-red;
  stroke: none;
}
text.Red,
tspan.Red,
.Red text,
.Red tspan {
  fill: $display-red;
  stroke: none;
}

.Grey {
  stroke: $display-grey;
  fill: none;
}
.Grey.Fill {
  fill: $display-grey;
  stroke: none;
}

.EarthFill {
  fill: #9c480c;
}
.SkyFill {
  fill: #0698ff;
}
.BlackFill {
  fill: $display-background;
}

.TapeBackground {
  fill: $display-grey;
  stroke: none;
}
.BackgroundFill {
  fill: $display-background;
  fill-rule: evenodd;
}

circle.shadow,
line.shadow,
path.shadow,
rect.shadow {
  stroke: $display-background;
  fill: none;
}

.ModeChangedPath {
  visibility: visible !important;
}

.HiddenElement {
  display: none;
}


.chrono {
  font-family: "NDChrono", monospace !important;
}

.nd-inverted-map-area {
  background: $display-background;
  fill: rgb(4,4,5);
}
