@import "../../style";
@import "../../../Common/definitions";

#main-wheel {
  /** Common **/
  .shape {
    stroke-width: 1.5;
    fill: none;
  }
  .shape path {
    stroke: inherit;
  }

  /* Colors */
  .color-white {
    fill: var(--displayWhite);
    stroke: var(--displayWhite);
  }
  .color-gray {
    fill: var(--displayLightGrey);
    stroke: var(--displayLightGrey);
  }
  .shape.color-gray {
    fill: none;
  }
  .color-green {
    fill: var(--displayGreen);
    stroke: var(--displayGreen);
  }
  .shape.color-green {
    fill: none;
  }
  .color-amber {
    fill: var(--displayAmber);
    stroke: var(--displayAmber);
  }
  .shape.color-amber {
    fill: none;
  }
  .color-red {
    fill: var(--displayRed);
    stroke: var(--displayRed);
  }
  .shape.color-red {
    fill: transparent !important;
  }

  /* Big text */
  .big-text {
    font-size: 20px;
    text-anchor: middle;
  }

  .medium-text {
    font-size: 17px;
  }

  .align-left {
    text-anchor: start !important;
  }

  /*  Brake indicators */
  .wheel-set-brake-arch {
    transform: scale(0.85, 0.5);

    stroke: hsl(240, 9%, 77%);
    stroke-width: 4;

    &.green {
      fill: var(--displayGreen);
      stroke: var(--displayGreen);
    }

    &.amber {
      fill: var(--displayAmber);
      stroke: var(--displayAmber);
    }
  }
  .wheel-set-brake-number {
    fill: var(--displayWhite);
    font-size: 18px;
    text-anchor: middle !important;
  }
  .wheel-set-brake-celsius-marker {
    fill: var(--displayCyan);
    font-size: 15px;
    text-anchor: middle !important;
  }
  .wheel-set-brake-rel-marker {
    fill: var(--displayWhite);
    font-size: 18px;
    text-anchor: middle !important;
  }
  .wheel-set-brake-temp {
    fill: var(--displayGreen);
    stroke: var(--displayGreen);
    font-size: 18px;
    text-anchor: end !important;
  }
  .wheel-set-brake-temp-amber {
    fill: var(--displayAmber);
    stroke: var(--displayAmber);
    font-size: 18px;
    text-anchor: end !important;
  }

  /* Landing gear indicators */
  .gear-door-side-line {
    fill: var(--displayWhite);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-width: 1.5;
    stroke: var(--displayWhite);
  }
  .gear-door-line {
    stroke: var(--displayGreen);
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-width: 1.5;
  }
  .gear-door-in-transit-line {
    stroke: var(--displayAmber);
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-width: 1.5;
  }
  .gear-door-joint {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-width: 1.5;
    stroke: var(--displayWhite);
  }
  .gear-failed-lgciu-xx {
    transform: translateY(-45px) scaleY(1.15);
  }
}
