@font-face {
  font-family: "ECAMFontRegular";
  src: url("/Fonts/ECAMFontRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --displayBackground: rgba(13, 20, 35, 1);
  --displaySeparator: #3c3c3c;
  --displaySeparatorLight: #aaaaaa;

  --displayWhite: #ffffff;
  --displayGrey: #787878;
  --displayDarkGrey: #b3b3b3;
  --displayLightGrey: lightgray;
  --displayAmber: #e68000;
  --displayCyan: #00ffff;
  --displayGreen: #00ff00;
  --displayMagenta: #ff94ff;
  --displayRed: #ff0000;
  --displayYellow: #ffff00;

  --mcduWhite: #ffffff;
  --mcduLightGrey: #666666;
  --mcduGrey: #787878;
  --mcduGreen: #00ff00;
  --mcduAmber: #e68000;
  --mcduBlue: #00ffff;
  --mcduYellow: #ffff00;
  --mcduRed: #ff9a00;
  --mcduMagenta: #ff94ff;
}

div {
  font-family: "ECAMFontRegular" !important;
}

text {
  font-family: "ECAMFontRegular" !important;
}

.Separator {
  stroke: var(--displaySeparator);
  stroke-width: 4;
  fill: none;
}

/* change from PageTitle */
.PageTitle {
  fill: var(--displayWhite);
  font-size: 25px;
  text-decoration: underline;
}
#PageTitle {
  fill: var(--displayWhite);
  font-size: 25px;
  text-decoration: underline;
}
.ECAMTitle {
  fill: var(--displayWhite);
  font-size: 25px;
  text-decoration: underline;
}

.normalText {
  fill: var(--displayWhite);
}
.unitText {
  fill: var(--displayCyan);
}
.valueText {
  fill: var(--displayGreen);
}
.warningText {
  fill: var(--displayAmber);
}
.dangerText {
  fill: var(--displayRed);
}

.text-xs {
  font-size: 14px;
}
.text-s {
  font-size: 16px;
}
.text-m {
  font-size: 18px;
}
.text-l {
  font-size: 20px;
}
.text-xl {
  font-size: 22px;
}
.text-xxl {
  font-size: 24px;
}

.greenShapeFill {
  stroke: var(--displayGreen);
  fill: var(--displayGreen);
}
.amberShapeFill {
  stroke: var(--displayAmber);
  fill: var(--displayAmber);
}
.redShapeFill {
  stroke: var(--displayRed);
  fill: var(--displayRed);
}
.greyShapeFill {
  stroke: var(--displayGrey);
  fill: var(--displayGrey);
}
.greenShapeOutline {
  stroke: var(--displayGreen);
  fill: none;
}
.amberShapeOutline {
  stroke: var(--displayAmber);
  fill: none;
}
.redShapeOutline {
  stroke: var(--displayRed);
  fill: none;
}
.greyShapeOutline {
  stroke: var(--displayGrey);
  fill: none;
}

:root strokeExtraThin {
  stroke-width: 1px;
}
:root strokeThin {
  stroke-width: 2px;
}
:root strokeRegular {
  stroke-width: 3px;
}
:root strokeThick {
  stroke-width: 4px;
}
:root strokeExtraThick {
  stroke-width: 5px;
}
:root strokeSuperThick {
  stroke-width: 6px;
}

.engineering-mode-overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  border: none;
  z-index: 999;
  background-image: url(/css/thalesTest.svg);
  background-size: cover;
}

.engineering-mode-overlay text {
  font-size: 21px;
  text-anchor: middle;
  color: black;
}

.engineering-mode-overlay text.start {
  font-size: 21px;
  text-anchor: start;
  color: black;
}

.maintenance-mode-overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  border: none;
  z-index: 990;
}
