.slider {
  @apply bg-theme-accent;
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  outline: none;
}

@mixin slider-handle {
  @apply bg-theme-highlight;
  @apply rounded-full;
  @apply border-0;
  @apply shadow-lg;

  $slider-size: 14px;

  width: $slider-size !important;
  height: $slider-size !important;

  transform: translateY(10px);

  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  @include slider-handle;
  -webkit-appearance: none;
}

.slider::-moz-range-thumb {
  @include slider-handle;
  appearance: none;
}
