@import "../../Common/definitions.scss";

.HydraulicIndicator {
  &.HydBgShape {
    fill: $display-grey;
    stroke: none;
  }

  &.Standard {
    font-size: $font-size-larger;
  }

  &.Value {
    fill: $display-green;
  }

  &.Warning {
    fill: $display-amber;
  }
}
