@import "../Common/definitions";

.hyd {
    text {
        fill: $display-white;
    }

    line, path, rect {
        stroke-width: 3;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    image {
        opacity: 0.5;
        overflow: hidden;
    }

    .hyd-engine-pump {
        .hyd-engine-pump-label {
            stroke: white;
            stroke-width: 2px;
        }

        .hyd-engine-pump-disc {
            stroke-width: 1px;
        }

        text.Amber {
            stroke: $display-amber;
        }

        rect {
            stroke-width: 3px;
        }
    }

    .hyd-system-label {
        font-size: 22px;

        text.Amber {
            stroke: $display-amber;
        }

        text.Green {
            stroke: $display-green;
        }

        text.Cyan {
            stroke: $display-cyan;
        }

        text.White {
            stroke: $display-white;
        }
    }

    .hyd-reservoir {
        .hyd-reservoir-low {
            stroke-width: 1px;
            fill: $display-amber;
            stroke: $display-background;
        }

        .hyd-reservoir-normal {
            stroke-width: 1px;
            fill: $display-green;
            stroke: $display-background;
        }

        .hyd-reservoir-normal-fail {
            stroke-width: 1px;
            fill: $display-white;
            stroke: $display-background;
        }

        .hyd-reservoir-normal-fail-x {
            stroke-width: 2px;
        }
    }

    .hyd-elec-pumps {
        text.White {
            stroke: $display-white;
        }

        text.Amber {
            stroke: $display-amber;
        }

        .hyd-elec-pump {
            path {
                stroke-width: 2px
            }

            .GreenFill {
                fill: $display-green
            }

            .AmberFill {
                fill: $display-amber;
            }
        }
    }

}