@import url("/CSS/A32NX_Display_Common.css");

a320-neo-lower-ecam-ftcl {
    display: block;
    position: absolute;
    top: -5%;
    bottom: 5%;
    left: 0%;
    width: 100%;
    height: 100%;
}
a320-neo-lower-ecam-ftcl text {
    text-anchor: middle;
    alignment-baseline: central;
}

a320-neo-lower-ecam-ftcl .MainShape {
    fill: transparent;
    stroke: var(--displayLightGrey);
    stroke-width: 2;
}
a320-neo-lower-ecam-ftcl .MainShapeWarning {
    fill: transparent;
    stroke: var(--displayAmber);
    stroke-width: 2;
}
a320-neo-lower-ecam-ftcl .MainShape4 {
    fill: transparent;
    stroke: var(--displayLightGrey);
    stroke-width: 4;
}
a320-neo-lower-ecam-ftcl .GreenShape {
    fill: transparent;
    stroke: var(--displayGreen);
    stroke-width: 2;
}
a320-neo-lower-ecam-ftcl .GreenShapeThick {
    fill: transparent;
    stroke: var(--displayGreen);
    stroke-width: 3;
}
a320-neo-lower-ecam-ftcl .WarningShape {
    fill: transparent;
    stroke: var(--displayAmber);
    stroke-width: 2
}
a320-neo-lower-ecam-ftcl .HydBgShape {
    fill: var(--displayGrey);
    stroke: none;
}


a320-neo-lower-ecam-ftcl text.Title {
    font-size: 25px;
    fill: var(--displayWhite);
}
a320-neo-lower-ecam-ftcl text.Note {
    font-size: 11pt;
    fill: var(--displayWhite);
}
a320-neo-lower-ecam-ftcl text.Note15 {
    font-size: 13pt;
    fill: var(--displayWhite);
}
a320-neo-lower-ecam-ftcl text.Unit {
    font-size: 14pt;
    fill: var(--displayCyan);
}
a320-neo-lower-ecam-ftcl text.Value {
    font-size: 14pt;
    fill: var(--displayGreen);
}
a320-neo-lower-ecam-ftcl text.Value12 {
    font-size: 12pt;
    fill: var(--displayGreen);
}
a320-neo-lower-ecam-ftcl text.Value15 {
    font-size: 15pt;
    fill: var(--displayGreen);
}
a320-neo-lower-ecam-ftcl text.Value15Warning {
    font-size: 15pt;
    fill: var(--displayAmber);
}
a320-neo-lower-ecam-ftcl text.ValueWhite {
    font-size: 14pt;
    fill: var(--displayWhite);
}
a320-neo-lower-ecam-ftcl text.Warning {
    font-size: 18px;
    fill: var(--displayAmber);
}
