@import url("/CSS/A32NX_Display_Common.css");

:root {
  --bodyHeightScale: 1; }

@keyframes TemporaryShow {
  0%, 100% {
    visibility: visible; } }

@keyframes TemporaryHide {
  0%, 100% {
    visibility: hidden; } }

#highlight {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10; }

#Electricity {
  width: 100%;
  height: 100%; }
  #Electricity[state=off] {
    display: none; }

a320-neo-sai {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  a320-neo-sai #Mainframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative; }
  a320-neo-sai #Horizon {
    position: absolute;
    height: 80%;
    bottom: 16%;
    left: 22%;
    right: 28%;
    width: auto;
    z-index: -1; }
  a320-neo-sai #Altimeter {
    position: absolute;
    left: 50%;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 1; }
  a320-neo-sai #Airspeed {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 1; }
a320-neo-sai #Pressure {
  position: absolute;
  left: 33.3%;
  bottom: 9.5%;
  width: 200px;
  height: 30px;
  z-index: 1;
}
