@import "../../../Common/definitions.scss";

#ApuSd {

    #texts {

        .Hide {
            display:none;
        }

        .Title {
            font-size: 24px;
            fill: $display-white;
        }
    }

    #shapes {

        .GreenLine {
            stroke: $display-green;
            stroke-width: 3;
            fill: none;
        }

        .WhiteBox, .Separator {
            stroke: $display-white;
            stroke-width: 2;
            fill: none;
        }
    }

    .APUGen {
        fill: $display-green;
        font-size: $font-size-larger;
    }

    
    .APUInfo {
        fill: $display-green;
        font-size: $font-size-title;
    }


    .APUGenParamValue {
        fill: $display-green;
        font-size: $font-size-xlarge;
        text-anchor: end;
    }

    .APUGenParamUnit {
        fill: $display-cyan;
        font-size: $font-size-xlarge;
        text-anchor: start;
    }

    .APUBleed {
        fill: $display-white;
        font-size: $font-size-xlarge;
    }

}