@import "../../../Common/definitions";

#main-apu {
    .Box {
        stroke: #EEEEEE;
        fill: none;
        stroke-width: 2.5px;
    }

    text {
        fill: #EEEEEE;
        font-size: 19px;

        &.Center {
            text-anchor: middle;
            text-align: center;
        }

        &.Right {
            text-anchor: end;
            text-align: end;
        }

        &.Green {
            fill: $display-green;
        }

        &.Amber {
            fill: $display-amber;
        }

        &.Cyan {
            fill: $display-cyan;
        }

        &.FontTitle {
            font-size: $font-size-title;
        }
    }

    .Line {
        stroke: #00FF00;
        stroke-width: 2.5px;

        &.White {
            stroke: $display-white;
        }

        &.Grey {
            stroke: $display-grey;
        }
    }

    .Circle {
        stroke: #00FF00;
        fill: none;
        stroke-width: 2.5px;
    }
}
