@import "../Common/definitions";
@import "animations";

@font-face {
  font-family: "Ecam";
  //noinspection CssUnknownTarget
  src: url("/Fonts/fbw-a380x/FBW-Display-EIS-A380.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.pfd-svg {
  position: absolute;
  width: 768px;
  height: 1024px;
  background: $display-background;
  font-family: "Ecam", monospace !important;
}

.PulseCyanFill {
  @include GenericPulsingFill($display-cyan, pulse-cyan-fill);
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.PulseAmber9Seconds {
  @include GenericPulsingFill($display-amber, pulse-amber-fill);
  animation-duration: 1s;
  animation-iteration-count: 9;
}

.DisappearAfter10Seconds {
  animation: Disappear 0s 10s forwards;
}

.BarAmber {
  fill: $display-amber;
  stroke: $display-amber;
  stroke-width: 0.13px;
}
.BarRed {
  fill: $display-red;
  stroke: $display-red;
  stroke-width: 0.11px;
}

.SmallStroke {
  stroke-width: 0.10mm;
  stroke-linecap: round;
}

.NormalStroke {
  stroke-width: 0.16mm;
  stroke-linecap: round;
}

.ThickStroke {
  stroke-width: 0.22mm;
  stroke-linecap: round;
}

.HugeStroke {
  stroke-width: 0.32mm;
  stroke-linecap: round;
}

.SmallOutline {
  stroke-width: 0.09mm;
  stroke: $display-background !important;
  paint-order: markers stroke fill;
}
.NormalOutline {
  stroke-width: 0.21mm;
  stroke: $display-background;
  fill: none;
  stroke-linecap: round;
}
.ThickOutline {
  stroke-width: 0.29mm;
  stroke: $display-background;
  fill: none;
  stroke-linecap: round;
}
.HugeOutline {
  stroke-width: 0.39mm;
  stroke: $display-background;
  fill: none;
  stroke-linecap: round;
}

.CornerRound {
  stroke-linejoin: round;
}

.TextOutline {
  paint-order: stroke fill markers;

  stroke-width: 0.05mm;
  stroke: $display-background !important;
}

.FontLargest {
  font-size: 7px;
}

.FontLarge {
  font-size: 6.5px;
}

.FontMedium {
  font-size: 6px;
}

.FontIntermediate {
  font-size: 5.5px;
}

.FontMediumSmaller {
  font-size: 5.4px;
}

.FontSmall {
  font-size: 5px;
}

.FontSmallest {
  font-size: 4.5px;
}

.FontTinyToSmallest {
  font-size: 4.3px;
}

.FontTiny {
  font-size: 4px;
}

.StartAlign {
  text-align: start;
  text-anchor: start;
}
.MiddleAlign {
  text-align: center;
  text-anchor: middle;
}
.EndAlign {
  text-align: end;
  text-anchor: end;
}

.Magenta {
  fill: none;
  stroke: $display-magenta;
}
text.Magenta {
  fill: $display-magenta;
  stroke: none;
}
tspan.Magenta {
  fill: $display-magenta;
  stroke: none;
}
.Fill.Magenta {
  fill: $display-magenta;
}

.Cyan {
  fill: none;
  stroke: $display-cyan;
}
.Cyan.Fill.Stroke {
  fill: $display-cyan;
  stroke: $display-cyan;
}
text.Cyan {
  fill: $display-cyan;
  stroke: none;
}
tspan.Cyan {
  fill: $display-cyan;
  stroke: none;
}

.None {
  fill: none;
  stroke: none;
}

.White {
  fill: none;
  stroke: $display-white;
}
.White.Fill {
  fill: $display-white;
  stroke: none;
}
.White.Fill.Stroke {
  fill: $display-white;
  stroke: $display-white;
}
text.White {
  fill: $display-white;
  stroke: none;
}
tspan.White {
  fill: $display-white;
  stroke: none;
}

.Black {
  fill: none;
  stroke: $display-background;
}
.Black.Fill {
  fill: $display-background;
  stroke: none;
}
.Black.Fill.Stroke {
  fill: $display-background;
  stroke: $display-background;
}
text.Black {
  fill: $display-background;
  stroke: none;
}
tspan.Black {
  fill: $display-background;
  stroke: none;
}

.Green {
  stroke: $display-green;
  fill: none;
}

.Green.Fill {
  fill: $display-green;
  stroke: none;
}

text.Green {
  fill: $display-green;
  stroke: none;
}
tspan.Green {
  fill: $display-green;
  stroke: none;
}

.Amber {
  stroke: $display-amber;
  fill: none;
}
text.Amber {
  fill: $display-amber;
  stroke: none;
}
tspan.Amber {
  fill: $display-amber;
  stroke: none;
}

.Yellow {
  stroke: $display-yellow;
  fill: none;
}
.Yellow.Fill {
  fill: $display-yellow;
  stroke: none;
}
text.Yellow {
  fill: $display-yellow;
  stroke: none;
}
tspan.Yellow {
  fill: $display-yellow;
  stroke: none;
}

.Red {
  stroke: $display-red;
  fill: none;
}
.Red.Fill {
  fill: $display-red;
  stroke: none;
}
text.Red {
  fill: $display-red;
  stroke: none;
}
tspan.Red {
  fill: $display-red;
  stroke: none;
}

.Grey {
  stroke: $display-grey;
  fill: none;
}

.EarthFill {
  fill: #76310a;
}
.SkyFill {
  fill: #0079ea;
}
.BlackFill {
  fill: $display-background;
}

.TapeBackground {
  fill: $display-grey;
  stroke: none;
}

.BackgroundFill {
  fill: $display-background;
  stroke: none;
  fill-rule: evenodd;
}

.ModeChangedPath {
  visibility: visible !important;
}

.HiddenElement {
  display: none;
}

.GreenPulse {
  animation: green-pulse 1s step-end infinite;
  stroke: 1px !important;

  @keyframes green-pulse {
      0%, 100% {
        fill: $display-green;
      }
      50% {
          fill: hsl(120, 100%, 20%)
      }
  }
}

.TrimIndicatorSvg {
  position: absolute;
  top: 765px;
  left: 326px;
  width: 433px;
  height: 252px;
  font-family: "Ecam", monospace !important;
}

.TrimIndicatorImage {
  position: absolute;
  top: 765px;
  left: 580px;
  width: 100px;
  height: 257px;
}
