@import "../../../../MsfsAvionicsCommon/definitions";

.mfd-pos-monitor-header {
    margin-top: 10px;
}

.mfd-pos-top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 82px;
}

.mfd-pos-space-between-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mfd-pos-monitor-table {
    border: 2px outset $display-light-grey;
    width: 98%;
    margin-left: 5px;
    margin-top: 65px;
    padding: 10px 20px 10px 0px;
}

.mfd-pos-monitor-table-line {
    margin-top: 2px;
    margin-left: 30px;
    border: 1px outset $display-light-grey;
    width: 95%;
    height: 1px;
  }