@import "../../../../MsfsAvionicsCommon/definitions";

.mfd-pos-monitor-header {
    margin-top: 10px;
}

.mfd-pos-top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 85px;
    padding-right: 85px;
}

.mfd-pos-space-between-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mfd-pos-monitor-table {
    border: 2px outset $display-light-grey;
    width: 100%;
    margin-left: 5px
}