:root {
  --bodyHeightScale: 1; }

@keyframes TemporaryShow {
  0%, 100% {
    visibility: visible; } }

@keyframes TemporaryHide {
  0%, 100% {
    visibility: hidden; } }

#highlight {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10; }

#Electricity {
  width: 100%;
  height: 100%; }
  #Electricity[state=off] {
    display: none; }
#AlwayOn {
  width: 100%;
  height: 100%;
  display: block;
}
@font-face {
  font-family: "Roboto";
  src: url("/Fonts/RobotoMono-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Light";
  src: url("/Fonts/RobotoMono-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Bold";
  src: url("/Fonts/RobotoMono-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Digital";
  src: url("/Pages/VCockpit/Instruments/Shared/Fonts/digital.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

a320-neo-bat {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: black; }
  a320-neo-bat svg {
    width: 100%;
    height: 100%; }
  a320-neo-bat text {
    font-family: Digital;
    fill: #db7200; }
  a320-neo-bat text.value {
    font-size: 60px;
    text-anchor: end; }
  a320-neo-bat text.unit {
    font-size: 25px;
    font-family: 'Roboto-Bold';
    text-anchor: start; }
