@import "definitions";

.SelfTest {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  border: none;
}

.SelfTestBackground {
  fill: $display-background;
}

.SelfTestText {
  font-size: 24px;
  fill: $display-green;
  text-anchor: middle;
  font-family: "Ecam", monospace;
}

.FailedDisplay polygon {
  fill: $display-amber;
  stroke: none;
}
