$font-size-large: 17px;
$font-size-xlarge: 20px;
$font-size-huge: 22px;

$display-white: #ffffff;
$display-grey: #787878;
$display-dark-grey: #b3b3b3;
$display-light-grey: lightgray;
$display-amber: #e68000;
$display-cyan: #00ffff;
$display-green: #00ff00;
$display-magenta: #ff94ff;
$display-red: #ff0000;
$display-yellow: #ffff00;
