.vertical-progress-bar {
  @apply bg-gray-400;
  position: absolute;
  margin-top: -10px;
  width: 5px;
  height: 31px;
}
.progress-bar {
  margin-top: 7px;
  margin-right: 30px;
}


.horizontal-progress-bar {
  @apply bg-gray-400;
  position: absolute;
  z-index: 1000;
  margin-top: -10px;
  height: 5px;
  width: 31px;
}
