@font-face {
  font-family: "Roboto";
  src: url("/Fonts/RobotoMono-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Light";
  src: url("/Fonts/RobotoMono-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.dcdu {
  position: absolute;
  left: 10px !important;
  top: 10px !important;
  width: 492px;
  height: 364px;

  background: radial-gradient(
    ellipse at center,
    rgba(4, 4, 5, 1) 0%,
    rgb(4, 4, 5) 100%
  );
}

path.dcdu-line {
  stroke: white;
  stroke-width: 2;
}

.station {
  fill: rgb(0,255,0);
  font-size: 20px;
  font-family: arial;
  font-weight: bold;
}

.status-message {
  text-anchor: end;
  font-size: 20px;
  font-family: Roboto;
  font-weight: bold;
}

.status-open {
  fill: rgb(0,255,255);
}

.status-other {
  fill: black;
}

.status-atsu {
  text-anchor: middle;
  fill: rgb(255,255,255);
  font-size: 20px;
  font-family: Roboto;
  font-weight: bold;
}

.message-background {
  width: 450px;
}

.message-out {
  fill: rgb(0,255,255);
}

.message-sent {
  fill: green;
}

.atc-info {
  fill: green;
  font-size: 22px;
  font-family: Roboto;
  font-weight: bold;
}

.message-highlight {
  fill: rgb(0, 255, 255);
}

.message-content {
  fill: rgb(0,0,0);
  font-size: 22px;
  font-family: Roboto;
  font-weight: bold;
}

.startup-text {
  position: absolute;
  left: 10px !important;
  top: 10px !important;
  width: 492px;
  height: 364px;

  text {
    fill: green;
    font-size: 35px;
    text-anchor: middle;
    font-family: Roboto-Light;
  }
}

.button {
  font-size: 20px;
  font-family: arial;
  font-weight: bold;
  font-family: Roboto;
  fill: rgb(0,255,255);
}

.button-left {
  text-anchor: start;
}

.button-right {
  text-anchor: end;
}
