@font-face {
  font-family: "dcdu-small";
  src: url("/Fonts/FBW-Display-DCDU-H12.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "atsu-status";
  src: url("/Fonts/RobotoMono-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "dcdu-normal";
  src: url("/Fonts/RobotoMono-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "dcdu-highlight";
  src: url("/Fonts/FBW-Display-DCDU-H16.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.dcdu {
  position: absolute;
  left: 80px !important;
  top: 80px !important;
  width: 3936px;
  height: 2912px;

  background: radial-gradient(
    ellipse at center,
    rgba(4, 4, 5, 1) 0%,
    rgb(4, 4, 5) 100%
  );
}

path.dcdu-line {
  stroke: white;
  stroke-width: 16;
}

.station {
  fill: rgb(0,255,0);
  font-size: 134px;
  font-family: dcdu-small;
}

.status-message {
  text-anchor: end;
  font-size: 192px;
}

.status-open {
  font-family: dcdu-highlight;
  fill: rgb(0,255,255);
}

.status-other {
  font-family: dcdu-normal;
  fill: rgb(0, 0, 0);
}

.status-atsu {
  text-anchor: middle;
  fill: rgb(255,255,255);
  font-size: 140px;
  font-family: atsu-status;
}

.message-background {
  width: 3600px;
}

.message-background-off {
  fill: rgba(0,0,0,0);
}

.message-out {
  fill: rgb(0,255,255);
}

.message-sent {
  fill: rgb(0, 255, 0);
}

.atc-info {
  font-size: 192px;
  font-family: dcdu-normal;
  font-weight: bold;
}

.atc-info-standby {
  fill: rgb(255,255,255);
}

.atc-info-active {
  fill: rgb(0, 255, 0);
}

.message-tspan {
  display: block;
  white-space: pre;
}

.message-highlight {
  fill: rgb(0, 255, 255);
}

.message-content {
  font-size: 192px;
  font-family: dcdu-normal;
}

.message-content-out {
  fill: rgb(0,0,0);
}

.message-content-in {
  fill: rgb(255,255,255);
}

.startup-text {
  position: absolute;
  left: 80px !important;
  top: 80px !important;
  width: 3936px;
  height: 2912px;

  text {
    fill: green;
    font-size: 240px;
    text-anchor: middle;
    font-family: dcdu-normal;
  }
}

.button {
  font-size: 134px;
  font-family: dcdu-small;
}

.button-color {
  fill: rgb(0,255,255);
}

.button-color-clicked {
  fill: rgb(0, 0, 0);
}

.button-left {
  text-anchor: start;
}

.button-right {
  text-anchor: end;
}
