@import url("/CSS/A32NX_Display_Common.css");

@font-face {
  font-family: "Roboto";
  src: url("/Fonts/RobotoMono-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ECAMFontRegular";
  src: url("/Fonts/ECAMFontRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.text {
  font-family: "ECAMFontRegular" !important;

  &__big {
    &__left {
      position: absolute;
      left: 4%;
      text-align: left;
      &__label {
        left: 8%;
      }
    }
    &__right {
      position: absolute;
      right: 4%;
      text-align: right;
      &__label {
        right: 8%;
      }
    }
  }
  &__small {
    font-size: 4.2vw;
    &__left {
      position: absolute;
      left: 4%;
      text-align: left;
      &__label {
        left: 8%;
      }
    }
    &__right {
      position: absolute;
      right: 4%;
      text-align: right;
      &__label {
        right: 8%;
      }
    }
  }
}

.bg {
  background: var(--displayBackground);
}

.white {
  color: var(--mcduWhite);
}

.inop {
  color: var(--mcduLightGrey);
}

.cyan {
  color: var(--mcduCyan);
}

.yellow {
  color: var(--mcduYellow);
}

.green {
  color: var(--mcduGreen);
}

.amber {
  color: var(--mcduAmber);
}

.red {
  color: var(--mcduRed);
}

.magenta {
  color: var(--mcduMagenta);
}