$colour-main: hsl(40, 100%, 50%);

@font-face {
  src: url("/Fonts/fbw-a32nx/AirbusRMP.ttf") format("truetype");
  font-family: "Digital";
  font-style: normal;
  font-weight: 900;
}

.atc-svg {
  background-color: hsl(55, 82%, 2%);
  box-shadow: inset 0px 0px 110px -20px rgba(255,175,0,0.5);
  height: 100%;
  width: 100%;
  left: 0;
  /* TODO: Remove opacity when SAI/ISIS/CLOCK/BAT/ATC/RMP/RUD TRIM is split and not share the same emissive/mesh */
  opacity: 0.5;
}

text {
  alignment-baseline: central;
  font-family: Digital;
  fill: $colour-main;
  font-size: 100px;
  text-anchor: start;
}
