@font-face {
  font-family: "Roboto";
  src: url("/Fonts/RobotoMono-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Light";
  src: url("/Fonts/RobotoMono-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.dcdu-lines {
  position: absolute;
  left: 10px !important;
  top: 10px !important;
  width: 492px;
  height: 364px;

  background: radial-gradient(
      ellipse at center,
      rgba(9, 13, 20, 1) 0%,
      rgb(9, 13, 20) 100%
  );

  visibility: visible !important;

  font-family: Roboto;

  path {
    stroke: white;
    stroke-width: 3;
  }
}

.text-wrapper {
  position: absolute;
  left: 10px !important;
  top: 10px !important;
  width: 492px;
  height: 364px;

  background: radial-gradient(
      ellipse at center,
      rgba(9, 13, 20, 1) 0%,
      rgb(9, 13, 20) 100%
  );

  text {
    fill: green;
    font-size: 35px;
    text-anchor: middle;
    font-family: Roboto-Light;
  }
}

.main-wrapper {
  padding: 10px;
  left: 80px;
  right: 80px;
  width: 1024px;
  height: 1024px;

  background: radial-gradient(
      ellipse at center,
      rgba(4,4,5,1) 0%,
      rgba(4, 4, 5, 1) 100%
  );

  text {
    fill: white;
    font-size: 36px;
    text-anchor: middle;
    font-family: Roboto-Light;
  }
}