---
BasedOnStyle: Chromium
---
Language: Cpp
ColumnLimit: 140
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveShortCaseStatements:
  Enabled: true




