root = true

[*]
charset = utf-8
indent_size = 4
indent_style = space
insert_final_newline = false
tab_width = 4

# YAML is usually 2 spaces
# Asobo indents json and css with 2 spaces
[*.{yml,json,css,scss}]
indent_size = 2
tab_width = 2
