# Math JS External Library https://mathjs.org/
flybywire-aircraft-a320-neo/html_ui/Pages/A32NX_Core/math.js
flybywire-aircraft-a320-neo/html_ui/JS/fmgc/*
build.*.js
buildSrc/*
igniter.config.mjs
src/instruments/ecam-page-template/template.js
src/instruments/devServer/bundles/*
flybywire-aircraft-a320-neo/html_ui/JS/generated/*.js
src/fmgc/src/flightplanning/WorldMagneticModel.ts
