build*.js
buildSrc/*
igniter.config.mjs
target/*
CMakeFiles/*
cmake*
fbw-a32nx/out/*
fbw-a380x/out/*
# TODO: these need to be more granular
fbw-a32nx/src/base/*
fbw-a380x/src/base/*
fbw-a32nx/bundles/*
fbw-a380x/bundles/*
/bundles/*

fbw-a32nx/src/systems/fmgc/src/flightplanning/DirectTo.ts
fbw-a32nx/src/systems/fmgc/src/flightplanning/FixNamingScheme.ts
fbw-a32nx/src/systems/fmgc/src/flightplanning/FlightPlanAsoboSync.ts
fbw-a32nx/src/systems/fmgc/src/flightplanning/FlightPlanManager.ts
fbw-a32nx/src/systems/fmgc/src/flightplanning/FlightPlanSegment.ts
fbw-a32nx/src/systems/fmgc/src/flightplanning/GeoMath.ts
fbw-a32nx/src/systems/fmgc/src/flightplanning/GPS.ts
fbw-a32nx/src/systems/fmgc/src/flightplanning/LegsProcedure.ts
fbw-a32nx/src/systems/fmgc/src/flightplanning/ManagedFlightPlan.ts
fbw-a32nx/src/systems/fmgc/src/flightplanning/ProcedureDetails.ts
fbw-a32nx/src/systems/fmgc/src/flightplanning/RawDataMapper.ts
fbw-a32nx/src/systems/fmgc/src/flightplanning/SegmentedFlightPlan.ts
fbw-a32nx/src/systems/fmgc/src/flightplanning/WorldMagneticModel.ts
fbw-a32nx/src/systems/fmgc/src/utils/LzUtf8.js
