build*.js
buildSrc/*
igniter.config.mjs
target/*
CMakeFiles/*
cmake*
fbw-a32nx/out/*
fbw-a380x/out/*
fbw-a32nx/bundles/*
fbw-a380x/bundles/*
/bundles/*

fbw-a32nx/src/base/flybywire-aircraft-a320-neo/html_ui/Pages/A32NX_Core/math.js
fbw-a32nx/src/systems/fmgc/src/flightplanning/DirectTo.ts
fbw-a32nx/src/systems/fmgc/src/flightplanning/FixNamingScheme.ts
fbw-a32nx/src/systems/fmgc/src/flightplanning/FlightPlanAsoboSync.ts
fbw-a32nx/src/systems/fmgc/src/flightplanning/FlightPlanManager.ts
fbw-a32nx/src/systems/fmgc/src/flightplanning/FlightPlanSegment.ts
fbw-a32nx/src/systems/fmgc/src/flightplanning/GeoMath.ts
fbw-a32nx/src/systems/fmgc/src/flightplanning/GPS.ts
fbw-a32nx/src/systems/fmgc/src/flightplanning/LegsProcedure.ts
fbw-a32nx/src/systems/fmgc/src/flightplanning/ManagedFlightPlan.ts
fbw-a32nx/src/systems/fmgc/src/flightplanning/ProcedureDetails.ts
fbw-a32nx/src/systems/fmgc/src/flightplanning/RawDataMapper.ts
fbw-a32nx/src/systems/fmgc/src/flightplanning/SegmentedFlightPlan.ts
fbw-a32nx/src/systems/fmgc/src/flightplanning/WorldMagneticModel.ts
fbw-a32nx/src/systems/fmgc/src/utils/LzUtf8.js
fbw-a32nx/src/systems/fmgc/src/flightplanning/new/test/*
fbw-a32nx/src/systems/fmgc/src/flightplanning/**/*.spec.ts

fbw-a380x/src/base/flybywire-aircraft-a380-842/html_ui/Pages/VCockpit/Instruments/LegacyA380X/*
