*
!*/
!/.vscode/**
!/.github/**
!/.husky/**
!/A32NX/**
/A32NX/layout.json
/A32NX/manifest.json
/A32NX/build_info.json
/A32NX/html_ui/Pages/VCockpit/Instruments/generated
/A32NX/SimObjects/AirPlanes/Asobo_A320_NEO/panel/*.wasm
!/docs/**
!/src/**
!/scripts/**
!/typings/**
!.gitignore
!CODEOWNERS
!package.json
!.editorconfig
!.eslintrc.json
!jsconfig.json
!.gitattributes
!.prettierrc.json
!.prettierignore
!manifest-base.json
.DS_Store
node_modules
/src/sound/.cache
