
* text=auto

# Ensure LF for shell files, even on Windows, so that bash inside Docker does not panic
*.sh text eol=lf

# Ensure the language files update during build are not marked as changed due to different
# line endings.
/fbw-a32nx/src/localization/flypad/*.json text eol=lf
/fbw-a32nx/src/localization/msfs/*.locPak text eol=lf
