*
!*/
!/.vscode/**
!/.github/**
!/.husky/**
!/A32NX/**
/A32NX/layout.json
/A32NX/manifest.json
/A32NX/build_info.json
/A32NX/html_ui/Pages/VCockpit/Instruments/generated
/A32NX/ModelBehaviorDefs/A32NX/generated
/A32NX/SimObjects/AirPlanes/Asobo_A320_NEO/panel/*.wasm
!/docs/**
!/src/**
!/scripts/**
!/typings/**
!.gitignore
!CODEOWNERS
!package.json
!.editorconfig
!.eslintrc
!jsconfig.json
!.gitattributes
!.prettierrc.json
!.prettierignore
!.npmrc
!manifest-base.json
!Cargo.lock
!Cargo.toml
!/.cargo/config.toml
.DS_Store
node_modules
/src/sound/.cache
/src/instruments/src/EFB/dist
/A32NX/SimObjects/AirPlanes/Asobo_A320_NEO/model/*.gltf
/A32NX/SimObjects/AirPlanes/Asobo_A320_NEO/model/*.bin
*.wasm
/target
/src/instruments/src/EFB/web/
/src/systems/target/
/src/fdr2csv/*.exe
/src/fbw/obj/
/src/fdr2csv/build/
