# general exclusions
.DS_Store

# exclude changes to root directory
*
/.*/

# Explicit inclusions
!*/
!/.github/**
!/.vscode/**

!.editorconfig
!.eslintrc.js
!.gitattributes
!.gitignore
!.npmrc
!.prettierignore
!.prettierrc

!igniter.config.mjs
!jsconfig.json

!Cargo.lock
!Cargo.toml
!/.cargo/config.toml
!rust-toolchain.toml

!fbw-a32nx/src/base/manifest-base.json
!package.json

!vitest.config.mjs

!CMakeLists.txt

# Project folders
!large-files
large-files/node_modules

# === A32NX ===
/fbw-a32nx/*
/fbw-a32nx/.env.local
!/fbw-a32nx/README.md
!/fbw-a32nx/mach.config.js
!/fbw-a32nx/.env
!/fbw-a32nx/docs/
!/fbw-a32nx/docs/**
!/fbw-a32nx/src/
!/fbw-a32nx/src/**
/fbw-a32nx/out
/fbw-a32nx/src/base/flybywire-aircraft-a320-neo/SimObjects/AirPlanes/FlyByWire_A320_NEO/TEXTURE/A320NEO_COCKPIT_DECALSTEXT_ALBD.TIF.dds
/fbw-a32nx/src/base/flybywire-aircraft-a320-neo/SimObjects/AirPlanes/FlyByWire_A320_NEO/model/*.bin
/fbw-a32nx/src/base/flybywire-aircraft-a320-neo/SimObjects/AirPlanes/FlyByWire_A320_NEO/model/*.gltf
/fbw-a32nx/src/systems/instruments/aceBundles
/fbw-a32nx/src/systems/instruments/buildSrc/custom/*
/fbw-a32nx/src/localization/msfs/downloaded/*.locPak
/fbw-a32nx/src/systems/instruments/src/EFB/dist
/fbw-a32nx/src/systems/instruments/src/EFB/web/
/fbw-a32nx/src/wasm/systems/a320_hydraulic_simulation_graphs/*.png
/fbw-a32nx/src/wasm/systems/a320_pneumatic_simulation_graph_data/*.txt


# large files
/fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/a380_cockpit_LOD01.bin
/fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/a380_cockpit_LOD01.gltf
/fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/a380_cockpit.bin
/fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/a380_cockpit.gltf
/fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/a380_exterior.bin
/fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/a380_exterior.gltf
/fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/sound/FBW_A320_NEO_1.PC.PCK
/fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/sound/FBW_A320_NEO_2.PC.PCK
/fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/sound/FBW_A320_NEO_3.PC.pck

# === A380X ===
/fbw-a380x/*
/fbw-a380x/.env.local
!/fbw-a380x/README.md
!/fbw-a380x/mach.config.js
!/fbw-a380x/.env
!/fbw-a380x/docs/
!/fbw-a380x/docs/**
!/fbw-a380x/src/**
!/fbw-a380x/src/
/fbw-a380x/out
/fbw-a380x/src/systems/instruments/aceBundles
/fbw-a380x/src/localization/msfs/downloaded/*.locPak

# === Common ===
!/fbw-common/**
/fbw-common/src/systems/instruments/src/EFB/Localization/data/downloaded/*.json

# === Ingame Panels Checklist Fix ===
/fbw-ingamepanels-checklist-fix/*
!/fbw-ingamepanels-checklist-fix/README.md
!/fbw-ingamepanels-checklist-fix/docs/
!/fbw-ingamepanels-checklist-fix/docs/**
!/fbw-ingamepanels-checklist-fix/src/
!/fbw-ingamepanels-checklist-fix/src/**
/fbw-ingamepanels-checklist-fix/out

# === Tools ===
!/tools/**
/tools/fdr2csv/*.exe
/tools/fdr2csv/build/
/tools/fdr2csv/cmake-build*


# Build scripts
!/scripts/**
!/build-utils.js

# explicit exclusions
/.env
*.tgz
localazy.keys.json

# build artifacts
node_modules/
target/
obj/
build/
out/
cmake-*/
*.wasm

# MacOS files
**/.DS_Store
scripts/copyMachHudToComFolder.sh
scripts/copyToComFolder.sh
scripts/copyToComFolderPanelCfg.sh
fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/_FlyByWire_A380_842-PRIDE/TEXTURE.FBWPRIDE/A380X_FUSE3_ALBEDO.PNG.dds
fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/_FlyByWire_A380_842-PRIDE/TEXTURE.FBWPRIDE/A380X_FUSE3_ALBEDO.PNG.DDS.json
fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/_FlyByWire_A380_842-PRIDE/TEXTURE.FBWPRIDE/A380X_FUSE4_ALBEDO.PNG.dds
fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/_FlyByWire_A380_842-PRIDE/TEXTURE.FBWPRIDE/A380X_FUSE4_ALBEDO.PNG.DDS.json
fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/_FlyByWire_A380_842-PRIDE/TEXTURE.FBWPRIDE/texture.CFG
fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/_FlyByWire_A380_842-PRIDE/TEXTURE.FBWPRIDE/thumbnail_small.JPG
fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/_FlyByWire_A380_842-PRIDE/TEXTURE.FBWPRIDE/thumbnail.JPG
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_AmbientCockpitBounce.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_AmbientColdDark.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_BeaconBelly_Ambient.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_BeaconBelly_Engine.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_BeaconBelly_Front.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_BeaconBelly.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_BeaconGlare.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_BeaconTop_Front.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_BeaconTop_Left.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_BeaconTop_Rear.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_BeaconTop_Right.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_BeaconTop_Wing.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_BeaconTop.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_BeaconTopWide.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_Cabin_light.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_Cabin_Sidewalls.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_CockpitSpotLarge.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_CockpitSpotNarrow.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_Console.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_DaylightGlare.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_EmissiveAccent.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_EmissiveAmbientL.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_EmissiveAmbientS.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_EmissiveHardM.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_EmissiveM.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_EmissiveS.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_FC_Spots.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_LandingAmbient.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_LandingAmbientGnd.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_LandingAmbientLarge.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_LandingAmbientMedium.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_LandingAmbientSmall.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_LandingLarge.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_LandingLargeVol.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_LogoLight.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_LogoLightAmbient.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_LogoLightVol.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_MainPanel3.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_MainPanelFloodAmbientCenter.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_MainPanelFloodAmbientEnd.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_MainPanelFloodCenter.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_MainPanelFloodEnd.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_NavigationGreen.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_NavigationRed.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_NavigationWhite.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_ParkBrkLight.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_ParkBrkLightAmbient.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_Pedestal.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_PedestalAmbient.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_RunwayTurnOff.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_RunwayTurnOffAmbient.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_RunwayTurnOffAmbientGnd.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_RunwayTurnOffVol.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_ScreenOrange.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_StrobeFX.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_StrobeTail.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_StrobeWing.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_TakeOff.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_TakeOffAmbient.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_TakeOffVol.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_Taxi_NLG.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_TaxiAmbient.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_TaxiAmbientLarge.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_TaxiLarge.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_TaxiLargeVol.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_TaxiTOAmbientGnd.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_TaxiVol_NLG.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_Wing_1LH.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_WingLarge.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/LIGHT_A380X_WingLargeVol.fx
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/texture/A32NX-FLASH.PNG.DDS
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/texture/A32NX-FLASH.PNG.DDS.FLAGS
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/texture/A32NX-FLASH.PNG.DDS.json
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/texture/A380X_HATRACK_LIGHT1.dds
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/texture/A380X_HATRACK_LIGHT1.PNG.DDS.json
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/texture/A380X_MIP_3.PNG.DDS
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/texture/A380X_MIP_3.PNG.DDS.FLAGS
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/texture/A380X_MIP_3.PNG.DDS.json
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/texture/A380X_WING_LIGHT_1LH.PNG.DDS
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/texture/A380X_WING_LIGHT_1LH.PNG.DDS.FLAGS
fbw-a380x/src/base/flybywire-aircraft-a380-842/effects/texture/A380X_WING_LIGHT_1LH.PNG.DDS.json
fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/sound/FBW_A320_NEO_1.PC.PCK
fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/sound/FBW_A320_NEO_2.PC.PCK
fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/sound/FBW_A320_NEO_3.PC.pck
fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/a380_cockpit_LOD01.bin
fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/a380_cockpit_LOD01.gltf
fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/a380_cockpit.bin
fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/a380_cockpit.gltf
fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/a380_exterior.bin
fbw-a380x/src/base/flybywire-aircraft-a380-842/SimObjects/AirPlanes/FlyByWire_A380_842/model/a380_exterior.gltf
