@import "../MsfsAvionicsCommon/definitions";
@import "../MsfsAvionicsCommon/gauges";

@mixin Blink10SecondsFill($color) {
    @keyframes pulsing {
        100% {
            fill: $color;
        }
        51% {
            fill: $color;
        }
        50% {
            fill: scale-color($color, $lightness: -50%);
        }
        1% {
            fill: scale-color($color, $lightness: -50%);
        }
    }

    animation: pulsing 1s 10;
}

@font-face {
    font-family: "Ecam";
    //noinspection CssUnknownTarget
    src: url("/Fonts/FBW-Display-EIS-A380.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.ewd-svg {
    position: absolute;
    width: 768px;
    background: $display-background;
    font-family: "Ecam", monospace;
}

.HiddenElement {
    display: none;
}


.EWDWarningTextLeft {
    fill: white;
    font-size: 1.55em;
    letter-spacing: 0.047em;
}

tspan {
  white-space: pre;
}

.XSmall, .F19 {
    font-size: 19px !important;
}

.Small, .F21 {
    font-size: 21px !important;
}

.Medium, .F22 {
    font-size: 22px !important;
}

.Large, .F23 {
    font-size: 23px !important;
}

.VLarge, .F24 {
    font-size: 24px !important;
}

.F25 {
    font-size: 25px !important;
}

.F26 {
    font-size: 26px !important;
}

.XLarge, .F27 {
    font-size: 27px !important;
}

.F28 {
    font-size: 28px !important;
}

.F29 {
    font-size: 29px !important;
}

.Huge, .F30 {
    font-size: 30px !important;
}

.F32 {
    font-size: 32px !important;
}

.F34 {
    font-size: 34px !important;
}

.F35 {
    font-size: 35px !important;
}

.F36 {
    font-size: 36px !important;
}

text, tspan, span {
    fill: $display-white;
    stroke: none !important;

    &.EWDWarn {
        font-size: 24px;
        letter-spacing: 1.75px;
    }

    &.Cyan {
        fill: $display-cyan !important;
    }

    &.Green {
        fill: $display-green !important;
    }

    &.Amber {
        fill: $display-amber;
    }

    &.Red {
        fill: $display-red;
    }

    &.Magenta {
        fill: $display-magenta;
    }

    &.Center {
        text-anchor: middle !important;
    }

    &.End {
        text-anchor: end !important;
    }

    &.IdleTextPulse {
        @include Blink10SecondsFill($display-green);
    }

    &.Underline {
        text-decoration: underline;
        text-decoration-color: $display-amber;
    }
}

.Separator {
  stroke: $display-light-grey;
  stroke-width: 3;
  fill: none;
}

.SeparatorMemo {
    stroke: $display-light-grey;
    stroke-width: 2;
    fill: none;
  }

.AmberLine {
    stroke: $display-amber !important;
    stroke-width: 2;
    fill: none;
}

.GreenLine {
    stroke: $display-green !important;
    stroke-width: 2;
    fill: none;
}

.WhiteLine {
    stroke: $display-white !important;
    stroke-width: 2;
    fill: none;
}

.RedLine {
    stroke: $display-red !important;
    stroke-width: 2;
    fill: none;
}

.ThickRedLine {
    stroke: $display-red !important;
    stroke-width: 6 !important;
    fill: $display-red;
}

.LightGreyLine {
    stroke: $display-light-grey !important;
    stroke-width: 3;
    fill: none;
    stroke-linecap: round;
}


.BackgroundLine {
    stroke: $display-background !important;
    stroke-width: 2;
    fill: $display-background;
}

.BackgroundFill {
    fill: $display-background !important;
}

.Show {
    display:block;
}

.Hide {
    display: none;
}

.Spread {
    letter-spacing: 1.6px;
}

.DonutThrottleIndicator {
    fill: none;
    stroke-width: 2px;
    stroke: $display-cyan;
}


.DarkGreyBox {
    stroke: $display-grey;
    fill: none;
    stroke-width: 2;
}

.AmberBox {
    stroke: $display-amber;
    fill: none;
    stroke-width: 2;
}

.LightGreyBox {
    stroke: none;
    fill: $display-light-grey;
    opacity: 0.2
}

.ewd-main {
    position: absolute;
    width: 768px;
    height: 1024px;
    /* 1:1.33 W:H  */
    background: $display-background;
    font-family: "Ecam", monospace !important;
    display: flex;
    flex-direction: column;
}

.EngineDisplayArea {
    display: flex;
    height: 379px;
    margin: 0px 8px 0px 8px;
    border-bottom: 4px solid $display-light-grey;
}

.WarningDisplayArea {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0px 8px 0px 8px;
}

.VerticalFill {
    display: flex;
    flex-grow: 1;
}

.StsArea {
  height: 40px;
}

.MemosContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 12px 0px 12px 0px;
}

.LimitationsContainer {
  display: flex;
  flex-direction: column;
  padding: 12px 0px 12px 0px;
  border-bottom: 2px solid $display-light-grey;
}

.MemosDividedArea {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 4px;
}

.MemosLeft {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-right: 2px solid lightgrey;
}

.MemosRight {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 8px;
}

.FillArea {
  flex-grow: 1;
}

.LimitationsHeading {
  display: flex;
  justify-content: center;
  font-size: 24px;
  letter-spacing: 1.75px;
  margin-bottom: 4px;
}

.LimitationsHeading.Underline {
  text-decoration: underline;
}

.ProceduresContainer {
  display: flex;
  flex-direction: column;
  padding: 12px 0px 12px 0px;
  height: 100%;
}

.EclLine {
  display: flex;
  flex-direction: row;
  padding: 4px 0px 4px 0px;
  margin-left: 20px;
  align-items: center;
  border: 2px solid transparent;
  color: $display-cyan;
}

.EclLine.ChecklistMenuItem {
  color: $display-cyan;
}

.EclLine.ChecklistMenuItem.Checked {
  color: $display-green;
}

.EclLine.ChecklistMenuItem.ChecklistCompleted {
    color: $display-green !important;
}

.EclLine.Selected {
  border: 2px solid $display-cyan;
}

.EclLine.Headline {
  color: $display-white !important;
  text-decoration: underline;
}

.EclLineCheckboxArea {
  text-align: center;
  justify-content: center;
  width: 40px;
  font-size: 26px;
}

.EclLineText {
  margin-left: 10px;
  font-size: 26px;
}

.EclSeparationLine {
  border-bottom: 2px solid $display-white;
  padding-top: 16px;
  margin-bottom: 16px;
  align-self: center;
  justify-self: center;
}

.EclLineContainer {
  height: 34px;
}
