@import "../Assets/Efb.scss";

.control-grid {
  grid-gap: 1rem;
}

.stop {
  grid-column: 2 / 3;
}

button:active {
  @apply transform;
  @apply translate-y-1;
}

.down-left {
  grid-column: 1/1;
}

.down {
  grid-column: 2/2;
}

.down-right {
  grid-column: 3/3;
}
