@import "../Assets/Efb.scss";

.wrapper {
  // this lets us use position:absolute in widgets
  position: relative;
  padding: 1rem;
}

.airplane {
  height: 100%;
  max-width: 100%;
  // position the image in the center of the screen while still being able to position elements on top of it
  // basically this should be a background but I couldn't figure that out with rotation and sizing
  position: relative;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.control-grid {
  grid-gap: 1rem;
}

.stop {
  grid-column: 2 / 3;
}

/* button:active {
  @apply transform;
  @apply translate-y-1;
} */

.down-left {
  grid-column: 1/1;
}

.down {
  grid-column: 2/2;
}

.down-right {
  grid-column: 3/3;
}
