@import "definitions";

.SelfTest {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  border: none;
}

.SelfTestBackground {
  fill: $display-background;
}

.SelfTestText {
  font-size: 26px;
  fill: $display-green;
  text-anchor: middle;
  font-family: "Ecam", monospace;
}

.T1 {
  font-size: 17px;
}

.T2 {
  font-size: 21px;
}

.T3 {
  font-size: 24px;
}

.T4 {
  font-size: 26px;
}
