@import "../../../Common/definitions.scss";

#ecam-status-page {

  .hide {
    display: none;
  }

  .Title {
    font-size: 24px;
    fill: $display-white;
    text-decoration: underline;
    text-anchor: middle !important;
  }

  .SubTitle {
    font-size: 22px;
    fill: $display-white;
    text-decoration: underline;
    text-anchor: middle !important;
  }

  #status-normal {
    font-size: 20px;
    fill: $display-white;
  }

}
