@tailwind base;
@tailwind components;
@tailwind utilities;


.hidden {
    display: none !important;
}


:root,
  :root.theme-blue{
    --color-utility-red: rgb(220, 38, 38);
    --color-utility-green: rgb(132, 204, 22);
    --color-utility-orange: rgb(255, 106, 0);
    --color-utility-amber: rgb(245, 158, 11);
    --color-utility-blue: rgb(82, 128, 234);
    --color-utility-purple: rgb(153, 61, 245);
    --color-utility-pink: rgb(233, 47, 139);
    --color-utility-salmon: rgb(248, 113, 113);
    --color-utility-grey: rgb(208, 208, 208);
    --color-utility-darkgry: rgb(105, 105, 105);

    --color-highlight : #00c9e4;
    --color-body: #0E131B;
    --color-secondary: #1d2129;
    --color-text: #FFFFFF;
    --color-unselected: #C9C9C9;
    --color-accent: #2b313b;
    --color-statusbar: #141e29;
    --color-statusbar-mismatch: #4e0000;
}
