@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Custom CSS for a32nx [EFB]
*/

@layer base {
  @font-face {
    font-family: "IBMPlexMono";
    font-weight: 300;
    src: url("/Fonts/ibm-plex-mono-v6-latin-300.ttf") format("truetype");
  }
  @font-face {
    font-family: "NunitoSans";
    font-weight: 200;
    src: url("/Fonts/nunito-sans-v6-latin-200.ttf") format("truetype");
  }
  @font-face {
    font-family: "NunitoSans";
    font-weight: 400;
    src: url("/Fonts/nunito-sans-v6-latin-regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "NunitoSans";
    font-weight: 700;
    src: url("/Fonts/nunito-sans-v6-latin-700.ttf") format("truetype");
  }
}

html body {
  @apply font-efb;
  @apply tracking-nunito;
}

/* ---- Global Scrollbar ---- */

.scrollbar::-webkit-scrollbar {
  @apply rounded-xl w-4;
  @apply bg-navy-regular;
}

.scrollbar::-webkit-scrollbar-track {
  @apply rounded-xl;
  @apply bg-navy-regular;
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-xl;
  @apply bg-teal-light;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* ---- Loading/Boot Components ---- */

.loading-screen {
  @apply bg-black text-4xl font-normal text-gray-100;

  .center {
    padding: 475px 0;
    @apply text-center;

    .placeholder {
      @apply w-full flex justify-center items-center;
    }
  }

  .loading-bar {
    @apply flex justify-center mx-auto bg-gray-500;
    margin-top: 16px;
    height: 3px;
    width: 200px;
  }

  .loaded {
    @apply w-full h-full bg-white;
    animation: 6s linear loading;
    animation-fill-mode: forwards;
    transform-origin: 0%;
  }

  button:active {
    @apply transform;
    @apply translate-y-1;
  }

  @keyframes loading {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(100%);
    }
  }
}

.fbw-logo {
  width: 5rem;
  margin-right: 16px;
}

/* ---- Dashboard Components ---- */

.flip-horizontal {
  transform: scaleX(-1);
}

.leaflet-container {
  @apply rounded-2xl;

  .leaflet-control-attribution {
    @apply hidden;
  }
}

/* ---- Dispatch Components ---- */

.loadsheet-container {
  height: 685px;

  /* fbw flypad theme for simbrief maps */
  & img {
    width: 70.5%;
    filter: brightness(110%) hue-rotate(210deg) saturate(26%) invert(100%);
  }
}

.grabbable {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;

  &:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}
