@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Custom CSS for a32nx [EFB]
*/

@layer base {
  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 300;
    src: url("/Fonts/JetBrainsMono-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 400;
    src: url("/Fonts/Inter-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 600;
    src: url("/Fonts/Inter-SemiBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Manrope";
    font-weight: 500;
    src: url("/Fonts/Manrope-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "Manrope";
    font-weight: 700;
    src: url("/Fonts/Manrope-Bold.ttf") format("truetype");
  }

  html body {
    @apply font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-title;
  }

  h1 {
    @apply text-3xl font-bold;
  }

  p, div {
      @apply text-xl;
  }
}

/* ---- Global Scrollbar ---- */

.scrollbar::-webkit-scrollbar {
  @apply rounded-md w-4 bg-navy-regular;
}

.scrollbar::-webkit-scrollbar-track {
  @apply rounded-md bg-navy-regular;
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-md bg-teal-light;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* ---- Loading/Boot Components ---- */

.loading-screen {
  @apply bg-black text-4xl font-normal text-gray-100;

  .center {
    padding: 475px 0;
    @apply text-center;

    .placeholder {
      @apply w-full flex justify-center items-center;
    }
  }

  .loading-bar {
    @apply flex justify-center mx-auto bg-gray-500;
    margin-top: 16px;
    height: 3px;
    width: 200px;
  }

  .loaded {
    @apply w-full h-full bg-white;
    animation: 6s linear loading;
    animation-fill-mode: forwards;
    transform-origin: 0%;
  }

  button:active {
    @apply transform;
    @apply translate-y-1;
  }

  @keyframes loading {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(100%);
    }
  }
}

.fbw-logo {
  width: 5rem;
  margin-right: 16px;
}

/* ---- Dashboard Components ---- */

.flip-horizontal {
  transform: scaleX(-1);
}

/* ---- Dispatch Components ---- */

.loadsheet-container {
  height: 685px;

  /* fbw flypad theme for simbrief maps */
  & img {
    width: 70.5%;
    filter: brightness(110%) hue-rotate(210deg) saturate(26%) invert(100%);
  }
}

.grabbable {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;

  &:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}
