.runway {
  background-color: #1f1f1f;
}

.disabled {
  background-color: #303747 !important;
}

.error {
  text-align: center;
  background-color: #c42c2c !important; // important not required in browser but needed in the game for some reason
}

.error-message,
.error-label {
  color: #c42c2c !important;
}

.error-label {
  background-color: #c42c2c !important;
}

.error-message {
  text-align: center;
}
