input[type="range"] {
  -webkit-appearance: unset;
  width: revert;
  margin: revert;

  &:focus {
    outline: unset;
  }

  &::-webkit-slider-runnable-track {
    background: unset !important;
  }

  &::-webkit-slider-thumb {
    border: unset !important;
  }
}
