:root,
:root.theme-blue{
    --color-highlight: #3B82F6;
    --color-body: #0B0D11;
    --color-secondary: #14181F;
    --color-text: #FFFFFF;
    --color-unselected: #C9C9C9;
    --color-accent: #1E232D;
    --color-statusbar: #000000;
}

:root.theme-dark {
    --color-highlight: #3B82F6;
    --color-body: #0B0D11;
    --color-secondary: #14181F;
    --color-text: #FFFFFF;
    --color-unselected: #C9C9C9;
    --color-accent: #1E232D;
    --color-statusbar: #000000;
}

:root.theme-light {
    --color-highlight: #3B82F6;
    --color-body: #E4E4E4;
    --color-secondary: #14181F;
    --color-text: #000000;
    --color-unselected: #C9C9C9;
    --color-accent: #F2F3F5;
    --color-statusbar: #FFFFFF;
}
