:root {
  --ecamDefaultColour: white;
  --ecamUnitsColour: #009696;
  --ecamValueColour: green;
  --ecamWarningColour: #db7200;
  --ecamDangerColour: red;
  --ecamInactiveColour: #db7200;
  --ecamSeparatorsColour: white; }
  :root .Separator {
    stroke: #3c3c3c;
    stroke-width: 4;
    fill: none; }
  :root div {
    font-family: Roboto-Bold; }
  :root text {
    font-family: Roboto-Bold; }
  :root #PageTitle {
    fill: var(--ecamDefaultColour);
    font-size: 25px;
    text-decoration: underline; }

a320-neo-lower-ecam-bleed {
  display: block;
  position: absolute;
  top: -5%;
  left: 0%;
  width: 100%;
  height: 100%; }
  a320-neo-lower-ecam-bleed text {
    text-anchor: middle;
    alignment-baseline: central; }

.st0{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
.st1{fill:#FFFFFF;}
.st2{font-family:'B612-Regular';}
.st3{font-size:22.4px;}
.st4{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
.st5{fill:none;stroke:#00C800;stroke-width:2;stroke-miterlimit:10;}
.st6{font-size:18.29px;}
.st7{fill:#00C800;}
.st8{fill:#0AB9B9;}
.st9{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-miterlimit:10;}
.st10{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.st11{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}

text {
  transform: translateX(-15)
}
