@import url("/CSS/A32NX_Display_Common.css");

a320-neo-lower-ecam-engine {
    display: block;
    position: absolute;
    top: -5%;
    left: 0%;
    width: 100%;
    height: 100%;
}
a320-neo-lower-ecam-engine line.Indicator {
    stroke: var(--displayWhite);
    stroke-width: 1;
}
a320-neo-lower-ecam-engine text {
    text-anchor: middle;
    alignment-baseline: central;
}
a320-neo-lower-ecam-engine text.Title {
    font-size: 18px;
    fill: var(--displayWhite);
}
a320-neo-lower-ecam-engine text.Unit {
    font-size: 18px;
    fill: var(--displayCyan);
}
a320-neo-lower-ecam-engine text.Value {
    font-size: 22px;
    fill: var(--displayGreen);
}
a320-neo-lower-ecam-engine text.Warning {
    font-size: 22px;
    fill: var(--displayAmber);
}


a320-neo-lower-ecam-engine #Gauges {
    position: absolute;
    left: 20%;
    width: 80%;
    top: 20%;
    height: 50%;
    display: flex;
    justify-content: center;
}
a320-neo-lower-ecam-engine #LeftGauges {
    position: relative;
    right:12%;
}
a320-neo-lower-ecam-engine #RightGauges {
    position: relative;
    left:-5%;
}
a320-neo-lower-ecam-engine #StartValveDiagrams {
    stroke: var(--displayGreen);
    stroke-width: 2;
}
a320-neo-lower-ecam-engine #StartValveDiagrams path {
    fill: none;
}
a320-neo-lower-ecam-engine #StartValveDiagrams circle {
    fill: rgba(13,20,35,1);
}
a320-neo-lower-ecam-engine #StartValveDiagrams line {
    fill: var(--displayGreen);
}

