@import url("/CSS/A32NX_Display_Common.css");

a320-neo-lower-ecam-bleed {
    display: block;
    position: absolute;
    top: -5%;
    left: 0%;
    width: 100%;
    height: 100%;
}
a320-neo-lower-ecam-bleed text {
    text-anchor: middle;
    alignment-baseline: central;
}

.st0 {
    fill:var(--displayWhite);
    stroke:var(--displayWhite);
    stroke-width:2;
    stroke-miterlimit:10;
}
.st1 {
    fill: var(--displayWhite);
}
.st2 { 
    font-family: 'ECAMFontRegular';
}
.st3 {
    font-size:22.4px;
}
.st4 {
    fill: none;
    stroke: var(--displayWhite);
    stroke-width: 2;
    stroke-miterlimit: 10;
}
.st5 {
    fill: none;
    stroke: var(--displayGreen);
    stroke-width: 2;
    stroke-miterlimit: 10;
}
.st6 {
    font-size: 18.29px;
}
.st7 {
    fill: var(--displayGreen);
}
.st8 {
    fill: var(--displayCyan);
}
.st9 {
    fill: none;
    stroke: var(--displayWhite);
    stroke-width: 2;
    stroke-miterlimit: 10;
}
.st10 {
    fill: none;
    stroke: var(--displayWhite);
    stroke-miterlimit: 10;
}
.st11 {
    fill: var(--displayWhite);
    stroke: #000000;
    stroke-miterlimit: 10;
}
.st12{
    fill: none;
    stroke: var(--displayWhite);
    stroke-width:1px;
}

.st13{
    font-size: 18px;
}

text {
    transform: translateX(-15);
}

.warning {
    fill: var(--displayAmber);
    stroke: var(--displayAmber);
}

.warning_trg {
    fill: none;
    stroke: var(--displayAmber);
}