@import url("/CSS/A32NX_Display_Common.css");

:root {
  --bodyHeightScale: 1;
}


@keyframes TemporaryShow {
  0%, 100% {
    visibility: visible;
  }
}

@keyframes TemporaryHide {
  0%, 100% {
    visibility: hidden;
  }
}


#highlight {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
}

#Electricity {
  width: 100%;
  height: 100%;
}

#Electricity[state=off] {
  display: none;
}

a320-neo-lower-ecam-fuel {
  display: block;
  position: absolute;
  top: -5%;
  bottom: 5%;
  left: 0%;
  width: 100%;
  height: 100%;
}

.MainShape {
  fill: transparent;
  stroke: var(--displayLightGrey);
  stroke-width: 3;
}

.FlowShape {
  fill: rgba(13, 20, 35, 1);
  stroke: var(--displayGreen);
  stroke-width: 2;
}

.ValvePumpActive {
  fill: rgba(13, 20, 35, 1);
  stroke: var(--displayGreen);
  stroke-width: 2;
}

.ValvePumpInactive {
  fill: rgba(13, 20, 35, 1);
  stroke: var(--displayAmber);
  stroke-width: 2;
}

text {
  font-size: 20px;
}

text.Title {
  fill: var(--displayWhite);
}

text.Value {
  fill: var(--displayGreen);
}

text.Unit {
  fill: var(--displayCyan);
}

text.Tiny {
  font-size: 15px !important;
}

text.XSmall {
  font-size: 17px !important;
}

text.Small {
  font-size: 20px !important;
}

text.Large {
  font-weight: bold;
  font-size: 22px !important;
}

text.XLarge {
  font-size: 25px !important;
}

#APU text {
  font-size: 20px;
  fill: var(--displayWhite);
  stroke-width: 0;
}

#APU path {
  stroke-width: 3;
}

#APU.active {
  stroke: var(--displayGreen);
}

#APU.active text {
  fill: var(--displayGreen) !important;
}

#APU.warning {
  stroke: var(--displayWarning);
}

#APU.inactive {
  stroke: var(--displayWhite);
}
