@import url("/CSS/A32NX_Display_Common.css");

:root .SubTitle {
    fill: var(--displayWhite);
    font-size: 22px;
    text-decoration: underline;
}
:root .WingSym {
    stroke: var(--displayWhite);
    stroke-width: 2;
    fill: none;
}
:root .PlaneSym {
    stroke: var(--displayWhite);
    stroke-width: 2;
    fill: none;
}


a320-neo-lower-ecam-crz {
    display: block;
    position: absolute;
    top: -5%;
    left: 0%;
    width: 100%;
    height: 100%;
}
a320-neo-lower-ecam-crz text {
    text-anchor: middle;
    alignment-baseline: central;
    word-spacing: 10;
}


/* Custom Styles */
:root .Description {
    fill: var(--displayWhite);
    font-size: 17px;
}
:root .Unit {
    fill: var(--displayCyan);
    font-size: 15px;
}
:root .CRZValue {
    fill: var(--displayGreen);
    font-size: 18px;
}
:root .CRZValueDecimal {
    fill: var(--displayGreen);
    font-size: 15px;
    text-anchor: end !important;
}
:root .AlignLeft {
    text-anchor: start !important;
}
:root .AlignCenter {
    text-anchor: middle !important;
}
:root .AlignRight {
    text-anchor: end !important;
}
:root .SmallText {
    font-size: 16px !important; 
}
