@import url("/CSS/A32NX_Display_Common.css");

a320-neo-lower-ecam-press {
    display: block;
    position: absolute;
    top: -5%;
    left: 0%;
    width: 100%;
    height: 100%;
}
a320-neo-lower-ecam-press text {
    text-anchor: middle;
    alignment-baseline: central;
}


.st0 {
    fill: var(--displayGreen);
}
.st1 {
    fill: var(--displayCyan);
}
.st2 {
    fill: var(--displayAmber);
}
.st3 {
    fill: var(--displayWhite);
}
.st4 {
    fill: var(--displayRed);
}
.st5 {
    fill: none;
}

.st6 {
    font-size: 14px;
}
.st7 {
    font-size: 16px;
}
.st8 {
    font-size: 18px;
}
.st9 {
    font-size: 20px;
}
.st10 {
    font-size: 22px;
}
.st11 {
    font-size: 26px;
}
.st16 {
    font-size: 12px;
}

.st12 {
    stroke-width: 1px;
}

.st13 {
    stroke-width: 2px;
}

.st14 {
    stroke-width: 3px;
}

.st15 {
    stroke: var(--displayWhite);
    fill: none;
}



.warning {
    fill: var(--displayAmber);
    stroke: var(--displayAmber);
}

.warning_arc {
    fill: none;
    stroke: var(--displayAmber);
}


.red_warning {
    fill: var(--displayRed);
    stroke: var(--displayRed);
}

.red_warning_arc {
    fill: none;
    stroke: var(--displayRed);
}



