@import url("/CSS/A32NX_Display_Common.css");

/* Override */
:root .Separator {
  stroke: var(--displaySeparatorLight);
  stroke-width: 3;
  fill: none;
}

a320-neo-upper-ecam {
  position: relative;
  left: 0%;
  width: 100%;
  height: 100%;
  display: block;
}
a320-neo-upper-ecam line {
  stroke: var(--displayWhite);
  stroke-width: 3;
}

a320-neo-upper-ecam #EnginesPanel {
  position: absolute;
  left: 20%;
  width: 60%;
  top: 4%;
  height: 48%;
  display: flex;
  justify-content: center;
}
a320-neo-upper-ecam #EnginesPanel .engine {
  width: 100%;
  height: 100%;
  padding-left: 100px;
  padding-right: 200px;
  /* padding-right: 150px; */
  /* margin-left: 1%; */
}

a320-neo-upper-ecam #EnginesPanel #GaugeInfo {
  position: absolute;
  left: 23%;
  width: 50%;
  top: -8%;
  height: 100%;
}
a320-neo-upper-ecam #EnginesPanel #GaugeInfo div {
  position: relative;
  color: var(--displayWhite);
  font-size: 45px;
  text-align: center;
}
a320-neo-upper-ecam #EnginesPanel #GaugeInfo .STATUS {
  height: 25%;
}
a320-neo-upper-ecam #EnginesPanel #GaugeInfo .SLOT1_TITLE {
  height: 7%;
}
a320-neo-upper-ecam #EnginesPanel #GaugeInfo .SLOT1_UNIT {
  padding-top: 6px;
  height: 20%;
  font-size: 38px;
  color: var(--displayCyan);
}
a320-neo-upper-ecam #EnginesPanel #GaugeInfo .SLOT2_TITLE {
  height: 7%;
}
a320-neo-upper-ecam #EnginesPanel #GaugeInfo .SLOT2_UNIT {
  padding-top: 8px;
  height: 26%;
  font-size: 38px;
  margin-left: -22px;
  letter-spacing: -6px;
  color: var(--displayCyan);
}

a320-neo-upper-ecam #EnginesPanel #LineStyleInfos {
  position: absolute;
  left: -2%;
  width: 100%;
  height: 20%;
  bottom: 0%;
}
a320-neo-upper-ecam #EnginesPanel #LineStyleInfos svg {
  width: 100%;
  height: 100%;
}
a320-neo-upper-ecam #EnginesPanel #LineStyleInfos text {
  font-size: 45px;
  text-anchor: middle;
}
a320-neo-upper-ecam #EnginesPanel #LineStyleInfos .Title {
  fill: var(--displayWhite);
}
a320-neo-upper-ecam #EnginesPanel #LineStyleInfos .Unit {
  font-size: 38px;
  fill: var(--displayCyan);
}
a320-neo-upper-ecam #EnginesPanel #LineStyleInfos .Value {
  fill: var(--displayGreen);
}
a320-neo-upper-ecam #EnginesPanel #LineStyleInfos .Inactive {
  fill: var(--displayAmber);
  letter-spacing: 5px;
}
a320-neo-upper-ecam #EnginesPanel #LineStyleInfos .decimal {
  font-size: 38px !important;
}
a320-neo-upper-ecam #EnginesPanel #LineStyleInfos .activeEngine {
  display: block;
  fill: rgba(255, 255, 255, 0.1);
  stroke: none;
}
a320-neo-upper-ecam #EnginesPanel #LineStyleInfos .inactiveEngine {
  display: none;
}

a320-neo-upper-ecam #InfoTopPanel {
  position: absolute;
  left: 0%;
  width: 100%;
  top: 0%;
  height: 65%;
}
a320-neo-upper-ecam #InfoTopPanel div {
  position: absolute;
  width: 100%;
  font-size: 45px;
}
a320-neo-upper-ecam #InfoTopPanel #Status {
  top: 1%;
  height: 50%;
  right: 5%;
  width: 8%;
}

a320-neo-upper-ecam #InfoTopPanel #Status #ThrottleState {
  right: 20%;
  text-align: left;
}
a320-neo-upper-ecam #InfoTopPanel #Status #ThrottleValue {
  top: 12%;
  right: 15%;
  text-align: right;
  /* content: "\00b0"; */
}
a320-neo-upper-ecam #InfoTopPanel #Status #ThrottleValue::after {
  content: "%";
  color: var(--displayCyan);
  font-size: 38px;
  padding-left: 4px;
}
a320-neo-upper-ecam #InfoTopPanel #Status #ThrottleState.active {
  color: var(--displayCyan);
}
a320-neo-upper-ecam #InfoTopPanel #Status #ThrottleState.inactive {
  color: var(--displayAmber);
  letter-spacing: 5px;
}
a320-neo-upper-ecam #InfoTopPanel #Status #ThrottleValue.active {
  color: var(--displayGreen);
}
a320-neo-upper-ecam #InfoTopPanel #Status #ThrottleValue.inactive {
  color: var(--displayAmber);
  letter-spacing: 5px;
}
a320-neo-upper-ecam #InfoTopPanel #Status #ThrottleValue span {
  font-size: 38px;
}
a320-neo-upper-ecam #InfoTopPanel #Status #FlexTemperature {
  color: var(--displayCyan);
  top: 24%;
  right: 20%;
  text-align: right;
}
a320-neo-upper-ecam #InfoTopPanel #Status #FlexTemperature::after {
  content: "\00b0 C";
}
a320-neo-upper-ecam #InfoTopPanel #Status #FlexTemperature.active {
  display: block;
}
a320-neo-upper-ecam #InfoTopPanel #Status #FlexTemperature.inactive {
  display: none;
}

a320-neo-upper-ecam #InfoTopPanel #FuelOnBoard {
  top: 95%;
  left: 1.5%;
  width: 32%;
}
a320-neo-upper-ecam #InfoTopPanel #FuelOnBoard #Title {
  color: var(--displayWhite);
  text-align: left;
}
a320-neo-upper-ecam #InfoTopPanel #FuelOnBoard #Value {
  color: var(--displayGreen);
  right: 25%;
  text-align: right;
}
a320-neo-upper-ecam #InfoTopPanel #FuelOnBoard #Unit {
  color: var(--displayCyan);
  right: 0%;
  font-size: 38px;
  margin-top: 5px;
  margin-left: -10px;
  text-align: right;
}

a320-neo-upper-ecam #FlapsPanel {
  position: absolute;
  left: 50%;
  width: 50%;
  top: 55%;
  height: 12.5%;
}
a320-neo-upper-ecam #FlapsPanel #DiagramSVG {
  width: 100%;
  height: 100%;
}
a320-neo-upper-ecam #FlapsPanel #DiagramSVG text {
  text-anchor: middle;
  font-size: 32px;
}
a320-neo-upper-ecam #FlapsPanel #DiagramSVG .sfText {
  fill: var(--displayWhite);
}
a320-neo-upper-ecam #FlapsPanel #DiagramSVG .state {
  fill: var(--displayGreen);
}
a320-neo-upper-ecam #FlapsPanel #DiagramSVG .stateInTransit {
  fill: var(--displayCyan);
}
a320-neo-upper-ecam #FlapsPanel #DiagramSVG .dot {
  stroke: var(--displayWhite);
  stroke-width: 3px;
  fill: none;
}
a320-neo-upper-ecam #FlapsPanel #DiagramSVG .targetDot {
  stroke: var(--displayCyan);
  stroke-width: 3px;
  fill: none;
}
a320-neo-upper-ecam #FlapsPanel #DiagramSVG .shape {
  fill: none;
  stroke-width: 3px;
  stroke: #555555;
}
a320-neo-upper-ecam #FlapsPanel #DiagramSVG .currentArrow {
  fill: none;
  stroke-width: 3px;
  stroke: var(--displayGreen);
}

a320-neo-upper-ecam #InfoBottomLeftPanel,
a320-neo-upper-ecam #left-msg {
  position: absolute;
  left: 1.35%;
  width: 55%;
  top: 68%;
  height: 30%;
}
a320-neo-upper-ecam #InfoBottomLeftPanel div,
a320-neo-upper-ecam #left-msg div {
  width: 100%;
  height: 12%;
  font-size: 40px;
  text-align: left;
}
a320-neo-upper-ecam #InfoBottomRightPanel,
a320-neo-upper-ecam #right-msg {
  position: absolute;
  left: 67%;
  width: 30%;
  top: 68%;
  height: 30%;
}
a320-neo-upper-ecam #InfoBottomRightPanel div,
a320-neo-upper-ecam #right-msg div {
  width: 100%;
  height: 12%;
  font-size: 40px;
  text-align: left;
}

a320-neo-upper-ecam #to-memo,
a320-neo-upper-ecam #ldg-memo {
  position: absolute;
  left: 1.35%;
  width: 55%;
  top: 68%;
  height: 30%;
}
a320-neo-upper-ecam #to-memo div,
a320-neo-upper-ecam #ldg-memo div {
  width: 100%;
  height: 12%;
  font-size: 40px;
  text-align: left;
}

a320-neo-upper-ecam .InfoIndication {
  color: var(--displayGreen);
}
a320-neo-upper-ecam .InfoCaution {
  color: var(--displayAmber);
}
a320-neo-upper-ecam .InfoWarning {
  color: var(--displayRed);
}
a320-neo-upper-ecam .InfoSpecial {
  color: #d100b2;
}
a320-neo-upper-ecam .Action {
  color: var(--displayCyan);
}
a320-neo-upper-ecam .Underline,
a320-neo-upper-ecam .action-underline {
  text-decoration: underline;
}
a320-neo-upper-ecam .Completed {
  display: none;
}

a320-neo-upper-ecam .fail-3 {
  color: var(--displayRed);
}
a320-neo-upper-ecam .fail-2 {
  color: var(--displayAmber);
}
a320-neo-upper-ecam .action,
a320-neo-upper-ecam .action-underline,
a320-neo-upper-ecam .blue {
  color: var(--displayCyan);
}
a320-neo-upper-ecam .fail-2 .boxed {
  border: 2px solid var(--displayAmber);
  display: inline-block;
  height: 97%;
}
a320-neo-upper-ecam .fail-3 .boxed {
  border: 2px solid var(--displayRed);
  display: inline-block;
  height: 97%;
}

a320-neo-upper-ecam #Separators {
  position: absolute;
  display: block;
  left: 0%;
  width: 100%;
  top: 0%;
  height: 100%;
}
