@import url("/CSS/A32NX_Display_Common.css");

a320-neo-lower-ecam-apu {
    display: block;
    position: absolute;
    top: -5%;
    left: 0%;
    width: 100%;
    height: 100%;
}
a320-neo-lower-ecam-apu text {
    text-anchor: middle;
    alignment-baseline: central;
}
a320-neo-lower-ecam-apu text.Title {
    font-size: 25px;
    fill: var(--displayWhite);
}


/* Gauges */
#AGauges {
    position: absolute;
    left: 0%;
    width: 56%;
    top: 15%;
    height: 50%;
    justify-content: center;
}


/* Custom Styles */
:root #APUAvail, :root #APUFlapOpen {
    fill: var(--displayGreen);
    font-size: 25px; 
}
:root .WhiteBox {
    stroke: var(--displayWhite);
    stroke-width: 2;
    fill: rgba(13,20,35,1);
}
:root .APUGenTitleInactive {
    fill: var(--displayWhite);
    font-size: 18px;
}
:root .APUGenTitle {
    fill: var(--displayGreen);
    font-size: 18px;
}
:root #APUBleed {
    fill: var(--displayWhite);
    font-size: 20px;
}
:root .APUGenParamValue {
    fill: var(--displayGreen);
    font-size: 20px;
    text-anchor: end !important;
}
:root .APUGenParamValueWarn {
    fill: var(--displayAmber);
    font-size: 20px;
    text-anchor: end !important;
}
:root .APUGenParamUnit {
    fill: var(--displayCyan);
    font-size: 20px;
    text-anchor: start !important;
}
:root .APUGaugeParamUnit {
    fill: var(--displayCyan);
    font-size: 18px;
    text-anchor: middle !important;
}
:root .APUGaugeParamUnitWhite {
    fill: var(--displayWhite);
    font-size: 18px;
    text-anchor: middle !important;
}
:root .GreenLine {
    stroke: var(--displayGreen);
    stroke-width: 3;
    fill: none;
}
:root #APUN {
    fill: var(--displayGreen);
    font-size: 25px;
}