:root {
  --bodyHeightScale: 1;
}

@keyframes TemporaryShow {
  0%,
  100% {
    visibility: visible;
  }
}

@keyframes TemporaryHide {
  0%,
  100% {
    visibility: hidden;
  }
}

#highlight {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
}

#Electricity {
  width: 100%;
  height: 100%;
}

#Electricity[state="off"] {
  display: none;
}

@font-face {
  font-family: "Roboto";
  src: url("/Fonts/fbw-a32nx/RobotoMono-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Light";
  src: url("/Fonts/fbw-a32nx/RobotoMono-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("/Fonts/fbw-a32nx/RobotoMono-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("/Fonts/fbw-a32nx/Poppins-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Digital";
  src: url("/Fonts/fbw-a32nx/AirbusFCU.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

:root {
  --main-display-colour-background: #030200;
  --main-display-colour: hsl(36, 100%, 45%);
  --main-display-colour-inactive: hsl(53, 82%, 0%);
}

:root text.Common {
  width: 100%;
  height: 100%;
}

:root text.Active {
  font-family: "Poppins-SemiBold";
  font-size: 28px;
  fill: var(--main-display-colour);
}

:root text.Inactive {
  font-family: "Poppins-SemiBold";
  font-size: 28px;
  fill: var(--main-display-colour-inactive);
  opacity: 0.1;
}

:root text.Value {
  font-family: Digital;
  font-size: 55px;
  text-anchor: start;
  fill: var(--main-display-colour);
  letter-spacing: 0px;
}

:root line {
  stroke: var(--main-display-colour);
  stroke-width: 5;
}

:root circle {
  fill: var(--main-display-colour);
}

a320-neo-fcu-element {
  width: 100%;
  height: 100%;
  background: var(--main-display-colour-background);
  font-family: "Poppins-SemiBold";
  position: relative;
  overflow: hidden;
}

a320-neo-fcu-element #Mainframe {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

a320-neo-fcu-element #Mainframe #LargeScreen {
  width: 100%;
  height: 8%;
  display: block;
  position: absolute;
  background-color: var(--main-display-colour-background);
}

a320-neo-fcu-element #Mainframe #LargeScreen #Speed {
  width: 20%;
  height: 100%;
  left: 0%;
  position: absolute;
}

a320-neo-fcu-element #Mainframe #LargeScreen #Heading {
  width: 20%;
  height: 100%;
  left: 20%;
  position: absolute;
}

a320-neo-fcu-element #Mainframe #LargeScreen #Mode {
  width: 20%;
  height: 100%;
  left: 40%;
  position: absolute;
}

a320-neo-fcu-element #Mainframe #LargeScreen #AltVS {
  width: 40%;
  height: 100%;
  left: 60%;
  position: absolute;
}

a320-neo-fcu-element #Mainframe #LargeScreen #AltVS #Altitude {
  width: 50%;
  height: 100%;
  left: 0%;
  position: absolute;
}

a320-neo-fcu-element #Mainframe #LargeScreen #AltVS #VerticalSpeed {
  width: 50%;
  height: 100%;
  left: 50%;
  position: absolute;
}

a320-neo-fcu-element #Mainframe #SmallScreen {
  width: 14%;
  height: 8%;
  display: block;
  position: absolute;
  top: 8%;
  background-color: var(--main-display-colour-background);
}

a320-neo-fcu-element #Mainframe #SmallScreen #Selected,
a320-neo-fcu-element #Mainframe #SmallScreen #Standar {
  width: 100%;
  height: 100%;
  top: 0%;
}
