:root {
  --bodyHeightScale: 1;
}

@keyframes TemporaryShow {
  0%,
  100% {
    visibility: visible;
  }
}

@keyframes TemporaryHide {
  0%,
  100% {
    visibility: hidden;
  }
}

#highlight {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
}

#Electricity {
  width: 100%;
  height: 100%;
}

#Electricity[state="off"] {
  display: none;
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("/Fonts/fbw-a32nx/Poppins-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Digital";
  src: url("/Fonts/fbw-a32nx/AirbusFCU.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

:root {
  --main-display-colour: hsl(36, 100%, 45%);
  --main-display-colour-inactive: hsl(53, 82%, 0%);
  --main-background-opacity: 0;
  --main-text-shadow-colour: rgba(207, 110, 0, 0);

  text-shadow: var(--main-text-shadow-colour) 0 0 12px;
}

:root text.Common {
  width: 100%;
  height: 100%;
}

:root text.Active {
  font-family: "Poppins-SemiBold";
  font-size: 56px;
  fill: var(--main-display-colour);
}

:root text.Inactive {
  font-family: "Poppins-SemiBold";
  font-size: 56px;
  fill: var(--main-display-colour-inactive);
  opacity: 0.1;
}

:root text.Value {
  font-family: Digital;
  font-size: 110px;
  text-anchor: start;
  fill: var(--main-display-colour);
  letter-spacing: 0px;
}

:root line {
  stroke: var(--main-display-colour);
  stroke-width: 7;
}

:root circle {
  fill: var(--main-display-colour);
}

a320-neo-fcu-element {
  width: 100%;
  height: 100%;
  font-family: "Poppins-SemiBold";
  position: relative;
  overflow: hidden;
}

a320-neo-fcu-element #Mainframe {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.fcu-screen {
  position: absolute;
  width: 100%;
  height: 30%;
  left: 0;
}

#LeftFcu {
  top: 0;
}

#RightFcu {
  top: 35%;
}

.fcu-screen #Speed {
  width: 40%;
  height: 100%;
  left: 0%;
  position: absolute;
}

.fcu-screen #Heading {
  width: 40%;
  height: 100%;
  left: 40%;
  position: absolute;
}

.fcu-screen #LateralMode {
  width: 20%;
  height: 100%;
  left: 80%;
  position: absolute;
}

.fcu-screen #VerticalMode {
  width: 20%;
  height: 100%;
  left: 0;
  position: absolute;
}

.fcu-screen #AltVS {
  width: 80%;
  height: 100%;
  left: 20%;
  position: absolute;
}

.fcu-screen #AltVS #Altitude {
  width: 50%;
  height: 100%;
  left: 0%;
  position: absolute;
}

.fcu-screen #AltVS #VerticalSpeed {
  width: 50%;
  height: 100%;
  left: 50%;
  position: absolute;
}

.baro-screen {
  position: absolute;
  width: 28.1%;
  height: 30%;
  bottom: 1.6%;
}

#LeftBaro {
  left: 0;
}

#RightBaro {
  right: 0;
}

.baro-screen .selected,
.baro-screen .standard {
  width: 100%;
  height: 100%;
  top: 0%;
}

#fcu-background {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: var(--main-background-opacity);
}
