<script type="text/html" id="A32NX_INSTRUMENT_NAME_TEMPLATE">
    <div id="A32NX_REACT_MOUNT">
        <h1>If you're seeing this, React didn't load.</h1>
    </div>

    <script id="A32NX_BUNDLED_LOGIC">
        // Although this is a script tag, because it is a child of a custom element,
        // it will not execute. Inside `template.js`, we read the contents of this script
        // element, then create a new script element and append it to the document body.
        // We embed it into this file, even though it is useless, because this file can
        // be hot-reloaded, but `template.js` cannot.
        /* eslint-disable */
        INSTRUMENT_BUNDLE
    </script>
    <style id="A32NX_BUNDLED_STYLE">
        /* same deal as above */
        INSTRUMENT_STYLE
    </style>
</script>
<script type="text/html" import-script="/JS/dataStorage.js"></script>
<script type="text/html" import-script="/Pages/VCockpit/Instruments/Shared/Utils/RadioNav.js"></script>
<script type="text/html" import-script="/Pages/VCockpit/Instruments/Shared/FlightElements/Runway.js"></script>
<script type="text/html" import-script="/Pages/VCockpit/Instruments/FlightElements/Waypoint.js"></script>
<script type="text/html" import-script="/Pages/VCockpit/Instruments/Shared/FlightElements/Approach.js"></script>
<script type="text/html" import-script="/Pages/VCockpit/Instruments/FlightElements/WaypointLoader.js"></script>
<script type="text/html" import-script="/Pages/VCockpit/Instruments/Shared/FlightElements/FlightPlan.js"></script>
<script type="text/html" import-script="/Pages/VCockpit/Instruments/NavSystems/LogicElements/A32NX_FlightPlanManager.js"></script>
<script type="text/html" import-script="/Pages/VCockpit/Instruments/Shared/FlightElements/GeoCalc.js"></script>
<script type="text/html" import-script="/Pages/VCockpit/Instruments/NavSystems/Shared/LogicElements/SearchField.js"></script>
<script type="text/html" import-script="/Pages/VCockpit/Instruments/Shared/FlightElements/NearestWaypoint.js"></script>
<script type="text/html" import-script="/Pages/VCockpit/Instruments/NavSystems/A320_Neo/A32NX_NavSystem.js"></script>
<script type="text/html" import-script="/Pages/VCockpit/Instruments/Airliners/A320_Neo/A32NX_BaseAirliners.js"></script>
<script type="text/html" import-script="/Pages/VCockpit/Instruments/Airliners/A320_Neo/FMC/A32NX_FMCDataManager.js"></script>
<script type="text/html" import-script="/Pages/VCockpit/Instruments/generated/INSTRUMENT_NAME/template.js"></script>