#Container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

#Sidebar {
  width: 16em;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.SidebarItem {
  height: 3em;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  padding-left: 1em;
}
