.Settings {
    display: flex;
    flex-direction: column;
    margin: 1em 6em 3em 6em;
    align-items: flex-start;

    .SettingsItem {
      display: flex;
      color: var(--mainText);
      font-size: 2em;
      margin: 0.1em;
      padding: 0.75em;
      width: 95%;
      background: var(--cardBackground);
    }

    .Switch {
      margin-left: auto;
      margin-right: 0.1em;
      cursor: pointer;
    }

    .Switch:hover {
      margin-bottom: -2px;
      border-bottom: 2px solid var(--mainText);
    }
  }