@import "../../../MsfsAvionicsCommon/definitions";

.mfd-atccom-datis-block {
  border-bottom: 1px solid $display-light-grey;
  width: 100%;
  padding: 5px 5px 0 5px;
  height: 250px;
  position: relative;

  .d-atis-icon {
    height: 40px;
    position: absolute;

    svg {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
  .atis-time {
    position: absolute;
    left: 264px;
    top: 20px;
    font-size: 22px;
  }
  .atis-version {
    position: absolute;
    font-size: 22px;
    top: 20px;
    left: 232px;
  }
}

.d-atis-icon.new-atis-symbol {
  left: 340px;
  top: 12px;
}

.d-atis-icon.auto-update-symbol {
  left: 386px;
  top: 12px;
}

.d-atis-icon.auto-print-symbol {
  left: 429px;
  top: 12px;
}

.mfd-atccom-datis-block-header-row {
  display: flex;
  align-items: center;
}

.mfd-atccom-datis-block-msgarea {
  font-size: 27px;
  line-height: 38px;
  padding: 0 7px;
  position: absolute;
  top: 60px;
}

.mfd-atccom-datis-footer {
  position: relative;
  padding: 3px 0;
}

.atis-message-full {
  font-size: 25px;
  line-height: 38px;
  white-space: pre;
  padding-top: 8px;
}
