
@import "../MsfsAvionicsCommon/definitions.scss";

@font-face {
  font-family: "OIT";
  //noinspection CssUnknownTarget
  src: url("/Fonts/fbw-a380x/EFB/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.AnsuFailed {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  border: none;
  background-color: $display-background;
}

.AnsuFailedText {
  font-size: 32px;
  fill: $display-amber;
  visibility: visible !important;
  text-anchor: middle;
  font-family: "OIT";
}

.SelfTest {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  border: none;
  background-color: $display-background;
}

.LoadingProgressBarBackground {
  position: absolute;
  width: 40%;
  height: 25px;
  left: 30%;
  top: 597.5px;
  border: 1px solid #ffffff;
}
.LoadingProgressBarFill {
  position: absolute;
  width: 0%;
  height: 25px;
  left: 30%;
  top: 597.5px;
  border: 1px solid #ffffff;
  background-color: rgb(0, 224, 254);
}
.FbwTail {
  position: absolute;
  top: 377.5px;
  left: 591.5px;
  background-image: url('/Images/fbw-a380x/Common/fbw-tail.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 160px;
  height: 150px;
}
