:root {
  --bodyHeightScale: 1; }

@keyframes TemporaryShow {
  0%, 100% {
    visibility: visible; } }

@keyframes TemporaryHide {
  0%, 100% {
    visibility: hidden; } }

#highlight {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10; }

#Electricity {
  width: 100%;
  height: 100%; }
  #Electricity[state=off] {
    display: none; }

@font-face {
  font-family: "Roboto";
  src: url("/Fonts/RobotoMono-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Light";
  src: url("/Fonts/RobotoMono-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Bold";
  src: url("/Fonts/RobotoMono-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Digital";
  src: url("/Pages/VCockpit/Instruments/Shared/Fonts/digital.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

a320-neo-fdw {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: black; }
  a320-neo-fdw svg {
    width: 100%;
    height: 100%; }
  a320-neo-fdw text {
    font-family: Digital;
    font-size: 52px;
    text-anchor: end;
    fill: #985d1c;
    letter-spacing: 0px;
    alignment-baseline: central; }
  a320-neo-fdw div {
    position: absolute;
    width: 100%;
    height: 60%;
    left: 0%; }
  a320-neo-fdw #Active {
    top: 0%; }
  a320-neo-fdw #StbyCrs {
    top: 50%; }

