.dashboard-widget {
  display: grid;
  font-family: "Nunito Sans", sans-serif;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 3em auto;
  grid-gap: 1em;
  justify-items: stretch;
  align-items: flex-start;
  overflow: hidden;
  grid-template-areas:
    "TodaysFlightTitle WeatherTitle MapTitle MapTitle"
    "FlightCard        OriginWxCard Map      Map"
    "FlightCard        DestWxCard   Map      Map";
  color: var(--cardText);

  span.widget-title#title-todays-flight {
    grid-area: TodaysFlightTitle;
    font-size: 1.25rem;
    font-weight: 400;
  }

  span.widget-title#title-wx {
    grid-area: WeatherTitle;
    font-size: 1.25rem;
    font-weight: 400;
  }

  span.widget-title#title-map {
    grid-area: MapTitle;
    font-size: 1.25rem;
    font-weight: 400;
  }

  .flight-widget {
    grid-area: FlightCard;
    height: 100%;

    .flight-card {
      height: 100%;
      border-radius: 10px;
      display: grid;
      grid-gap: 0.75em;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
      grid-template-columns: auto auto;
      grid-template-rows: 4rem auto auto auto 45%;
      color: var(--cardText);
      background: var(--cardBackground);
      padding: 1rem 2rem;
      font-size: 1.25rem;
      grid-template-areas:
        "Toolbar  Toolbar"
        "DepArr   DepArr"
        "Schedule Schedule"
        "Times    Times";

      .flight-widget-toolbar {
        margin-top: 1rem;
        grid-area: Toolbar;
        display: flex;
        align-content: center;
        justify-content: center;
        font-size: 1.25rem;
        font-weight: 400;

        a {
          color: inherit;
          text-decoration: inherit;
        }

        #primary-button {
          margin-right: 1.5rem;
        }

        #secondary-button {
          margin-left: 1.5rem;
        }

        &.active {
          border-bottom: solid var(--toolbarUnderlineColor) 0.1em;
        }

        &.active:hover {
          border-bottom: solid var(--toolbarUnderlineColor) 0.1em;
        }
      }

      .title {
        font-size: 1rem;
        font-weight: 400;
        color: var(--mainTextSecondary);
        grid-area: DepArr;
        display: flex;
        align-items: center;
      }

      .origin-destination {
        font-size: 2.25rem;
        font-weight: 400;
        grid-area: DepArr;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .flight-schedule {
        grid-area: Schedule;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -4rem;
      }

      #std {
        text-align: left;
        font-size: 1.5rem;
        margin-right: 2rem;
      }

      #sta {
        text-align: right;
        font-size: 1.5rem;
        margin-left: 2rem;
      }

      .flight-times {
        grid-area: Times;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -4rem;
      }
    }
  }

  .weather-card {
    height: 100%;
    border-radius: 10px;
    display: grid;
    padding: 0.75rem 2rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    color: var(--cardText);
    background: var(--cardBackground);
    font-size: 2.25rem;
    font-weight: 400;
    justify-content: space-between;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "OneByTwo"
      "MetarModal"
      "TwoByTwo"
      "IcaoIdent";

    #OneByTwo {
      display: grid;
      padding-top: 0.5rem;
      grid-template-columns: 50% 50%;
      font-size: 1.5rem;
      grid-template-areas: "icao WeatherIcon";
      width: 100%;
    }

    #TwoByTwo {
      display: grid;
      padding-top: 0.6rem;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr 1fr;
      font-size: 1.5rem;
    }

    #MetarModal p {
      width: 90%;
      min-height: 206px;
    }

    .icao-ident {
      display: flex;
      margin-top: 1rem;

      .icao-update {
        display: flex;
        align-items: center;
        font-size: 0.85rem;
      }
    }

    .refresh-icon {
      margin-left: 1em;
      grid-area: WeatherIcon;
    }

    .icao {
      font-size: 2rem;
      grid-area: icao;

      ::placeholder {
        color: var(--cardText) !important;
      }

      input {
        font-size: 2rem;
        font-weight: 400;
        padding-top: 0.6rem;
        width: 95px;
        border: none;
        outline: none;
        background-color: var(--cardBackground);
        color: var(--cardText);
      }
    }

    #Pressure {
      font-size: 1.25em;
      grid-area: Pressure;
    }

    #Wind {
      font-size: 1.25em;
      grid-area: Wind;
    }

    #Temp {
      font-size: 1.25em;
      grid-area: Temp;
    }

    #Dew {
      font-size: 1.25em;
      grid-area: Dew;
    }

    .col {
      width: 100%;
      margin-bottom: 20px;
      font-size: 1.5rem;
    }

    .big {
      font-size: 3rem;
    }

    .label,
    .unit {
      font-size: 1.1rem;
      color: var(--cardText);
    }
  }

  .map-widget {
    grid-area: Map;
    height: 100%;
    width: 100%;
  }

  .map {
    border-radius: 10px;
  }

  #mapid {
    width: 660px !important;
    height: 740px !important;
  }

  #weather-card-origin {
    grid-area: OriginWxCard;
  }

  #weather-card-dest {
    grid-area: DestWxCard;
  }

  textarea:focus,
  input:focus {
    outline: none;
  }
}
