.status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  font-weight: 600;
  position: fixed;
  z-index: 1000;
  padding-top: 0.25rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 1430px;
  color: var(--statusBarText);
  background-color: var(--statusBarBackground);
}

.status-bar-item {
  display: flex;
  align-items: center;
}
