$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 17px;
$font-size-larger: 18px;
$font-size-xlarge: 20px;
$font-size-huge: 22px;
$font-size-title: 24px;

$display-white: #ffffff;
$display-grey: #6a6b7a;
$display-amber: #e68000;
$display-dark-grey: #868a9c;
$display-light-grey: #c4c6cf;
$display-cyan: #00ffff;
$display-green: #00ff00;
$display-magenta: #ff94ff;
$display-red: #ff0000;
$display-yellow: #ffff00;
$display-dark-blue: rgb(12, 102, 247);
$display-mfd-darker-grey: #333030;

$display-background: #000000;
