.atc-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.atc-button {
    margin: 5px;
    &.active{
        color:yellow;
    }
}

.button-content {
    width: 200px;
    max-width: 200px;
    display: flex;
    font-size: 1rem;
    align-items: center;
    .left {
        margin-right: 2px;
    }
    .right {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .freq {
            font-size: 1rem;
        }
}
}

.active-frequency {
    font-size: 1.5rem;
    display: flex;
    color: yellow;
}


.active-atis {
    margin-top: 2rem;
    font-size: 1.4rem;
    p {
        font-size: 1.4rem;
        margin: 1rem 0;
    }
 }
