@import url('/CSS/A32NX_Display_Common.css');

@font-face {
  font-family: "ECAMFontRegular";
  src: url("/Fonts/ECAMFontRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("/Fonts/HoneywellMCDU.ttf") format("truetype");
  font-family: "HoneywellMCDU";
  font-style: normal;
  font-weight: 900;
}

@font-face {
  src: url("/Fonts/HoneywellMCDUSmall.ttf") format("truetype");
  font-family: "HoneywellMCDUSmall";
  font-style: normal;
  font-weight: 900;
}

//ROWS discuss using styled components so we can access props instead
.row-holder-2 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 1fr;
}

.row-holder-3 {
  @extend .row-holder-2;
  grid-template-columns: repeat(3,auto)
}

//LINES
.line-holder {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 54px);
}

.line-holder-1 {
  @extend .line-holder;
  grid-column-start: 1;
}

.line-holder-2 {
  @extend .line-holder;
  grid-column-start: 2;
}

.line-holder-3 {
  @extend .line-holder;
  grid-column-start: 3;
}


.line {
  white-space: pre;
}

.line-left {
  text-align: left;
  left: 4.5%;
  width: 100%;
}

.line-right {
  text-align: right;
  right: 5.0%;
  width: 100%;
}

.line-center {
  left: 0;
  width: 100%;
  text-align: center;
}

// FIELDS
.field-left {
  float: left;
}

.field-right {
  float: right;
}

// TEXT
.s-text {
  font-family: HoneywellMCDUSmall, HoneywellMCDU !important;
  line-height: 1.25;
  font-size: 4.2vw;
  //letter-spacing: 0.6vw;
}

p {
  font-family: "HoneywellMCDU" !important;
  color: var(--mcduWhite);
  font-size: 5.3vw !important;
  letter-spacing: normal;
}

span {
  @extend p
}

// COLORS

.white {
  color: var(--mcduWhite);
}

.inop {
  color: var(--mcduLightGrey);
}

.cyan {
  color: var(--mcduCyan);
}

.yellow {
  color: var(--mcduYellow);
}

.green {
  color: var(--mcduGreen);
}

.amber {
  color: var(--mcduAmber);
}

.red {
  color: var(--mcduRed);
}

.magenta {
  color: var(--mcduMagenta);
}
