@import url("/CSS/A32NX_Display_Common.css");

a320-neo-lower-ecam-door {
    display: block;
    position: absolute;
    top: -3%;
    bottom: 5%;
    left: 0%;
    width: 100%;
    height: 100%;
}
a320-neo-lower-ecam-door text {
    text-anchor: middle;
    alignment-baseline: central;
}


a320-neo-lower-ecam-door .MainShape {
    fill: transparent;
    stroke: var(--displayLightGrey);
    stroke-width: 2;
}
a320-neo-lower-ecam-door .DoorShape {
    fill: transparent;
    stroke: var(--displayGreen);
    stroke-width: 2; }

a320-neo-lower-ecam-door .DoorActiveShape {
    fill: var(--displayAmber);
    stroke: var(--displayAmber);
    stroke-width: 2;
}
a320-neo-lower-ecam-door .DoorWarningShape {
    fill: var(--displayAmber);
    stroke: var(--displayAmber);
    stroke-width: 2;
}
a320-neo-lower-ecam-door .WarningShape {
    fill: transparent;
    stroke: var(--displayAmber);
    stroke-width: 2;
}


a320-neo-lower-ecam-door text.Title {
    font-size: 25px;
    fill: var(--displayWhite);
}
a320-neo-lower-ecam-door text.Slide {
    font-size: 12pt;
    fill: var(--displayWhite);
}
a320-neo-lower-ecam-door text.Note {
    font-size: 12pt;
    fill: var(--displayWhite);
}
a320-neo-lower-ecam-door text.NoteLarge {
    font-size: 13pt;
    word-spacing: -4px;
    fill: var(--displayWhite);
}
a320-neo-lower-ecam-door text.NoteLargeAmber {
    font-size: 15pt;
    word-spacing: -4px;
    fill: var(--displayAmber);
}
a320-neo-lower-ecam-door text.Unit {
    font-size: 14pt;
    fill: var(--displayCyan);
}
a320-neo-lower-ecam-door text.Value {
    font-size: 14pt;
    fill: var(--displayGreen);
}
a320-neo-lower-ecam-door text.ValueSmall {
    font-size: 13pt;
    fill: var(--displayGreen);
}
a320-neo-lower-ecam-door text.Warning {
    font-size: 18px;
    fill: var(--displayAmber);
}
a320-neo-lower-ecam-door text.DoorWarning {
    font-size: 12pt;
    fill: var(--displayAmber);
}
