@import url("/CSS/A32NX_Display_Common.css");

a320-neo-lower-ecam-cond {
  display: block;
  position: absolute;
  top: -5%;
  left: 0%;
  width: 100%;
  height: 100%;
}

a320-neo-lower-ecam-cond text {
  text-anchor: middle;
  alignment-baseline: central;
  word-spacing: 10;
}

:root .AlignCenter {
  text-anchor: middle !important;
}

:root .Gauge {
  fill: none;
  stroke: var(--displayWhite);
  stroke-width: 2;
  stroke-miterlimit: 10;
}

:root .CondPlane {
  stroke: var(--displayLightGrey);
  stroke-width: 1;
  fill: none;
}

.DuctStatus {
  fill: var(--displayWhite);
  font-weight: bold;
}

.valve-moving > .st5 {
  stroke: var(--displayAmber);
}
