@import "../../../Common/definitions";

#main-elec {
  .Box {
    stroke: #EEEEEE;
    fill: none;
    stroke-width: 2.5px;
  }

  rect.Bus {
      fill: #636363;
  }

  text {
    fill: #EEEEEE;
    font-family: 'Roboto Mono', monospace;
    font-size: 19px;

    &.Bigger {
      font-size: 26px;
    }

    &.Big {
      font-size: 22px;
    }

    &.Tiny {
      font-size: 15px;
    }

    &.Middle {
      text-anchor: middle;
      text-align: middle;
    }

    &.Right {
      text-anchor: end;
      text-align: end;
    }

    &.Green {
      fill: $display-green;
    }

    &.Amber {
      fill: $display-amber;
    }

    &.Cyan {
      fill: $display-cyan;
    }
  }
}
