@import "../../../Common/definitions";

#main-elec {
  .Box {
    stroke: #EEEEEE;
    fill: none;
    stroke-width: 2.5px;
  }

  path {
    stroke: #EEEEEE;
    stroke-width: 2.75px;
    stroke-linecap: square;
    stroke-linejoin: miter;

    &.Green {
      stroke: $display-green;
    }

    &.Amber {
      stroke: $display-amber;
    }

    &.Arrow {
      stroke-width: 2.25px;
    }
  }

  rect.Bus {
      fill: #636363;
  }

  text {
    fill: #EEEEEE;
    font-family: 'Roboto Mono', monospace;
    font-size: 19px;

    &.ExtraLarge {
      font-size: 26px;
    }

    &.Large {
      font-size: 22px;
    }

    &.Small {
      font-size: 16.875px;
    }

    &.ExtraSmall {
      font-size: 15px;
    }

    &.Middle {
      text-anchor: middle;
      text-align: middle;
    }

    &.Right {
      text-anchor: end;
      text-align: end;
    }

    &.Green {
      fill: $display-green;
    }

    &.Amber {
      fill: $display-amber;
    }

    &.Cyan {
      fill: $display-cyan;
    }
  }
}
