@import "../../Common/definitions";

#main-elec {
  .Box {
    stroke: #EEEEEE;
    fill: none;
    stroke-width: 2.5px;
  }

  text {
    fill: #EEEEEE;
    font-family: 'Roboto Mono', monospace;
    line-height: 4.6875;
    white-space: pre;
    word-spacing: 0px;
    font-size: 18.75px;
    font-weight: 400;

    &.Middle {
      text-anchor: middle;
      text-align: middle;
    }

    &.Right {
      text-anchor: end;
      text-align: end;
    }

    &.Green {
      fill: $display-green;
    }

    &.Amber {
      fill: $display-amber;
    }

    &.Cyan {
      fill: $display-cyan;
    }
  }
}
