@import url('/CSS/A32NX_Display_Common.css');
@font-face {
  font-family: "Roboto";
  src: url("/Fonts/RobotoMono-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Light";
  src: url("/Fonts/RobotoMono-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ECAMFontRegular";
  src: url("/Fonts/ECAMFontRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.title {
  font-family: "ECAMFontRegular" !important;
  fill: var(--mcduWhite);
  text-anchor: middle;
  font-size: 5.8vw;
  letter-spacing: normal;
}

.arrow {
  @extend .title;
  text-anchor: end;
}

.white {
  fill: var(--mcduWhite);
}

.inop {
  fill: var(--mcduLightGrey);
}

.cyan {
  fill: var(--mcduCyan);
}

.yellow {
  fill: var(--mcduYellow);
}

.green {
  fill: var(--mcduGreen);
}

.amber {
  fill: var(--mcduAmber);
}

.red {
  fill: var(--mcduRed);
}

.magenta {
  fill: var(--mcduMagenta);
}