.Magenta {
    fill: none;
    stroke: #ff94ff;
}

text.Magenta {
    fill: #ff94ff;
    stroke: none;
}

.Cyan {
    fill: none;
    stroke: #00ffff;
}

.Cyan.Fill {
    fill: #00ffff;
    stroke: none;
}

text.Cyan {
    fill: #00ffff;
    stroke: none;
}

tspan.Cyan {
    fill: #00ffff;
    stroke: none;
}

.White {
    fill: none;
    stroke: #ffffff;
}

.White.Fill {
    fill: #ffffff;
    stroke: none;
}

text.White {
    fill: #ffffff;
    stroke: none;
}

.Green {
    stroke: #00ff00;
    fill: none;
}

text.Green {
    fill: #00ff00;
    stroke: none;
}

.Amber {
    stroke: #e68000;
    fill: none;
}

text.Amber {
    fill: #e68000;
    stroke: none;
}

.Yellow {
    stroke: #ffff00;
    fill: none;
}

.Yellow.Fill {
    fill: #ffff00;
    stroke: none;
}

text.Yellow {
    fill: #ffff00;
    stroke: none;
}

.Red {
    stroke: #ff0000;
    fill: none;
}

.Red.Fill {
    fill: #ff0000;
    stroke: none;
}

text.Red {
    fill: #ff0000;
    stroke: none;
}

.Grey.Fill {
    fill: #787878;
    stroke: none;
}
