.default-input-container {
  @apply h-16 px-4 py-3 border-2 border-navy-regular bg-navy-lightest rounded-lg;
  @apply flex flex-row items-center;

  &.dark-option {
    @apply bg-blue-darker border-blue-darker;
  }

  .disabled {
    pointer-events: none;
  }

  &.focus-active {
    @apply border-blue-light;
  }

  > * {
    @apply mr-4;
  }

  :last-child {
    @apply mr-0;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .inner-container {
    @apply relative flex flex-row;

    > * {
      @apply mr-2;
    }

    :last-child {
      @apply mr-0;
    }
  }
}
