$colour-main: hsl(0, 0%, 100%);

@font-face {
  font-family: "Digital";
  src: url("/Fonts/fbw-a380x/AirbusBAT.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

.bat-svg {
  background-color: hsl(248, 94%, 48%);
  box-shadow: inset 0px 0px 110px -20px hsl(0, 0%, 0%);
  height: 100%;
  width: 100%;
  left: 0;
  /* TODO: Remove opacity when SAI/ISIS/CLOCK/BAT/ATC/RMP/RUD TRIM is split and not share the same emissive/mesh */
  opacity: 0.5;
}

.bat-svg.off {
  background-color: hsla(0, 0%, 0%, 0);
}

text {
  fill: $colour-main;
  font-family: Digital, ui-monospace;
  font-size: 56px;
  text-anchor: end;
  letter-spacing: 0.1em;
  vertical-align: center;
}
