@import url("/CSS/A32NX_Display_Common.css");

:root {
    --bodyHeightScale: 1;
}

@keyframes TemporaryShow {
    0%, 100% {
        visibility: visible;
    }
}
@keyframes TemporaryHide {
    0%, 100% {
        visibility: hidden;
    }
}

#highlight {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
}
#Electricity {
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, rgba(13, 20, 35, 1) 0%, rgba(13, 20, 35, 1) 100%);
}
#Electricity[state=off] {
    display: none;
}

a320-neo-ecam-gauge {
    display: inline-block;
    margin-left: 15%;
    width: calc(var(--viewportHeightRatio) * (640px / 21.6) * var(--currentPageHeight) / 100);
    height: calc(var(--viewportHeightRatio) * (640px / 21.6) * var(--currentPageHeight) / 100);
}
a320-neo-ecam-gauge text {
    fill: var(--displayWhite);
    font-size: 12px;
    text-align: center;
    text-anchor: middle;
}
a320-neo-ecam-gauge #RootSVG {
    overflow: visible;
    width: 100%;
    height: 100%;
}
a320-neo-ecam-gauge #RootSVG #MainArc {
    fill: none;
}
a320-neo-ecam-gauge #RootSVG #MainArc.active {
    stroke: var(--displayWhite);
}
a320-neo-ecam-gauge #RootSVG #MainArc.inactive {
    stroke: var(--displayAmber);
}
a320-neo-ecam-gauge #RootSVG #RedArc {
    fill: none;
    stroke: var(--displayRed);
}
a320-neo-ecam-gauge #RootSVG #RedArc.active {
    display: block;
}
a320-neo-ecam-gauge #RootSVG #RedArc.inactive {
    display: none;
}
a320-neo-ecam-gauge #RootSVG #GraduationsGroup line.InnerMarker {
    stroke: var(--displayWhite);
}
a320-neo-ecam-gauge #RootSVG #GraduationsGroup line.OuterMarker {
    stroke: var(--displayAmber);
}
a320-neo-ecam-gauge #RootSVG #GraduationsGroup.active {
    display: block;
}
a320-neo-ecam-gauge #RootSVG #GraduationsGroup.inactive {
    display: none;
}


a320-neo-ecam-gauge #RootSVG #CursorGroup {
    width: 100%;
    height: 100%;
}
a320-neo-ecam-gauge #RootSVG #CursorGroup line {
    stroke: var(--displayGreen);
    stroke-width: 3;
}
a320-neo-ecam-gauge #RootSVG #CursorGroup path {
    fill: none;
    stroke: var(--displayWhite);
    stroke-width: 1px;
}
a320-neo-ecam-gauge #RootSVG #CursorGroup .active {
    display: block;
}
a320-neo-ecam-gauge #RootSVG #CursorGroup .warning {
    display: block;
    stroke: var(--displayAmber);
}
a320-neo-ecam-gauge #RootSVG #CursorGroup .danger {
    display: block;
    stroke: var(--displayRed);
}
a320-neo-ecam-gauge #RootSVG #CursorGroup .inactive {
    display: none;
}
a320-neo-ecam-gauge #RootSVG #OuterDynamicArcObject {
    fill: none;
    stroke: var(--displayGreen);
    stroke-width: 4px;
}
a320-neo-ecam-gauge #RootSVG #OuterDynamicArcObject.active {
    display: block;
}
a320-neo-ecam-gauge #RootSVG #OuterDynamicArcObject.inactive {
    display: none;
}


a320-neo-ecam-gauge #RootSVG #CurrentValue {
    text-align: right;
    text-anchor: end;
}
a320-neo-ecam-gauge #RootSVG #CurrentValue.active {
    fill: var(--displayGreen);
    font-size: 15px;
}
a320-neo-ecam-gauge #RootSVG #CurrentValue.warning {
    fill: var(--displayAmber);
    font-size: 15px;
}
a320-neo-ecam-gauge #RootSVG #CurrentValue.danger {
    fill: var(--displayRed);
    font-size: 15px;
}
a320-neo-ecam-gauge #RootSVG #CurrentValue.inactive {
    fill: var(--displayAmber);
    font-size: 20px;
    letter-spacing: 5px;
}
a320-neo-ecam-gauge #RootSVG #CurrentValueBorder {
    fill: none;
    stroke: var(--displayGrey);
    stroke-width: 3px;
}


a320-neo-ecam-gauge #RootSVG #ExtraMessage {
    width: 100%;
    height: 100%;
}
a320-neo-ecam-gauge #RootSVG #ExtraMessage rect {
    fill: black;
    stroke: var(--displayGrey);
    stroke-width: 3px;
}
a320-neo-ecam-gauge #RootSVG #ExtraMessage text {
    text-align: center;
    text-anchor: middle;
    fill: var(--displayGreen);
    font-size: 15px;
}
a320-neo-ecam-gauge #RootSVG #ExtraMessage .active {
    display: block;
}
a320-neo-ecam-gauge #RootSVG #ExtraMessage .inactive {
    display: none;
}


a320-neo-eicas-element {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
a320-neo-eicas-element #highlight {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
}
a320-neo-eicas-element #Mainframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}
a320-neo-eicas-element #Mainframe #TopScreen {
    background: radial-gradient(ellipse at center, rgba(13, 20, 35, 1) 0%, rgba(13, 20, 35, 1) 100%);
    transform: rotateX(0);
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
}
a320-neo-eicas-element #Mainframe #BottomScreen {
    background: radial-gradient(ellipse at center, rgba(13, 20, 35, 1) 0%, rgba(13, 20, 35, 1) 100%);
    transform: rotateX(0);
    top: 5%;
    left: 0%;
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
}


a320-neo-eicas-element[index="1"] #Mainframe #TopScreen {
    display: block;
}
a320-neo-eicas-element[index="2"] #Mainframe #BottomScreen {
    display: block;
}
.blue-text {
    color: var(--displayCyan);
}
.SelfTestWrapper {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    border: none;
    visibility: hidden;
}
#BottomScreen #door-video-wrapper {
    position: absolute;
    top: -5%;
    width: 100%;
    height: 82%;
    z-index: 100;
    visibility: hidden;
    background-image: url(DoorVideoResources/empty.png);
    background-size: cover;
}
