$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 17px;
$font-size-larger: 18px;
$font-size-xlarge: 20px;
$font-size-huge: 22px;
$font-size-title: 24px;

$display-white: #e5dfd6;
$display-grey: #323135;
$display-amber: #eb880c;
$display-cyan: #17e9f2;
$display-green: #5bea06;
$display-magenta: #c87fda;
$display-red: #c21d1a;
$display-yellow: #fad918;

$display-background: #000000;
