$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 17px;
$font-size-larger: 18px;
$font-size-xlarge: 20px;
$font-size-huge: 22px;
$font-size-title: 24px;

$display-white: #ffffff;
$display-grey: #5c5f6a;
$display-amber: #f38a00;
$display-cyan: #35edff;
$display-green: #40ff1e;
$display-magenta: #ffa2ff;
$display-red: #de1010;
$display-yellow: #ebe911;

$display-background: #030204;
