@import "../Common/definitions.scss";

text.text-unit {
  fill: $display-cyan;
  font-size: 15px;
}

text.text-value {
  fill: $display-green;
  font-size: $font-size-xlarge;

}

text.text-warning {
  fill: $display-amber;
  font-size: $font-size-xlarge;
}

text.text-big-value {
  fill: $display-green;
  font-size: $font-size-huge;
}

text.text-title {
  fill: $display-white;
  font-size: $font-size-xlarge;
}
