@import "../Common/definitions";

/* pixels for screen */
@import "../Common/pixels";
#panel:after {
  @include pixels;
}

@font-face {
  font-family: "Ecam";
  //noinspection CssUnknownTarget
  src: url("/fonts/ECAMFontRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NDChrono";
  //noinspection CssUnknownTarget
  src: url("/fonts/NDChrono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.nd-svg {
  position: absolute;
  width: 1280px;
  height: 1280px;

  background: $display-background;

  font-family: "Ecam", monospace !important;
}

.GtLayer {
  -webkit-transform: rotateX(0deg);
}

.MiddleAlign {
  text-anchor: middle;
}

.Magenta {
  fill: none;
  stroke: $display-magenta;
}
text.Magenta {
  fill: $display-magenta;
  stroke: none;
}

.Cyan {
  fill: none;
  stroke: $display-cyan;
}
text.Cyan {
  fill: $display-cyan;
  stroke: none;
}
tspan.Cyan {
  fill: $display-cyan;
  stroke: none;
}

.White {
  fill: none;
  stroke: $display-white;
}
.White.Fill {
  fill: $display-white;
  stroke: none;
}
text.White {
  fill: $display-white;
  stroke: none;
}

.Green {
  stroke: $display-green;
  fill: none;
}
.Green.Fill {
  fill: $display-green;
  stroke: none;
}
text.Green {
  fill: $display-green;
  stroke: none;
}

.Amber {
  stroke: $display-amber;
  fill: none;
}
text.Amber {
  fill: $display-amber;
  stroke: none;
}

.Yellow {
  stroke: $display-yellow;
  fill: none;
}
.Yellow.Fill {
  fill: $display-yellow;
  stroke: none;
}
text.Yellow {
  fill: $display-yellow;
  stroke: none;
}

.Red {
  stroke: $display-red;
  fill: none;
}
.Red.Fill {
  fill: $display-red;
  stroke: none;
}
text.Red {
  fill: $display-red;
  stroke: none;
}

.Grey.Fill {
  fill: $display-grey;
  stroke: none;
}

.BackgroundFill {
  fill: $display-background;
}

path.rounded {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.chrono {
  font-family: "NDChrono", monospace !important;
}
