; Copyright (c) 2023-2024 FlyByWire Simulations
; SPDX-License-Identifier: GPL-3.0

; Reference LOD implementation, please keep these comments (for now).

[model.options]
; if true, when showing the exterior, also show the interior model (default false)
withExterior_showInterior=true
; if true, when showing the interior with the exterior, exclude interior.lod.0 (default false); only has an effect when withExterior_showInterior is true
withExterior_showInterior_hideFirstLod=false
; when showing the interior, force showing lod0 (default true)
withInterior_forceFirstLod=true
; when showing the interior, also show the exterior model (default false)
withInterior_showExterior=true

[models]
normal=A380_EXTERIOR.xml
interior=A380_COCKPIT.xml

