[VERSION]
major = 1
minor = 0

[GENERAL]
atc_type = "TT:ATCCOM.ATC_NAME AIRBUS.0.text"
atc_model = "TT:ATCCOM.AC_MODEL_A20N.0.text"
Category = "airplane"
performance = "Engines\nCFM-56 5B rated at 26,500 lbs\n\nTypical Cruise Speed\n0.78 Mach at 35,000 ft\n\nMax Speed\nVmo 350 kts    Mmo 0.82 Mach\n\nRange(150 pax)\n2,900 nm (5,374 km)\n\nMax Fuel\n42,230 lbs (6,303 US gal)\n\nMax Takeoff Weight\n162,040 lbs\n\nMax Gross Weight (taxi weight)\n162,900 lbs\n\nMax Payload\n42,370 lbs"
editable = 1
wip_indicator = 2
icao_type_designator = "A20N"
icao_manufacturer = "AIRBUS"
icao_model = "A-320neo"
icao_engine_type = "Jet"
icao_engine_count = 2
icao_WTC = "M"

[PILOT]
pilot = "Pilot_Female_Uniform"
copilot = "Pilot_Male_Uniform"
instructor = "Pilot_Male_Casual"
pilot_default_animation = "Idle1_PoseAirliner"
copilot_default_animation = "Idle2_PoseAirliner"
pilot_attach_node = "PILOT_0"
copilot_attach_node = "PILOT_1"

[SERVICES]
FUELTRUCK = 1
BAGGAGE_LOADER = 1
CATERING_TRUCK = 1
BOARDING_RAMP = 1
GROUND_POWER_UNIT = 1
PUSHBACK = 1
SMALL_PUSHBACK = 0
MARSHALLER = 1
JETWAY = 1

[EFFECTS]
wake = fx_wake
water = fx_spray
dirt = FX_ASOBO_TOUCHDIRT_BIG
concrete = FX_ASOBO_TOUCHCONCRETE_BIG
touchdown = FX_ASOBO_TouchDown_Big, 1
contrail = FX_ASOBO_CONTRAIL_BIG
effect.0 = FX_EXHAUST_LEFT#(A:GENERAL ENG COMBUSTION:1, boolean)#FX_ASOBO_HEAT_BIG
effect.1 = FX_EXHAUST_RIGHT#(A:GENERAL ENG COMBUSTION:2, boolean)#FX_ASOBO_HEAT_BIG

[LOADING]
ImageName = LOADING_FREEFLIGHT
Tips0 = TT:A32NX.LOADING.TIPS.A320NEO_001
Tips1 = TT:A32NX.LOADING.TIPS.A320NEO_002
Tips2 = TT:A32NX.LOADING.TIPS.A320NEO_003
Tips3 = TT:A32NX.LOADING.TIPS.A320NEO_004
Tips4 = TT:A32NX.LOADING.TIPS.A320NEO_005
Tips5 = TT:A32NX.LOADING.TIPS.A320NEO_006

[STALL PROTECTION]
stall_protection = 1 ; Alpha Protection
off_limit = 9 ; Alpha below which the Alpha Protection can be disabled (If also below off_yoke_limit)
off_yoke_limit = 1 ; Yoke position (in Pct) below which the Alpha Protection can be disabled (If also below off_limit)
on_limit = 12 ; Alpha above which the Alpha Protection timer starts
on_goal = 10 ; The alpha that the Alpha Protection will attempt to reach when triggered
timer_trigger = 1.0 ; Duration (in Sec) the alpha must be above on_limit before the Alpha Protection is triggered

;===================== FLTSIM =====================

[FLTSIM.0]
title = "Airbus A320 Neo FlyByWire" ; Variation name
model = "" ; model folder
panel = "" ; panel folder
sound = "" ; sound folder
texture = "" ; texture folder
kb_checklists = "Boeing747-400_check" ; Procedures/Checklist sibling file name
kb_reference = "Boeing747-400_ref" ; Reference information sibling file name
description = "TT:AIRCRAFT.DESCRIPTION" ; Variation description.
wip_indicator = 0 ; know if the variation is good to go or still WIP : -1=Disabled, 0=Rough, 1=1st Pass, 2=Finished
ui_manufacturer = "FlyByWire Simulations" ; e.g. Boeing, Cessna
ui_type = "A320neo (YEET)" ; e.g. 747-400, 172
ui_variation = "Airbus House" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner" ; e.g. Single Engine Prop, Twin Engine Prop, Rotorcraft, etc
ui_createdby = "FlyByWire Simulations" ; e.g. Asobo Studio, Microsoft, FSAddonCompany, etc
ui_thumbnailfile = "" ; app relative path to ThumbNail image file
ui_certified_ceiling = 39800 ; service ceiling / max certified operating altitude (ft)
ui_max_range = 3500 ; max distance the aircraft can fly between take-off and landing in (NM)
ui_autonomy = 7 ; max duration the aircraft can fly between take-off and landing in (Hrs)
ui_fuel_burn_rate = 5300 ; average fuel consumption per hour (lbs/hr) - reminder: fuel density is ~6.7lbs per US gallon
atc_id = "ASX320" ; tail number
atc_id_enable = 0 ; enable tail number
atc_airline = "" ; airline name
atc_flight_number = "1123" ; flight number
atc_heavy = 1 ; heavy?
atc_parking_types = "GATE,RAMP,CARGO" ; "ANY" / "RAMP" / "CARGO" / "MIL_CARGO" / "MIL_COMBAT" / "GATE" / "DOCK"
atc_parking_codes = "" ; Comma separated and may be as small as one character each
atc_id_color = "" ; color for the tail number : i.e. "#ffff00ff"
atc_id_font = "" ; font for the tail number
isAirTraffic = 0 ; Is the plane usable for air traffic
isUserSelectable = 1 ; Is the plane selectable by the user
