@import "../../style";
@import "../../Common/definitions";

#crz-page {

    text {
        fill: $display-white;

        &.Title {
            font-size: 24px;
            fill: $display-white;
            text-decoration: underline;
            text-anchor: middle !important;
        }

        &.SubTitle {
            font-size: 22px;
            fill: $display-white;
            text-decoration: underline;
            text-anchor: middle !important;
        }

        &.Standard {
            font-size: 17px;
        }

        &.Medium {
            font-size: 16px;
        }

        &.Large {
            font-size: 20px;
        }

        &.Cyan {
            fill: $display-cyan !important;
        }

        &.Green {
            fill: $display-green !important;
        }

        &.Amber {
            fill: $display-amber;
        }

        &.Center {
            text-anchor: middle !important;
        }
    }

    .Show {
        display:block;
    }

    .Hide {
        display: none;
    }

    .Gauge {
        stroke: $display-white;
        stroke-width: 2;
        fill: none;
    }

    .GaugeText {
        stroke: $display-white;
        font-size: 17px;
    }

    .GaugeIndicator {
        stroke: $display-green;
        stroke-width: 2;
        fill: none;
    }

    .VsIndicator {
        stroke: $display-green;
        stroke-width: 2;
        fill: none;
    }

    .WingPlaneSym {
        stroke: $display-grey;
        stroke-width: 2;
        fill: none;
    }

}
