:root {
  --bodyHeightScale: 1; }

@keyframes TemporaryShow {
  0%, 100% {
    visibility: visible; } }

@keyframes TemporaryHide {
  0%, 100% {
    visibility: hidden; } }

#highlight {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10; }

#Electricity {
  width: 100%;
  height: 100%; }
  #Electricity[state=off] {
    display: none; }

@font-face {
  font-family: "Roboto";
  src: url("/Fonts/RobotoMono-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Light";
  src: url("/Fonts/RobotoMono-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Bold";
  src: url("/Fonts/RobotoMono-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

as1000-attitudespeedbackup-element {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  as1000-attitudespeedbackup-element #Mainframe {
    width: 100%;
    height: 100%; }
  as1000-attitudespeedbackup-element #Horizon {
    position: absolute;
    height: 80%;
    bottom: 0%;
    left: 25%;
    right: 25%;
    width: auto;
    z-index: -1; }
  as1000-attitudespeedbackup-element #Altimeter {
    position: absolute;
    width: 40%;
    left: -10%;
    top: -45%;
    z-index: 1; }
  as1000-attitudespeedbackup-element #Airspeed {
    position: absolute;
    width: 40%;
    right: -10%;
    top: -45%;
    z-index: 1; }

