:root {
  --bodyHeightScale: 1;
}

@keyframes TemporaryShow {
  0%, 100% {
    visibility: visible;
  }
}

@keyframes TemporaryHide {
  0%, 100% {
    visibility: hidden;
  }
}

#highlight {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
}

#Electricity {
  width: 100%;
  height: 100%;
}

#Electricity[state=off] {
  display: none;
}

@font-face {
  font-family: "Roboto";
  src: url("/Fonts/RobotoMono-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Light";
  src: url("/Fonts/RobotoMono-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("/Fonts/RobotoMono-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Digital";
  src: url("/Pages/VCockpit/Instruments/Shared/Fonts/digital.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

:root {
  --main-display-colour-background: hsl(53, 82%, 2%);
  --main-display-colour: hsl(32, 100%, 69%);
  --main-display-colour-inactive: hsl(0, 0%, 4%);
}

:root text.Common {
  width: 100%;
  height: 100%;
}

:root text.Active {
  font-family: Roboto-Regular;
  font-size: 25px;
  fill: var(--main-display-colour);
}

:root text.Inactive {
  font-family: Roboto-Regular;
  font-size: 25px;
  fill: var(--main-display-colour-inactive);
}

:root text.Value {
  font-family: Digital;
  font-size: 66px;
  text-anchor: start;
  fill: var(--main-display-colour);
  letter-spacing: 8px;
}

:root line {
  stroke: var(--main-display-colour);
  stroke-width: 3;
}

:root circle {
  fill: var(--main-display-colour);
}

a320-neo-fcu-element {
  width: 100%;
  height: 100%;
  background-color: var(--main-display-colour-background);
  font-family: Roboto-Bold;
  position: relative;
  overflow: hidden;
}

a320-neo-fcu-element #Mainframe {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

a320-neo-fcu-element #Mainframe #LargeScreen {
  width: 100%;
  height: 8%;
  display: block;
  position: absolute;
  background-color: var(--main-display-colour-background);
}

a320-neo-fcu-element #Mainframe #LargeScreen #Speed {
  width: 20%;
  height: 100%;
  left: 0%;
  position: absolute;
}

a320-neo-fcu-element #Mainframe #LargeScreen #Heading {
  width: 20%;
  height: 100%;
  left: 20%;
  position: absolute;
}

a320-neo-fcu-element #Mainframe #LargeScreen #Mode {
  width: 20%;
  height: 100%;
  left: 40%;
  position: absolute;
}

a320-neo-fcu-element #Mainframe #LargeScreen #AltVS {
  width: 40%;
  height: 100%;
  left: 60%;
  position: absolute;
}

a320-neo-fcu-element #Mainframe #LargeScreen #AltVS #Altitude {
  width: 50%;
  height: 100%;
  left: 0%;
  position: absolute;
}

a320-neo-fcu-element #Mainframe #LargeScreen #AltVS #VerticalSpeed {
  width: 50%;
  height: 100%;
  left: 50%;
  position: absolute;
}

a320-neo-fcu-element #Mainframe #SmallScreen {
  width: 14%;
  height: 8%;
  display: block;
  position: absolute;
  top: 8%;
  background-color: var(--main-display-colour-background);
}

a320-neo-fcu-element #Mainframe #SmallScreen #Selected, a320-neo-fcu-element #Mainframe #SmallScreen #Standar {
  width: 100%;
  height: 100%;
  top: 0%;
}

