@import "../../../../MsfsAvionicsCommon/definitions";

.mfd-sec-index-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.mfd-sec-index-title-line1 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: $display-white;
}

.mfd-sec-index-title-line2 {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 24px;
  color: $display-white;
}

.mfd-sec-index-table {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mfd-sec-index-table-left {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: green;
}

.mfd-sec-index-table-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: yellow;
}
