:root {
  --color-checked: lime;
  --color-unchecked: white;
  --color-overwritten: orange;
  --color-endTag: white;
  --height-dots: 1.5rem;
}

.dotsUnchecked {
  border-bottom: thin dashed var(--color-unchecked);
  width: 100%;
  height: var(--height-dots);
}

.dotsChecked {
  border-bottom: thin dashed var(--color-checked);
  width: 100%;
  height: var(--height-dots);
}

.dotsCheckedOverwrite {
  border-bottom: thin dashed var(--color-overwritten);
  width: 100%;
  height: var(--height-dots);
}

.checklistTextDiv {
  margin-top: calc(var(--height-dots)*-1);
  padding-bottom: 0.1rem;
  user-select: none;
}

.checklistTextSpan {
  padding-right: 5px;
  background-color: var(--color-body);
  user-select: none;
}

.pull-right {
  float: right;
  padding-left: 5px;
}

.checklistItem {
  cursor: pointer;
}

.itemUnchecked {
  color: var(--color-unchecked);
}

.itemChecked {
  color: var(--color-checked);
}

.itemOverwritten {
  color: var(--color-overwritten);
}

.endTag {
  color: var(--color-endTag);
}
