$colour-main: hsl(31, 69%, 35%);

@font-face {
  src: url("/Fonts/AirbusRMP.ttf") format("truetype");
  font-family: "Digital";
  font-style: normal;
  font-weight: 900;
}

.atc-svg {
  background-color: hsl(31, 69%, 6%);
  height: 100%;
  width: 100%;
  left: 0;
  /* TODO: Remove opacity when SAI/ISIS/CLOCK/BAT/ATC/RMP/RUD TRIM is split and not share the same emissive/mesh */
  opacity: 0.5;
}

text {
  alignment-baseline: central;
  font-family: Digital;
  fill: $colour-main;
  font-size: 100px;
  text-anchor: start;
}
