@import url("/CSS/A32NX_Display_Common.css");

:root {
  --bodyHeightScale: 1; }

@keyframes TemporaryShow {
  0%, 100% {
    visibility: visible; } }

@keyframes TemporaryHide {
  0%, 100% {
    visibility: hidden; } }

#highlight {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10; }

#Electricity {
  width: 100%;
  height: 100%; }
  #Electricity[state=off] {
    display: none; }

#BrightnessSVG {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  z-index: 3;
}

#SelfTestSVG {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(13,20,35,1);
  .box {
    fill: #afbb3a;
    height: 7%;
  }
  .boxText {
    font-weight: 1800;
    font-size: 38px;
    fill:#1f242d;
  }
}

#Airspeed {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#AttitudeComponent {
  position: absolute;
  height: 80%;
  bottom: 16%;
  left: 22%;
  right: 28%;
  width: auto;
  z-index: -1;
  #HorizonRoot {
    position: absolute;
    z-index: -3;
    width: 100%;
    height: 100%;
  }
  #Pitch {
    top: -12.9%;
    left: -7%;
    width: 120%;
    height: 120%;
    position: absolute;
    transform: scale(1.35);
    #PitchRoot {
      position:absolute;
      z-index: -2;
    }
  }
  #Attitude {
    top: -8.5%;
    left: -7%;
    width: 120%;
    height: 120%;
    position: absolute;
    transform: scale(1.35);
    #AttitudeRoot {
      position: absolute;
      z-index: 0;
      #AttitudeBank {
        #TopTriangle {
          fill: yellow;
          stroke: yellow;
          stroke-opacity: 1;
        }
        .dashLine {
          fill: none;
          stroke: white;
          stroke-width: 2.5;
        }
        #Arc {
          fill: transparent;
          stroke: white;
          stroke-width: 2.5;
        }
      }
    }
  }
}

a320-neo-sai {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  a320-neo-sai #Mainframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative; }
  a320-neo-sai #Horizon {
    position: absolute;
    height: 80%;
    bottom: 16%;
    left: 22%;
    right: 28%;
    width: auto;
    z-index: -1; }
  a320-neo-sai #Altimeter {
    position: absolute;
    left: 50%;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 1; }
  a320-neo-sai #Airspeed {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 1; }
a320-neo-sai #Pressure {
  position: absolute;
  left: 33.3%;
  bottom: 9.5%;
  width: 200px;
  height: 30px;
  z-index: 1;
}
