
:root {
    --toastify-toast-width: 600px;

    --toastify-color-info: var(--color-highlight);
    --toastify-color-error: var(--color-highlight);
    --toastify-color-success: var(--color-highlight);
    --toastify-color-warning: var(--color-highlight);
}

.Toastify__toast {
  position: relative;
  min-height: 90px;
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 8px;
  border-radius: 9px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 15px 0 rgba(0, 0, 0, 0.05);
  border-width: 2px;
  border-color: var(--color-accent);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-height: var(--toastify-toast-max-height);
  overflow: hidden;
  cursor: pointer;
  direction: ltr;
  font-family: 'Manrope', sans-serif;
  width: var(--toastify-toast-width);
}

.Toastify__toast-body {
    margin: auto 0;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 13px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.Toastify__toast-body > div {
    @apply text-2xl;
}

.Toastify__toast-icon {
    -webkit-margin-end: 10px;
    margin-inline-end: 10px;
    width: 40px;
    margin-right: 21px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -ms-flexbox;
    display: flex;
}

.Toastify__spinner {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 100%;
    border-color: var(--toastify-spinner-color-empty-area);
    border-right-color: var(--toastify-spinner-color);
    animation: Toastify__spin 0.65s linear infinite;
}

.Toastify__toast-container--top-center {
    top: 2em;
    left: 50%;
    transform: translateX(-50%);
}

.Toastify__toast-theme--light {
    background: var(--color-body);
    color: var(--color-text);
}

.Toastify__close-button {
    color: var(--color-text);
    background: transparent;
    outline: none;
    border: none;
    padding: 0;
    cursor: pointer;
    /* opacity: 1 !important; */
    transition: 0.3s ease;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.Toastify__progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7px;
    z-index: var(--toastify-z-index);
    opacity: 0.7;
    transform-origin: left;
}

.Toastify__progress-bar-theme--light {
    background: var(--color-highlight);
}

.Toastify__close-button > svg {
    fill: currentColor;
    height: 32px;
    width: 28px;
}
