@import url("/CSS/A32NX_Display_Common.css");

/** This mixin makes a single line element fit exactly on the Roboto font for easier integration. */
:root {
  --bodyHeightScale: 1;
  font-family: "HoneywellMCDU" !important;
}

@font-face {
  src: url("/Fonts/HoneywellMCDU.ttf") format("truetype");
  font-family: "HoneywellMCDU";
  font-style: normal;
  font-weight: 900;
}

@font-face {
  src: url("/Fonts/HoneywellMCDUSmall.ttf") format("truetype");
  font-family: "HoneywellMCDUSmall";
  font-style: normal;
  font-weight: 900;
}

#highlight {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
}

@keyframes TemporaryShow {
  0%,
  100% {
    visibility: visible;
  }
}

@keyframes TemporaryHide {
  0%,
  100% {
    visibility: hidden;
  }
}

#SystemTesting {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#highlight {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
}

#Mainframe {
  width: 100%;
  height: 100%;
}

#Electricity {
  width: 100%;
  height: 100%;
  background-color: rgb(4, 4, 5);
}

#Electricity[state="off"] {
  display: none;
}

span:empty:before {
  content: " ";
}

a320-neo-cdu-main-display {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "HoneywellMCDU" !important;
  font-size: 5.3vw !important;
  color: var(--displayWhite);
}

a320-neo-cdu-main-display div {
  font-family: "HoneywellMCDU" !important;
}

a320-neo-cdu-main-display text {
  font-family: "HoneywellMCDU" !important;
}

/*
a320-neo-cdu-main-display::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.3) 1px, rgba(255, 255, 255, 0) 3px);
  z-index: inherit;
}
*/
.white {
  color: var(--mcduWhite);
}

.inop {
  color: var(--mcduLightGrey);
}

.cyan {
  color: var(--mcduCyan);
}

.yellow {
  color: var(--mcduYellow);
}

.green {
  color: var(--mcduGreen);
}

.amber {
  color: var(--mcduAmber);
}

.red {
  color: var(--mcduRed);
}

.magenta {
  color: var(--mcduMagenta);
}

fmc-main-display::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(9, 13, 20, 1) 50%, rgba(9, 13, 20, 1) 50%),
    linear-gradient(
      90deg,
      rgba(9, 13, 20, 1),
      rgba(9, 13, 20, 1),
      rgba(9, 13, 20, 1)
    );
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

#header {
  height: 8.1%;
  margin-top: 4%;
  margin-bottom: 0%;
  display: block;
  text-align: center;
}

#page-info {
  display: block;
  text-align: right;
  position: absolute;
  top: 5%;
  right: 5%;
}

#title-left {
  display: block;
  text-align: right;
  position: absolute;
  top: 5%;
  left: 5%;
}

.b-text {
  letter-spacing: normal;
}

.s-text {
  font-family: HoneywellMCDUSmall, HoneywellMCDU !important;
}

text .s-text {
  font-family: HoneywellMCDUSmall, HoneywellMCDU !important;
}

div .s-text {
  font-family: HoneywellMCDUSmall, HoneywellMCDU !important;
}

span .s-text {
  font-family: HoneywellMCDUSmall, HoneywellMCDU !important;
}

.b-text {
  letter-spacing: normal;
}

.msg-text {
  margin-top: 1.5% !important;
  height: 8.1% !important;
}

.msg-text.label-left {
  left: 4% !important;
}

.msg-text.label-right {
  right: 6% !important;
}

.label {
  height: 5%;
  margin: 0;
  white-space: pre;
}

.label-left {
  position: absolute;
  left: 4.5%;
  width: 100%;
  text-align: left;
}

.label-right {
  position: absolute;
  right: 5.0%;
  width: 100%;
  text-align: right;
}

.label-center {
  position: absolute;
  left: 0px;
  width: 100%;
  text-align: center;
}

.line {
  height: 8.1%;
  margin: 0;
  white-space: pre;
}

.line-left {
  position: absolute;
  left: 4.5%;
  width: 100%;
  text-align: left;
}

.line-right {
  position: absolute;
  right: 5.0%;
  width: 100%;
  text-align: right;
}

.line-center {
  position: absolute;
  left: 0px;
  width: 100%;
  text-align: center;
}

#in-out {
  padding-left: 4%;
}

#arrow-vertical {
  float: right;
}

#arrow-horizontal {
  position: absolute;
  right: 1%;
  width: 100%;
  text-align: right;
}

.left {
  margin-left: 4%;
  float: left;
}

.right {
  margin-right: 6%;
  float: right;
}