@font-face {
  font-family: "Roboto-Light";
  src: url("/Fonts/RobotoMono-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: rgba(255, 255, 255, 1);
  opacity: 100;
}

h1 {
  margin-top: 50%;
  color: black;
}

.text-wrapper {
  position: absolute;
  left: 0 !important;
  top: 0 !important;
  width: 1024px;
  height: 1024px;
}

#lines {
  padding: 30px;
}

.line {
  color: black;
  font-family: Roboto-Light;
}

.large {
  font-size: 40px;
}

.small {
  font-size: 25px;
}
