@import "../../../MsfsAvionicsCommon/definitions";

.mfd-fms-perf-speed-table-cell {
  border-bottom: 1px solid $display-light-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.mfd-fms-perf-speed-table-cell.br {
  border-right: 1px solid $display-light-grey;
}

.mfd-fms-perf-speed-table-cell.bb {
  border-bottom: 1px solid $display-light-grey;
}

.mfd-fms-perf-speed-presel-managed-table-cell {
  border-bottom: 1px solid $display-light-grey;
  border-right: 1px solid $display-light-grey;
  display: flex;
  align-items: center;
  padding: 20px 10px 20px 10px;
  justify-content: flex-end;
}

.mfd-fms-perf-to-first {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $display-light-grey;
}

.mfd-fms-perf-to-second {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $display-light-grey;
  padding-bottom: 10px;
}

.mfd-fms-perf-to-v-speeds {
  flex: 5;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  border-right: 1px solid $display-light-grey;
  padding-top: 10px;
  margin-top: 5px;
  padding-right: 10px;
}

.mfd-fms-perf-to-flex-toga {
  height: 165px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
}

.mfd-fms-perf-to-flaps-packs-grid {
  display: grid;
  grid-template-columns: auto auto 15px auto auto;
  margin-top: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid $display-light-grey;
}

.mfd-fms-perf-to-thrred-noise-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-auto-rows: 50px;
  margin: 10px 20px 10px 0px;
}

.mfd-fms-perf-to-thrred-noise-grid-cell {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.mfd-fms-perf-to-thrred-noise-grid-cell-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mfd-fms-perf-to-thrred-noise-grid-cell-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mfd-fms-perf-to-bottom {
  margin: 10px 2px 3px 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  border-top: 1px solid $display-light-grey;
}

.mfd-fms-perf-clb-grid {
  display: grid;
  grid-template-columns: 23% 22% 13% 42%;
}

.mfd-fms-perf-crz-grid {
  display: grid;
  grid-template-columns: 23% 13% 22% 42%;
}

.mfd-fms-perf-crz-dest {
  margin: 10px 2px 3px 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.mfd-label.perf-appr-weather {
  width: 125px;
  text-align: right;
  align-self: center;
  padding-left: 20px;
}

.mfd-fms-perf-appr-min-container {
  position: relative;
  border: 1px solid $display-light-grey;
  display: flex;
  flex-direction: column;
  margin: 20px 40px 20px 0px;
  padding: 15px;
}

.mfd-fms-perf-appr-min-label {
  position: absolute;
  left: 10px;
  top: -10px;
  text-align: right;
  align-self: center;
  background-color: #000000;
  padding: 0px 2px 0px 2px;
}

.mfd-fms-perf-appr-flap-speeds {
  margin-right: 15px;
  text-align: right;
  width: 50px;
}

.mfd-fms-perf-appr-conf-box {
  width: 200px;
  margin-top: 20px;
  border: 1px solid $display-light-grey;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}

.mfd-fms-perf-appr-vapp-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-top: 20px;
}

.mfd-fms-perf-appr-trans-vertdev {
  margin: 10px 2px 3px 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
}

.mfd-fms-perf-appr-thrred-accel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 15px;
  width: 150px;
}

.mfd-fms-perf-appr-eo-accel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 40px;
  margin-right: 15px;
  margin-bottom: 15px;
  width: 125px;
}

.mfd-fms-perf-appr-footer {
  margin: 0px 2px 3px 2px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
