@import "../../../MsfsAvionicsCommon/definitions.scss";

$table-margin: 92px;
$header-height: 65px;

.mfd-fms-wind-page-container {
  margin-top: 26px;
}

.mfd-fms-wind-page-title-container {
  margin-left: $table-margin;
  display: flex;
  flex-direction: row;
  height: 70px;
}

.mfd-fms-wind-page-table-row {
  margin-left: $table-margin;
  display: flex;
  flex-direction: row;
  border: 1px solid $display-grey;
  width: 485px;
}

.mfd-fms-wind-page-table-row.history {
  width: 522px;
}

.mfd-fms-wind-page-table-message-area {
  padding-top: 16px;
  padding-left: 11px;
  height: $header-height;
}

.mfd-fms-wind-page-table-row.header {
  justify-content: space-between;
  padding-left: 93px;
  padding-right: 78px;
  padding-top: 16px;
  height: $header-height;
}

.mfd-fms-wind-page-table-row.entry.first {
  height: 95px;
}

.mfd-fms-wind-page-table-row.entry {
  height: 85px;
}

.history-wind-button-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.mfd-fms-wind-history-fl-entry {
  display: flex;
  flex-direction: row;
}

.mfd-fms-wind-history-wind-entry {
  display: flex;
  flex-direction: row;
}
