@import "../../../MsfsAvionicsCommon/definitions";

.mfd-msg-list-element-container {
  margin: 75px;
  border-top: 2px solid white;
}

.mfd-label.msg-list-element {
  font-size: 26px;
  height: 80px;
  padding: 5px;
  border-bottom: 2px solid white;
}
