@font-face {
  font-family: "AirbusChronometer";
  src: url("/Fonts/AirbusChronometer.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

svg {
  position: absolute;
  width: 256px;
  height: 256px;
  background: rgba(5, 40, 80, 0.09);
}

text {
  font-family: "AirbusChronometer";
  alignment-baseline: center;
}

.day text {
  fill: rgba(180, 170, 170, 0.95);
}

.night text {
  fill: rgba(155, 148, 148, 0.45);
}

.fontBig {
  font-size: 65px;
  transition: fill 7s ease-in-out;
}

.fontSmall {
  font-size: 48px;
  transition: fill 7s ease-in-out;
}
