@import "../MsfsAvionicsCommon/definitions.scss";
@import "../../../../../../fbw-common/src/systems/instruments/src/ND/style.scss";

@font-face {
  font-family: "Ecam";
  //noinspection CssUnknownTarget
  src: url("/Fonts/fbw-a32nx/ECAMFontRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NDChrono";
  //noinspection CssUnknownTarget
  src: url("/Fonts/fbw-a32nx/NDChrono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.nd-inverted-map-area {
  background: $display-background;
  fill: rgb(4,4,5);
}
