:root {
  --bodyHeightScale: 1; }

@keyframes TemporaryShow {
  0%, 100% {
    visibility: visible; } }

@keyframes TemporaryHide {
  0%, 100% {
    visibility: hidden; } }

html {
  height: 100%;
  width: 100%;
  overflow: hidden; }
  html body {
    -webkit-user-select: none;
    font-family: Roboto-Regular;
    font-size: calc(var(--viewportHeightRatio) * (36px / 21.6) * var(--currentPageHeight) / 100);
    color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0; }

#highlight {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10; }

#Electricity {
  width: 100%;
  height: 100%; }
  #Electricity[state=off] {
    display: none; }

@font-face {
  font-family: "Roboto";
  src: url("/Fonts/RobotoMono-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Light";
  src: url("/Fonts/RobotoMono-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Bold";
  src: url("/Fonts/RobotoMono-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Quartz";
  src: url("/Pages/VCockpit/Instruments/Shared/Fonts/Quartz.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

a320-neo-rtpi {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: black; }
  a320-neo-rtpi svg {
    width: 100%;
    height: 100%; }
  a320-neo-rtpi text {
    fill: #985d1c;
    letter-spacing: 0px;
    alignment-baseline: central; }
  a320-neo-rtpi #Content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%; }
    a320-neo-rtpi #Content #Direction {
      font-family: Quartz;
      text-anchor: start;
      font-size: 110px; }
    a320-neo-rtpi #Content #Value {
      font-family: Quartz;
      text-anchor: end;
      font-size: 110px; }

