@import "../../../Common/definitions";
@import "../../../Common/gauges";

#main-press {
    .pickMe {
        stroke-width: 2;
        fill: none;
        stroke: red !important
    }

    text {
        fill: $display-white;

        &.Standard {
            font-size: 17px;
        }

        &.Medium {
            font-size: 16px;
        }

        &.Large {
            font-size: 20px;
        }

        &.Huge {
            font-size: 24px;
        }

        &.Cyan {
            fill: $display-cyan !important;
        }

        &.Green {
            fill: $display-green !important;
        }

        &.Amber {
            fill: $display-amber;
        }

        &.Red {
            fill: $display-red;
        }

        &.Center {
            text-anchor: middle !important;
        }

        &.End {
            text-anchor: end !important;
        }
    }

    .Red {
        stroke: $display-red !important;
    }

    .Amber {
        stroke: $display-amber !important;
    }

    .AmberLine {
        stroke: $display-amber !important;
        stroke-width: 2;
    }

    .GreenLine {
        stroke: $display-green !important;
        stroke-width: 2;
    }

    .BackgroundLine {
        stroke: $display-background !important;
        stroke-width: 2;
        fill: $display-background;
    }

    .Show {
        display:block;
    }

    .Hide {
        display: none;
    }

    .VsIndicator {
        stroke: $display-green;
        stroke-width: 2;
        fill: none;
    }

    .AirPressureShape {
        stroke: $display-grey;
        stroke-width: 2;
        fill: none;
    }

    .WhiteCircle {
        fill: $display-background;
        stroke: $display-white;
        stroke-width: 2;
    }

}
