@import url("/CSS/A32NX_Display_Common.css");

:root {
  --bodyHeightScale: 1;
}

@keyframes TemporaryShow {
  0%,
  100% {
    visibility: visible;
  }
}

@keyframes TemporaryHide {
  0%,
  100% {
    visibility: hidden;
  }
}

#highlight {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
}

#Electricity {
  width: 100%;
  height: 100%;
}
#Electricity[state="off"] {
  display: none;
}

@font-face {
  font-family: "Liberation Mono";
  src: url("/Fonts/LiberationMono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#highlight {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
}

#Mainframe {
  --refWidth: 1024;
  --refHeight: 1024;
}

text {
  font-family: "ECAMFontRegular" !important;
}

.Magenta {
  stroke: var(--displayMagenta);
  fill: none;
}
.Magenta text {
  fill: var(--displayMagenta);
  stroke: none;
}

.Cyan {
  stroke: var(--displayCyan);
  fill: none;
}
.Cyan text {
  fill: var(--displayCyan);
  stroke: none;
}

.White {
  stroke: var(--displayWhite);
  fill: none;
}
.White text {
  fill: var(--displayWhite);
  stroke: none;
}

.Green {
  stroke: var(--displayGreen);
  fill: none;
}
.Green text {
  stroke: var(--displayGreen);
  stroke: none;
}

.Amber {
  stroke: var(--displayAmber);
  fill: none;
}
.Amber text {
  fill: var(--displayAmber);
  stroke: none;
}

.Yellow {
  stroke: var(--displayYellow);
  fill: none;
}
.Yellow.Fill {
  fill: var(--displayYellow);
  stroke: none;
}
.Yellow text {
  fill: var(--displayYellow);
  stroke: none;
}

.Red {
  stroke: var(--displayRed);
  fill: none;
}
.Red text {
  fill: var(--displayRed);
  stroke: none;
}

.EarthFill {
  fill: #9c480c;
  stroke: none;
}
.SkyFill {
  fill: #0698ff;
  stroke: none;
}

.TapeBackground {
  fill: var(--displayGrey);
  stroke: none;
}

.BackgroundFill {
  fill: var(--displayBackground);
  stroke: none;
  fill-rule: evenodd;
}

.NormalStroke {
  stroke-width: 0.185mm;
}

.FontLargest {
  font-size: 7px;
}

.FontLarge {
  font-size: 6.5px;
}

.FontMedium {
  font-size: 5.5px;
}

.FontSmall {
  font-size: 5px;
}

.FontSmallest {
  font-size: 4.5px;
}

a320-neo-pfd-element {
  width: 100%;
  height: 100%;
  background-color: transparent !important;
  font-family: "ECAMFontRegular" !important;
  position: relative;
  overflow: hidden;
  z-index: -10;
}
a320-neo-pfd-element #Electricity {
  width: 100%;
  height: 100%;
  background-color: transparent !important;
}
a320-neo-pfd-element #Electricity[state="off"] {
  display: none;
}
a320-neo-pfd-element .PopupWindow {
  visibility: hidden;
}
a320-neo-pfd-element .PopupWindow[state="Active"] {
  visibility: inherit;
}
a320-neo-pfd-element #Mainframe {
  width: 100%;
  height: 100%;
  display: block;
  background-color: transparent !important;
  position: relative;
}
a320-neo-pfd-element #Mainframe #InstrumentsContainer {
  transform: rotateX(0);
  width: 100%;
  height: 100%;
  z-index: 0;
}
a320-neo-pfd-element #Mainframe #InstrumentsContainer #FMA {
  transform: rotateX(0);
  position: absolute;
  background-color: transparent;
  display: flex;
  width: 100%;
  height: 14%;
  top: 1%;
  left: 0%;
}
a320-neo-pfd-element #Mainframe #InstrumentsContainer #FMA div {
  font-size: 46px;
  font-family: "ECAMFontRegular";
  text-align: center;
  line-height: 100%;
  justify-content: space-between;
  white-space: nowrap;
}
a320-neo-pfd-element #Mainframe #InstrumentsContainer #FMA .Engaged {
  color: var(--displayGreen);
}
a320-neo-pfd-element #Mainframe #InstrumentsContainer #FMA .Captured {
  color: var(--displayGreen);
}
a320-neo-pfd-element #Mainframe #InstrumentsContainer #FMA .Armed {
  color: var(--displayCyan);
}
a320-neo-pfd-element #Mainframe #InstrumentsContainer #FMA .Constrained {
  color: var(--displayMagenta);
}
a320-neo-pfd-element #Mainframe #InstrumentsContainer #FMA .Active {
  color: var(--displayWhite);
}

@keyframes blinking {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
a320-neo-pfd-element #Mainframe #InstrumentsContainer #FMA .ActiveBlink {
  color: var(--displayWhite);
  animation: blinking 1.5s infinite;
}
a320-neo-pfd-element #Mainframe #InstrumentsContainer #FMA .Status {
  color: var(--displayWhite);
}
a320-neo-pfd-element #Mainframe #InstrumentsContainer #FMA .Warning {
  color: var(--displayAmber);
}
a320-neo-pfd-element #Mainframe #InstrumentsContainer #FMA .Danger {
  color: var(--displayRed);
}
a320-neo-pfd-element #Mainframe #InstrumentsContainer #FMA #Column1 {
  width: 20%;
  height: 100%;
  position: relative;
}
a320-neo-pfd-element #Mainframe #InstrumentsContainer #FMA #Column1 div {
  position: relative;
  width: 92%;
  height: 33%;
  left: 4%;
}
a320-neo-pfd-element
  #Mainframe
  #InstrumentsContainer
  #FMA
  #Column1
  #Row2SubLeft {
  position: absolute;
  top: 33%;
  text-align: left;
  padding-left: 4%;
}
a320-neo-pfd-element
  #Mainframe
  #InstrumentsContainer
  #FMA
  #Column1
  #Row2SubRight {
  position: absolute;
  top: 33%;
  font-size: 35px;
  text-align: right;
  padding-right: 4%;
  padding-top: 5%;
}
a320-neo-pfd-element #Mainframe #InstrumentsContainer #FMA #Column2 {
  width: 20%;
  height: 100%;
  border-left: solid 2px var(--displayWhite);
  position: relative;
}
a320-neo-pfd-element #Mainframe #InstrumentsContainer #FMA #Column2 div {
  position: relative;
  width: 92%;
  height: 33%;
  left: 4%;
}
a320-neo-pfd-element
  #Mainframe
  #InstrumentsContainer
  #FMA
  #Column2
  #Row1SubLeft {
  position: absolute;
  top: 0%;
  text-align: left;
  padding-left: 3%;
}
a320-neo-pfd-element
  #Mainframe
  #InstrumentsContainer
  #FMA
  #Column2
  #Row1SubRight {
  position: absolute;
  top: 0%;
  font-size: 35px;
  text-align: right;
  padding-right: 3%;
  padding-top: 5%;
}
a320-neo-pfd-element
  #Mainframe
  #InstrumentsContainer
  #FMA
  #Column2
  #Row2SubLeft {
  position: absolute;
  top: 33%;
  text-align: left;
  padding-left: 4%;
}
a320-neo-pfd-element
  #Mainframe
  #InstrumentsContainer
  #FMA
  #Column2
  #Row2SubRight {
  position: absolute;
  top: 33%;
  text-align: right;
  padding-right: 4%;
}
a320-neo-pfd-element #Mainframe #InstrumentsContainer #FMA #Column3 {
  width: 20%;
  height: 100%;
  border-left: solid 2px var(--displayWhite);
}
a320-neo-pfd-element #Mainframe #InstrumentsContainer #FMA #Column3 div {
  position: relative;
  width: 92%;
  height: 33%;
  left: 4%;
}
a320-neo-pfd-element #Mainframe #InstrumentsContainer #FMA #Column4 {
  width: 20%;
  height: 100%;
  border-left: solid 2px var(--displayWhite);
  position: relative;
}
a320-neo-pfd-element #Mainframe #InstrumentsContainer #FMA #Column4 div {
  position: relative;
  width: 92%;
  height: 33%;
  left: 4%;
}
a320-neo-pfd-element
  #Mainframe
  #InstrumentsContainer
  #FMA
  #Column4
  #Row3SubLeft {
  position: absolute;
  top: 66%;
  font-size: 40px;
  text-align: left;
  padding-left: 1%;
  padding-top: 7%;
}
a320-neo-pfd-element
  #Mainframe
  #InstrumentsContainer
  #FMA
  #Column4
  #Row3SubRight {
  position: absolute;
  top: 66%;
  font-size: 40px;
  text-align: right;
  padding-right: 1%;
  padding-top: 7%;
}
a320-neo-pfd-element #Mainframe #InstrumentsContainer #FMA #Column5 {
  width: 20%;
  height: 100%;
  border-left: solid 2px var(--displayWhite);
}
a320-neo-pfd-element #Mainframe #InstrumentsContainer #FMA #Column5 div {
  position: relative;
  width: 92%;
  height: 33%;
  left: 4%;
}
a320-neo-pfd-element
  #Mainframe
  #InstrumentsContainer
  #FMA
  #VerticalAndLateral
  div {
  position: absolute;
  left: 22%;
  width: 36%;
  height: 100%;
  background-color: rgba(4, 4, 5, 1);
}
a320-neo-pfd-element
  #Mainframe
  #InstrumentsContainer
  #FMA
  #SpecialMessages
  div {
  position: absolute;
  width: 36%;
  bottom: 0%;
  height: 34%;
  background-color: rgba(4, 4, 5, 1);
}
a320-neo-pfd-element
  #Mainframe
  #InstrumentsContainer
  #FMA
  #SpecialMessages
  #Msg1 {
  left: 2%;
}
a320-neo-pfd-element
  #Mainframe
  #InstrumentsContainer
  #FMA
  #SpecialMessages
  #Msg2 {
  left: 22%;
  padding-top: 1%;
  font-size: 35px;
}
