.dispatch {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 3em auto;
  grid-gap: 1em;
  justify-items: stretch;
  align-items: flex-start;
  grid-template-areas:
    "LoadsheetTitle LoadsheetTitle"
    "PayloadCard    FuelCard";
  height: 100%;
  margin-right: 0.75rem;

  .title {
    font-family: "Nunito", sans-serif;
    grid-area: LoadsheetTitle;
    font-size: 1.25rem;
    font-weight: 400;
  }

  #loadsheet-payload-card {
    grid-area: PayloadCard;
    --loadsheetFooterBackground: #567fd2;
  }

  #loadsheet-fuel-card {
    grid-area: FuelCard;
    --loadsheetFooterBackground: #fe5353;
  }

  .loadsheet-card {
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    background: var(--cardBackground);
    padding: 1rem 2rem;
    display: grid;
    grid-template-rows: 90% 10%;
    grid-template-areas:
      "Body"
      "Footer";

    .loadsheet-card-body {
      grid-area: Body;
      padding-bottom: 5rem;
    }

    .loadsheet-card-footer {
      grid-area: Footer;
      background-color: var(--loadsheetFooterBackground);
      border-radius: 10px;
      color: white;
      font-weight: 700;
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 15px;

      .footer-title {
        font-size: 0.9rem;
        font-weight: 700;
        color: var(--mainTextSecondary);
        grid-area: DepArr;
      }
    }

    .loadsheet-table {
      color: var(--mainText);
      font-size: 1.25rem;

      table {
        width: 100%;
      }

      th {
        padding: 15px 10px;
        //border: 1px solid white;
        vertical-align: top;
      }

      td {
        padding: 5px 10px;
        //border: 1px solid white;
        vertical-align: top;
      }

      th.dashed,
      td.dashed {
        border-bottom: 2px dashed var(--mainText);
        border-top: 2px dashed var(--mainText);
      }

      td.dashed-lower {
        border-bottom: 2px dashed var(--mainText);
      }

      td.dashed-upper {
        border-top: 2px dashed var(--mainText);
      }

      .ls-col {
        padding-right: 10px;
      }

      .ls-col-fuel {
        padding: 5px 10px;
      }

      .col-desc {
        width: 30%;
      }

      .col-fuel-desc {
        width: 40%;
      }

      .col-notes {
        width: 30%;
        padding-left: 20px;
      }

      .col-value {
        width: 10%;
      }

      .col-fuel-value {
        width: 20%;
      }

      .col-left {
        text-align: left;
      }

      .col-right {
        text-align: right;
      }

      .col-center {
        text-align: center;
      }
    }
  }
}
