@import "animations";

.nd-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 768px;
  height: 768px;
  background: transparent;
  font-family: "Ecam", monospace !important;
  pointer-events: none;
}

.nd-canvas-map {
  transform: rotateX(0deg);
}

.nd-top-layer {
  transform: rotateX(0deg);
  background: none;
}

.TextOutline {
  paint-order: stroke fill markers;

  stroke-width: 0.05mm;
  stroke: $display-background !important;
}

$font-factor: 5;

.FontLargest {
  font-size: #{7px * $font-factor};
}

.FontLarge {
  font-size: #{6.5px * $font-factor};
}

.FontMedium {
  font-size: #{6px * $font-factor};
}

.FontIntermediate {
  font-size: #{5.5px * $font-factor};
}

.FontSmall {
  font-size: #{5px * $font-factor};
}

.FontSmallest {
  font-size: #{4.5px * $font-factor};
}

.FontTiny {
  font-size: #{4px * $font-factor};
}

.StartAlign {
  text-align: start;
  text-anchor: start;
}
.MiddleAlign {
  text-align: center;
  text-anchor: middle;
}
.EndAlign {
  text-align: end;
  text-anchor: end;
}

.Magenta {
  fill: none;
  stroke: #dc78da;
}
text.Magenta,
tspan.Magenta,
.Magenta text,
.Magenta tspan {
  fill: #dc78da;
  stroke: none;
}

.Cyan {
  fill: none;
  stroke: #17e9f2;
}
text.Cyan,
tspan.Cyan,
.Cyan text,
.Cyan tspan {
  fill: #17e9f2;
  stroke: none;
}

/* .None {
  fill: none;
  stroke: none;
} */

.White {
  fill: none;
  stroke: #e5dfd6;
}
.White.Fill {
  fill: #e5dfd6;
  stroke: none;
}
text.White,
tspan.White,
.White text,
.White tspan {
  fill: #e5dfd6;
  stroke: none;
}

.Green {
  stroke: #5bea06;
  fill: none;
}

.Green.Fill {
  fill: #5bea06;
  stroke: none;
}

text.Green,
tspan.Green,
.Green text,
.Green tspan {
  fill: #5bea06;
  stroke: none;
}

.Amber {
  stroke: #eb880c;
  fill: none;
}
text.Amber,
tspan.Amber,
.Amber text,
.Amber tspan {
  fill: #eb880c;
  stroke: none;
}

.Yellow {
  stroke: #ffd200;
  fill: none;
}
.Yellow.Fill {
  fill: #ffd200;
  stroke: none;
}
text.Yellow,
tspan.Yellow,
.Yellow text,
.Yellow tspan {
  fill: #ffd200;
  stroke: none;
}

.Red {
  stroke: #c21d1a;
  fill: none;
}
.Red.Fill {
  fill: #c21d1a;
  stroke: none;
}
text.Red,
tspan.Red,
.Red text,
.Red tspan {
  fill: #c21d1a;
  stroke: none;
}

.Grey {
  stroke: #323135;
  fill: none;
}
.Grey.Fill {
  fill: #323135;
  stroke: none;
}


.BackgroundFill {
  fill: $display-background;
  fill-rule: evenodd;
}

text.shadow {
  stroke: $display-background;
  stroke-width: 1px;
  paint-order: stroke;
}

circle.shadow,
line.shadow,
path.shadow,
rect.shadow {
  stroke: $display-background;
  fill: none;
}

.chrono {
  font-family: "NDChrono", monospace !important;
}

path.rounded {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.hidden {
  display: none;
}
