@import "../../style";
@import "../../../Common/definitions.scss";

#ecam-fctl {

  .PageTitle {
    font-size: $font-size-title;
    text-decoration: underline;
    fill: $display-white;
  }

  .MainShape {
    fill: transparent;
    stroke: $display-light-grey;
    stroke-width: 2;
  }

  .MainShapeCyan {
    fill: transparent;
    stroke: $display-cyan;
    stroke-width: 2;
  }

  .MainShapeWarning {
    fill: transparent;
    stroke: $display-amber;
    stroke-width: 2;
  }

  .MainShape4 {
    fill: transparent;
    stroke: $display-green;
    stroke-width: 4;
  }

  .RudderTrim {
    fill: transparent;
    stroke: $display-cyan;
    stroke-width: 3;
  }

  .GreenShape {
    fill: transparent;
    stroke: $display-green;
    stroke-width: 2;
  }

  .WarningShape {
    fill: transparent;
    stroke: $display-amber;
    stroke-width: 2;
  }

  .Warning {
    fill: $display-amber;
  }

  .Value {
    fill: $display-green;
  }

  .ValueCyan {
    fill: $display-cyan;
  }

  .ValueWarning {
    fill: $display-amber;
  }

  .Small {
    font-size: $font-size-small !important;
  }

  .Medium {
    font-size: $font-size-medium;
  }

  .Standard {
    font-size: $font-size-larger;
  }

  .Large {
    font-size: $font-size-xlarge;
  }

  .Note {
    font-size: $font-size-medium;
    fill: $display-white;
  }
}
