@import url("/CSS/A32NX_Display_Common.css");

a320-neo-lower-ecam-press {
  display: block;
  position: absolute;
  top: -5%;
  left: 0%;
  width: 100%;
  height: 100%;
}
a320-neo-lower-ecam-press text {
  text-anchor: middle;
  alignment-baseline: central;
}

.st0p {
  fill: var(--displayGreen);
  stroke: var(--displayGreen);
}
.st1p {
  fill: var(--displayCyan);
  stroke: var(--displayCyan);
}
.st2p {
  fill: var(--displayAmber);
  stroke: var(--displayAmber);
}
.st3p {
  fill: var(--displayWhite);
  stroke: var(--displayWhite);
}
.st4p {
  fill: var(--displayRed);
  stroke: var(--displayRed);
}
.st5p {
  fill: none;
}

.st6p {
  font-size: 14px;
}
.st7p {
  font-size: 16px;
}
.st8p {
  font-size: 18px;
}
.st9p {
  font-size: 20px;
}
.st10p {
  font-size: 22px;
}
.st11p {
  font-size: 26px;
}
.st16p {
  font-size: 12px;
}

.st12p {
  stroke-width: 1px;
}

.st13p {
  stroke-width: 2px;
}

.st14p {
  stroke-width: 3px;
}

.st15p {
  stroke: var(--displayWhite);
  fill: none;
}

.warningp {
  fill: var(--displayAmber);
  stroke: var(--displayAmber);
}

.warning_arcp {
  fill: none;
  stroke: var(--displayAmber);
}

.red_warningp {
  fill: var(--displayRed);
  stroke: var(--displayRed);
}

.red_warning_arcp {
  fill: none;
  stroke: var(--displayRed);
}
