@import url("/CSS/A32NX_Display_Common.css");

a320-neo-ecam-gauge {
  display: inline-block;
  margin-left: 15%;
  width: get-vh(640px);
  height: get-vh(640px);
}
a320-neo-ecam-gauge text {
  fill: var(--displayWhite);
  font-size: 12px;
  text-align: center;
  text-anchor: middle;
}
a320-neo-ecam-gauge #RootSVG {
  overflow: visible;
  width: 100%;
  height: 100%;
}

a320-neo-ecam-gauge #RootSVG #MainArc {
  fill: none;
}
a320-neo-ecam-gauge #RootSVG #MainArc.active {
  stroke: var(--displayWhite);
}
a320-neo-ecam-gauge #RootSVG #MainArc.inactive {
  stroke: var(--displayAmber);
}

a320-neo-ecam-gauge #RootSVG #RedArc {
  stroke: var(--displayRed);
  fill: none;
}
a320-neo-ecam-gauge #RootSVG #RedArc.active {
  display: block;
}
a320-neo-ecam-gauge #RootSVG #RedArc.inactive {
  display: none;
}

a320-neo-ecam-gauge #RootSVG #GraduationsGroup line.InnerMarker {
  stroke-width: 1px !important;
}
a320-neo-ecam-gauge #RootSVG #GraduationsGroup .danger {
  stroke-width: 1px !important;
  stroke: var(--displayRed) !important;
}
a320-neo-ecam-gauge #RootSVG #GraduationsGroup .warning {
  stroke-width: 1px !important;
  stroke: var(--displayAmber) !important;
}
a320-neo-ecam-gauge #RootSVG #RedArc {
  stroke: var(--displayRed);
  stroke-width: 2px;
  fill: none;
}
a320-neo-ecam-gauge #RootSVG #GraduationsGroup line.OuterMarker {
  stroke: var(--displayAmber);
  stroke-width: 6px;
}
a320-neo-ecam-gauge #RootSVG #OuterIndicatorOffset {
  stroke: var(--displayCyan) !important;
  stroke-width: 1.5px !important;
  fill: none;
}

a320-neo-ecam-gauge #RootSVG #CursorGroup {
  width: 100%;
  height: 100%;
}
a320-neo-ecam-gauge #RootSVG #CursorGroup line {
  stroke: var(--displayGreen);
  stroke-width: 2;
}
a320-neo-ecam-gauge #RootSVG #CursorGroup path {
  fill: none;
  stroke: var(--displayWhite);
  stroke-width: 2px;
}
a320-neo-ecam-gauge #RootSVG #CursorGroup .active {
  display: block;
}
a320-neo-ecam-gauge #RootSVG #CursorGroup .warning {
  display: block;
  stroke: var(--displayAmber);
}
a320-neo-ecam-gauge #RootSVG #CursorGroup .danger {
  display: block;
  stroke: var(--displayRed);
}
a320-neo-ecam-gauge #RootSVG #CursorGroup .inactive {
  display: none;
}

a320-neo-ecam-gauge #RootSVG #OuterDynamicArcObject {
  fill: none;
  stroke: var(--displayGreen);
  stroke-width: 4px;
}
a320-neo-ecam-gauge #RootSVG #OuterDynamicArcObject.active {
  display: block;
}
a320-neo-ecam-gauge #RootSVG #OuterDynamicArcObject.inactive {
  display: none;
}
a320-neo-ecam-gauge #RootSVG #CurrentValue {
  text-align: right;
  text-anchor: end;
  font-size: 20px !important;
  fill: var(--displayBackground);
}
a320-neo-ecam-gauge #RootSVG #CurrentValue.active {
  fill: var(--displayGreen);
  font-size: 20px;
}
a320-neo-ecam-gauge #RootSVG #CurrentValue.warning {
  fill: var(--displayAmber);
  font-size: 20px;
}
a320-neo-ecam-gauge #RootSVG #CurrentValue.danger {
  fill: var(--displayRed);
  font-size: 20px;
}
a320-neo-ecam-gauge #RootSVG #CurrentValue.inactive {
  fill: var(--displayAmber);
  font-size: 20px;
  letter-spacing: 5px;
}
a320-neo-ecam-gauge #RootSVG #CurrentValueBorder,
a320-neo-ecam-gauge #RootSVG #CurrentValueBorder.active {
  fill: none;
  stroke: lightblue;
  stroke-width: 1px;
}
a320-neo-ecam-gauge #RootSVG #CurrentValueBorder.inactive {
  fill: none;
  stroke: none;
}
a320-neo-ecam-gauge #RootSVG #CurrentValue.decimal {
  font-size: 15px !important;
}
a320-neo-ecam-gauge #RootSVG #CurrentValue.gaugedecimalpoint {
  fill: var(--displayGreen);
}
a320-neo-ecam-gauge #RootSVG #ExtraMessage {
  width: 100%;
  height: 100%;
}
a320-neo-ecam-gauge #RootSVG #ExtraMessage rect {
  fill: var(--displayBackground);
  stroke: lightblue;
  stroke-width: 1px;
}
a320-neo-ecam-gauge #RootSVG #ExtraMessage text {
  text-align: center;
  text-anchor: middle;
  fill: var(--displayGreen);
  font-size: 15px;
}
a320-neo-ecam-gauge #RootSVG #ExtraMessage .active {
  display: block !important;
}
a320-neo-ecam-gauge #RootSVG #ExtraMessage .inactive {
  display: none !important;
}
a320-neo-ecam-gauge #RootSVG #ExtraMessage .avail {
  font-size: 19.2px !important;
}
