@import "../../../Common/definitions.scss";


#fuselage {
    
    .MainShape {
        fill: transparent;
        stroke: $display-light-grey;
        stroke-width: 2;
    }
}


#hatches {

    .Hide {
        display:none;
    }

    fill: $display-amber;
    stroke: $display-amber;
    stroke-width: 2;

    .DoorShape {
        fill: transparent;
        stroke: $display-green;
        stroke-width: 2; 
    }
}

#slides {

    .Hide {
        display:none;
    }

    fill: $display-amber;
    stroke: $display-amber;
    stroke-width: 2;

    .DoorShape {
        fill: transparent;
        stroke: $display-green;
        stroke-width: 2; 
    }

}

#dashes {

    .Hide {
        display:none;
    }

    .WarningShape {
        fill: $display-amber;
        stroke: $display-amber;
        stroke-width: 2;
    }
}

#texts {

    .Hide {
        display:none;
    }

    .Title {
        font-size: 24px;
        fill: $display-white;
    }

    .Slide {
        font-size: 15px;
        fill: $display-white;
    }

    .Warning {
        font-size: 18px;
        fill: $display-amber;
    }

    .OxyWarn {
        font-size: 20px;
        fill: $display-amber;
    }

    .Oxygen {
        font-size: 20px;
        fill: $display-white;
    }

    .Unit {
        font-size: 18px;
        fill: $display-cyan;
    }
    
    .Value {
        font-size: 20px;
        fill: $display-green;
    }

}


/*
text {
    text-anchor: middle;
}

.DoorActiveShape {
    fill: var(--displayAmber);
    stroke: var(--displayAmber);
    stroke-width: 2;
}
.DoorWarningShape {
    fill: var(--displayAmber);
    stroke: var(--displayAmber);
    stroke-width: 2;
}
.WarningShape {
    fill: transparent;
    stroke: var(--displayAmber);
    stroke-width: 2;
}


 text.Title {
    font-size: 25px;
    fill: var(--displayWhite);
}
 text.Slide {
    font-size: 12pt;
    fill: var(--displayWhite);
}
 text.Note {
    font-size: 12pt;
    fill: var(--displayWhite);
}
 text.NoteLarge {
    font-size: 13pt;
    word-spacing: -4px;
    fill: var(--displayWhite);
}
 text.NoteLargeAmber {
    font-size: 15pt;
    word-spacing: -4px;
    fill: var(--displayAmber);
}
 text.Unit {
    font-size: 14pt;
    fill: var(--displayCyan);
}
 text.Value {
    font-size: 14pt;
    fill: var(--displayGreen);
}
 text.ValueSmall {
    font-size: 13pt;
    fill: var(--displayGreen);
}
 text.Warning {
    font-size: 18px;
    fill: var(--displayAmber);
}
 text.DoorWarning {
    font-size: 12pt;
    fill: var(--displayAmber);
}

*/