@import "../../MsfsAvionicsCommon/definitions";

@font-face {
  font-family: "Ecam";
  //noinspection CssUnknownTarget
  src: url("/Fonts/fbw-a32nx/ECAMFontRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$display-mfd-dark-grey: #3c3c3c;

.mfd-main {
  position: absolute;
  width: 768px;
  height: 1024px; /* 1:1.33 W:H  */
  background: $display-background;
  /* background: $display-background; */
  font-family: "Ecam", monospace !important;
  display: flex;
  flex-direction: column;
}

.MFDLabel {
  font-size: 20px;
  color: $display-white;
  font-family: "Ecam", monospace;
}

.MFDLabel.bigger {
  font-size: 24px;
}

.MFDLabel.biggest {
  font-size: 28px;
}

.MFDUnitLabel {
  color: $display-dark-blue;
  font-size: 20px;
}

.MFDGreenValue {
  color: $display-green;
  font-size: 25px;
}

.MFDGreenValue.smaller {
  font-size: 20px;
}

.MFDGreenValue.bigger {
  font-size: 30px;
}

.MFDCyanValue {
  color: $display-cyan;
  font-size: 25px;
}

.MFDButton {
  font-size: 22px;
  background-color: $display-mfd-dark-grey;
  color: $display-white;
  font-family: "Ecam", monospace;
  text-align: center;
  border: 2px outset $display-light-grey;
  padding: 9px 12px 5px 12px;
}

.MFDButton:hover {
  border-color: $display-cyan;
}

.MFDButton.disabled {
  color: $display-light-grey;
}

.MFDButton.disabled:hover {
  border-color: $display-light-grey;
}

.MFDIconButton {
  display: flex;
  flex-direction: row;
  background-color: $display-mfd-dark-grey;
  color: $display-white;
  border: 2px outset $display-light-grey;
  justify-content: center;
  align-items: center;
}

.MFDIconButton:hover {
  border: 2px outset cyan;
}

.MFDSysSelectorOuter {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $display-mfd-dark-grey;
  border: 2px outset $display-light-grey;
}

.MFDSysSelectorOuter:hover {
  border-color: $display-cyan;
}

.MFDSysSelectorLabel {
  font-size: 22px;
  color: $display-cyan;
  font-family: "Ecam", monospace;
  padding: 2px 5px 2px 5px;
}

.MFDDropdownOuter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $display-mfd-dark-grey;
  border: 2px outset $display-light-grey;
}

.MFDDropdownOuter:hover {
  border-color: $display-cyan;
}

.MFDDropdownInner {
  background-color: #040405;
  display: flex;
  margin: 4px;
}

.MFDDropdownInnerV2 {
  background-color: #040405;
  display: flex;
  flex: 1;
}

.MFDDropdownLabel {
  font-size: 22px;
  color: $display-cyan;
  font-family: "Ecam", monospace;
  padding: 2px 10px 2px 10px;
}

.MFDDropdownLabelV2 {
  flex: 1;
  font-size: 26px;
  color: $display-cyan;
  text-align: center;
  font-family: "Ecam", monospace;
  padding: 6px 10px 6px 10px;
  display: block;
}

.MFDPageSelectorLabel {
  font-size: 22px;
  color: $display-white;
  font-family: "Ecam", monospace;
  padding: 2px;
  text-align: center;
  display: inline;
  margin: 10px;
  padding: 4px;
}

.MFDPageSelectorLabel.active {
  border: 1px solid $display-white;
}

.MFDPageSelectorOuter {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  background-color: $display-mfd-dark-grey;
  border-top: 2px solid $display-light-grey;
  border-left: 2px solid $display-light-grey;
  border-bottom: 2px solid rgba(211, 211, 211, 0.432);
  border-right: 2px solid rgba(211, 211, 211, 0.432);
}

.MFDPageSelectorOuter:hover {
  border-color: $display-cyan;
}

.MFDPageContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.spacingRight {
  margin-right: 15px;
}

.leadingUnit {
  margin-right: 6px;
}

.trailingUnit {
  margin-left: 6px;
}

.MFDTextInput {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: baseline;
  padding: 4px;
  border: 2px inset $display-light-grey;
  text-align: center;
  vertical-align: center;
}

.MFDTopTabNavigatorContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 2px;
}

.MFDTopTabNavigatorBar {
  display: flex;
}

.MFDTopTabNavigatorBarElementOuter {
  display: flex;
  flex: 1;
  border-bottom: 2px solid $display-light-grey;
}

.MFDTopTabNavigatorBarElementLabel {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: $display-mfd-dark-grey;
  border-top: 2px solid $display-light-grey;
  padding: 6px 0px 2px 0px;
}

.MFDTopTabNavigatorBarElementLabel.active {
  background-color: $display-background;
}

.MFDTopTabNavigatorBarElementLabel:hover {
  border: 2px outset $display-cyan;
}

.MFDTopTabNavigatorBarElementOuter.active {
  background-color: $display-background;
  border-bottom-style: none;
}

.MFDTopTabNavigatorTabContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 2px outset $display-light-grey;
  border-top-style: none;
  padding: 10px;
  overflow: hidden;
}

.MFDLabelValueContainer {
  padding: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.MFDRadioButton{
  -webkit-appearance: none; /* WebKit */
  -moz-appearance: none; /* Mozilla */
  -o-appearance: none; /* Opera */
  -ms-appearance: none; /* Internet Explorer */
  appearance: none; /* CSS3 */
  font-size: 26px;
  display: flex;
  align-items: center;
  border: 2px solid transparent;
}

.MFDRadioButton + .MFDRadioButton {
  margin-top: 5px;
}

.MFDRadioButton input[type="radio"] {
  appearance: none; /* CSS3 */
  background-color: $display-background;
  width: 30px;
  height: 30px;
  border: 2px inset lightgray;
  border-radius: 50%;
  margin-right: 15px;
  display: grid;
  place-content: center;
}

.MFDRadioButton input[type="radio"]::after {
  display: none;
}


.MFDRadioButton input[type="radio"]:checked {
  background: cyan;
  box-shadow: inset 0 0 0px 4px black;
}


.MFDRadioButton input[type="radio"]:checked {
  background: cyan;
  box-shadow: inset 0 0 0px 4px black;
}

.MFDRadioButton input[type="radio"]:checked ~ * {
  color: cyan;
}

.MFDRadioButton:hover {
  border: 2px outset cyan;
}

.select {
  display:flex;
  flex-direction: column;
  position:relative;
  width:200px;
  height:100px;
}
.option {
  padding:0 30px 0 10px;
  min-height:40px;
  display:flex;
  align-items:center;
  background:rgb(9, 184, 67);
  border-top:#222 solid 1px;
  position:absolute;
  top:0;
  width: 100%;
  order:2;
  z-index:1;
  box-sizing:border-box;
  overflow:hidden;
  white-space:nowrap;

}
.option:hover {
  background:rgb(8, 145, 26);
}

input {
  opacity:1;
  position:absolute;
  left:99px;
}

input:checked + label {
  order: 2;
  z-index:2;
  background:#666;
  border-top:none;
  position:relative;
}

input:checked + label:before {
  content:'';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  position:absolute;
  right:10px;
  top:calc(50% - 2.5px);
  z-index:3;
}

input:checked + label:after {
  display: none;
  position:absolute;
  right:50;
  height: 40px;
  width: 40px;
  content: '';
  background:#666;
}
