@import "../Common/definitions";

@font-face {
  font-family: "Ecam";
  //noinspection CssUnknownTarget
  src: url("/fonts/ECAMFontRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.ewd-svg {
  position: absolute;
  width: 768px;
  height: 768px;
  background: $display-background;
  font-family: "Ecam", monospace !important;
}
