.toolbar {
  $padding: 1em;
  $spacing-padding: 2.25rem;
  background: var(--cardBackground);
  width: 1430px;
  padding: 3.75em $padding $padding $spacing-padding;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: fixed;

  .tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: $spacing-padding;

    & > div:hover {
      border-bottom: solid var(--toolbarUnderlineColor) 0.1em;
    }

    img.FBW-Logo {
      width: 2.25em;
    }

    .tab {
      margin-right: $spacing-padding;
      padding-bottom: 0.135em;

      font-family: "Nunito Sans", sans-serif;
      font-size: 1.25rem;
      font-weight: 400;

      color: var(--mainText);

      cursor: pointer;

      &.active {
        border-bottom: solid var(--toolbarUnderlineColor) 0.1em;
      }

      &.active:hover {
        border-bottom: solid var(--toolbarUnderlineColor) 0.1em;
      }

      a {
        color: inherit;
        text-decoration: inherit;
      }
    }
  }

  .profile-toolbar {
    margin-left: auto;
    margin-top: 5px;
    margin-right: 2.25em;
    display: flex;
    align-items: flex-start;
    font-weight: 600;
    font-size: 1.3rem;
    color: var(--profileText);

    a {
      color: inherit;
      text-decoration: inherit;
    }
  }
}
