@import "../../../Common/definitions.scss";

#hyd-page {

  .PageTitle {
    font-size: $font-size-title;
    text-decoration: underline;
    fill: $display-white;
    text-anchor: middle !important;
  }

  .EngineNumber {
    font-size: $font-size-title;
    text-anchor: middle !important;
  };

  .title {
      font-size: $font-size-huge;
      fill: $display-white;
      text-anchor: middle !important;
  }

  .pressure {
      font-size: $font-size-huge;
      fill: $display-green;
      text-anchor: middle !important;
  }

  .psi {
    font-size: $font-size-medium;
    fill: $display-cyan;
    text-anchor: middle !important;
  }

  .rat-ptu-elec {
    font-size: $font-size-larger;
    text-anchor: middle !important;
  }

  .no-fill {
    fill: none;
  }

  .fill-green {
    fill: $display-green;
  }

  .fill-amber {
    fill: $display-amber;
  }

  .fill-white {
    fill: $display-white;
  }

  .green-line {
    stroke: $display-green;
    stroke-width: 2;
  }

  .amber-line {
    stroke: $display-amber;
    stroke-width: 2;
  }

  .white-line {
    stroke: $display-white;
    stroke-width: 2;
  }

  .hide {
    display:none;
  }


}
