#time {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  position: fixed;
  z-index: 1000;
  padding: 0.25rem;
  text-align: center;
  width: 1430px;
  color: var(--mainText);
}