/** This mixin makes a single line element fit exactly on the Roboto font for easier integration. */
.notifications {
    display: block;
    position: relative; }
    .notifications .notification-area {
      position: absolute;
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap; }
      .notifications .notification-area#bottom {
        margin: 0 auto;
        max-width: calc(var(--screenHeight) * (808px / 1080));
        left: 0;
        right: 0;
        bottom: calc(var(--screenHeight) * (60px / 2160)); }
      .notifications .notification-area#top {
        margin: 0 auto;
        width: calc(var(--screenHeight) * (1092px / 2160));
        left: calc(var(--screenHeight) * (622px / 2160));
        top: calc(var(--screenHeight) * (36px / 2160));
        min-height: 50px; }
        .notifications .notification-area#top > * + * {
          margin-top: calc(var(--screenHeight) * (24px / 2160)); }
      .notifications .notification-area#center {
        align-items: center;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0; }
    .notifications #message {
      position: absolute;
      max-width: calc(var(--screenHeight) * (1150px / 2160));
      transition: bottom 0.3s ease-in-out;
      top: calc(var(--screenHeight) * (215px / 1080));
      left: 50%;
      transform: translateX(-50%); }
      .notifications #message.statePaused {
        right: 6.2vh;
        left: auto;
        top: 2vh;
        transform: none; }
    .notifications #objective {
      position: absolute;
      right: calc(var(--screenHeight) * (20px / 1080));
      top: 2vh; }
    .notifications #popup {
      transition: bottom 0.3s ease-in-out; }
    .notifications #gameplay {
      position: absolute;
      top: calc(var(--screenHeight) * (280px / 1080));
      max-width: calc(var(--screenHeight) * (1400px / 2160));
      left: 50%;
      transform: translateX(-50%); }
    .notifications #tips {
      position: absolute;
      right: calc(var(--viewportWidthRatio) * 1.0416666667vw);
      top: 20vh; }
    .notifications #tooltip {
      position: absolute;
      left: var(--posLeft);
      width: fit-content;
      max-width: calc(var(--screenHeight) * (600px / 1080));
      top: calc(var(--posTop)); }
