@import "../../../../MsfsAvionicsCommon/definitions";

.mfd-data-status-pse-label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 20px;
}

.mfd-data-status-pse-label.no-margin {
  margin-bottom: 0px;
}

.mfd-data-status-pse-value {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.mfd-data-status-pse-value.no-margin {
  margin-bottom: 0px;
}

.mfd-data-status-airframe-label {
  width: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 200px;
}

.mfd-data-status-performance-row {
  border: 1px solid $display-light-grey;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mfd-data-status-first-section-divider {
  width: 100%;
  border: 1px outset $display-light-grey;
 height: 1px;
}


.mfd-data-status-second-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 2px solid $display-light-grey;
}

.mfd-data-status-third-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 15px;
}
