@import "../../../../MsfsAvionicsCommon/definitions";

.mfd-data-waypoint-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.mfd-data-waypoint-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.mfd-data-latlong-text {
  display: flex;
  flex-direction: row;
}
