@import "../../../../MsfsAvionicsCommon/definitions";

.mfd-data-navaid-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
    right: 20px;
}

.mfd-data-airport-information-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.mfd-data-airport-pse-label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 20px;
}

.mfd-data-airport-pse-value {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.mfd-fms-data-apt-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 520px;
    margin: 0px 0px 60px 0px;
    border: 2px outset #c4c6cf;
    padding: 15px;
}

.mfd-data-navaid-information-row {
    font-size: 21px;
    flex-direction: column;
    justify-content: space-evenly;
    display: flex;
    height: 600px;
    position: absolute;
    left: 55px;
    text-align: right;
    width: 200px;
}

.mfd-data-navaid-information-row.right {
    left: 275px;
    text-align: left;
}

.new-navaid-container {
    display: flex;
    flex-direction: column;
}

.mfd-data-navaid-options {
display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 550px;
    justify-content: space-evenly;
    margin-left: 150px;
}

.mfd-data-navaid-options .option {
    display: flex;
    align-items: center;
}

.mfd-data-navaid-options .mfd-dropdown-container {
    margin-left: 10px;
}

.mfd-value.indent-0 {
    margin-left: 20px;
}

.mfd-value.indent-1 {
    margin-left: 40px;
}
