.runway {
  background-color: #1f1f1f;
}

.disabled {
  background-color: #303747;
}

.error {
  text-align: center;
  background-color: #c42c2c;
}

.error-message,
.error-label {
  color: #c42c2c;
}

.error-label {
  background-color: #c42c2c;
}

.error-message {
  text-align: center;
}
