name: PR Closed
on:
  pull_request_target:
    types:
      - closed

jobs:
  cancel:
    name: Cancel other workflows
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: write
    steps:
      - name: Cancel PR build
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          ignore_sha: true
          workflow_id: "pr-build.yml"

      - name: Cancel PR build (8K)
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          ignore_sha: true
          workflow_id: "pr-build-8k.yml"
  remove-from-qa-config:
    name: Remove PR from QA Config
    runs-on: ubuntu-latest
    steps:
      - name: Checkout trusted source
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.base.ref }}
      - name: Install dependencies
        run: |
          sudo apt-get install -y rclone
      - name: Configure rclone for Cloudflare R2
        run: |
            mkdir -p ~/.config/rclone
            cat > ~/.config/rclone/rclone.conf <<EOF
            [cloudflare-r2]
            type = s3
            provider = Cloudflare
            env_auth = false
            access_key_id = ${{ secrets.CLOUDFLARE_R2_ACCESS_KEY_ID }}
            secret_access_key = ${{ secrets.CLOUDFLARE_R2_SECRET_ACCESS_KEY }}
            endpoint = ${{ secrets.CLOUDFLARE_R2_ENDPOINT }}
            region = auto
            EOF
      - name: Remove QA config entries
        env:
          PR_NUMBER: ${{ github.event.pull_request.number }}
          ADDON_KEYS: a32nx-msfs2020,a32nx-msfs2024,a380x-msfs2020,a380x-msfs2024
          CLOUDFLARE_CDN_ZONE_ID: ${{ secrets.CLOUDFLARE_CDN_ZONE_ID }}
          CLOUDFLARE_PURGE_TOKEN: ${{ secrets.CLOUDFLARE_PURGE_TOKEN }}
          CDN_BUCKET_DESTINATION: installer/qa-config
        run: |
          node ./scripts/remove_qa_config.js
          ./scripts/cf-cdn.sh ./qa-config $CDN_BUCKET_DESTINATION
      - name: Remove PR files from CloudFlare CDN
        env:
          R2_BUCKET: flybywiresim
          CDN_BUCKET_DESTINATION_A32NX: addons/a32nx/pr-${{ github.event.pull_request.number }}
          CDN_BUCKET_DESTINATION_A380X_4K: addons/a380x/pr-${{ github.event.pull_request.number }}-4k
          CDN_BUCKET_DESTINATION_A380X_8K: addons/a380x/pr-${{ github.event.pull_request.number }}-8k
        run: |
          rclone delete cloudflare-r2:$R2_BUCKET/$CDN_BUCKET_DESTINATION_A32NX || true
          rclone delete cloudflare-r2:$R2_BUCKET/$CDN_BUCKET_DESTINATION_A380X_4K || true
          rclone delete cloudflare-r2:$R2_BUCKET/$CDN_BUCKET_DESTINATION_A380X_8K || true
